.AddElement {
    height: 15px;
    padding: 0px 14px;
    margin: 0px;
    background: transparent;
    display: none;
    overflow: hidden;
    z-index: 9;
}

.AddElement .AddElement-segment {
    display: block;
    color: hsl(0,0%,60%);
    background: transparent;
    height: 2px;
    margin-top: 8px;
    pointer-events: none;
}

.AddElement .AddElement-segment input{
    background-color: transparent;
    text-align: center;
    border: 0px;
    padding: 0 10px;
    border-radius: 22px;
    line-height: 22px;
    font-size: 11px;
}

.AddElement.sibling.before {
    height: 16px;
}

.AddElement--dropTarget .AddElement-segment{
    background: hsl(214, 100%, 50%);
}

.AddElement.dropover {
    display: block;
}

.NodeCell-child {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
}
.NodeCell-before {
    position: absolute;
    top: -4px;
    left: 0;
    width: 100%;
    z-index: 9;
}
.NodeCell-after {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    z-index: 2;
}
.NodeCell-after .AddElement-segment {
    margin-top: 0;
}

.NodeCellWrapper {
    position: relative;
}
