.AddElement {
    margin: 0px;
    padding: 3px 22px;
    margin: 0px;
    background: hsl(0,0%,92%);
    display: none;
}

.AddElement .AddElement-segment {
    border: 2px dashed hsl(0,0%,84%);
    border-radius: 22px;
    display: inline-block;
    text-align: center;
    width: 140px;
    font-size: 11px;
    line-height: 22px;
    color: hsl(0,0%,60%);
}

.AddElement .AddElement-segment input{
    background-color: transparent;
    text-align: center;
    border: 0px;
    padding: 0 10px;
    border-radius: 22px;
    line-height: 22px;
    font-size: 11px;
}

.AddElement.child .AddElement-segment:before {
    content: "<child element />";
}
.AddElement.sibling .AddElement-segment:before {
    content: "<sibling element />";
}

.AddElement.sibling.before .AddElement-segment:before {
    content: "<previous element />";
}
.AddElement.sibling.after .AddElement-segment:before {
    content: "<next element />";
}

.AddElement.sibling.before {
    margin-left: 0px;
}

.AddElement--dropTarget .AddElement-segment{
    color: hsl(216,100%,66%);
    border-color: hsl(216,100%,72%);
}

.AddElement.dropover {
    display: block;
}