.MenuItem {

}

.MenuItem-button {
    display: block;
}

/* display the key shortcut */
.MenuItem-button[data-shortcut]:after {
    content: attr(data-shortcut);
    padding: 0 2px;
    margin-left: 16px;
    margin-top: 3px;
    float: right;
    border-radius: 4px;
    border: 1px solid hsl(0, 0%, 50%);
    font-size: 10px;
    line-height: 14px;
}
.MenuItem-button[data-shortcut]:hover:after {
    border-color: hsl(0, 0%, 81%);
}

.MenuItem-button.subMenu:after {
    content: "\25B6";
    margin-left: 8px;
    float: right;
}

.MenuItem-button.matte-Button.selected,
.MenuItem-button.matte-Button.over {
    background-color: hsla(0,0%,28%,1);
}

/* MenuItem disabled */
.MenuItem-button.matte-Button.disabled {
    color: hsl(0, 0%, 40%);
    cursor: default;
}
.MenuItem-button.matte-Button.disabled:hover {
    background: hsla(0,0%,0%,0);
}

.MenuItem-button.disabled[data-shortcut]:after {
    border-color: hsl(0, 0%, 40%);
}


.MenuItem.Flashing .MenuItem-button.matte-Button {
    -webkit-animation: flashing .5s;
    -moz-animation: flashing .5s;
    -ms-animation: flashing .5s;
    animation: flashing .5s;
}

@-webkit-keyframes flashing {
    0% { background-color: hsla(0,0%,0%,0); }
    50% { background-color: hsla(0,0%,28%,1); }
    100% { background-color: hsla(0,0%,0%,0); }
}

@-moz-keyframes flashing {
    0% { background-color: hsla(0,0%,0%,0); }
    50% { background-color: hsla(0,0%,28%,1); }
    100% { background-color: hsla(0,0%,0%,0); }
}

@-ms-keyframes flashing {
    0% { background-color: hsla(0,0%,0%,0); }
    50% { background-color: hsla(0,0%,28%,1); }
    100% { background-color: hsla(0,0%,0%,0); }
}

@keyframes flashing {
     0% { background-color: hsla(0,0%,0%,0); }
    50% { background-color: hsla(0,0%,28%,1); }
   100% { background-color: hsla(0,0%,0%,0); }
}



/* list ------------------------- */
.MenuItem-ContextualMenu-list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ContextualMenu-list-item {
    padding: 0;
    margin: 0;
}

/* button ----------------------- */
.MenuItem-ContextualMenu-list button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    text-align: left;
    height: 33px;
    min-height: 23px;
    line-height: 20px;
    min-width: 0;
    width: 100%;
    margin: 0;
    border-radius: 0;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: hsl(0, 0%, 60%);
    background: hsla(0,0%,0%,0);
}

.MenuItem-ContextualMenu-list button:hover {
    color: hsl(0, 0%, 81%);
    background-color: hsl(0, 0%, 36%);
}

.MenuItem-ContextualMenu-list .matte-Button.active {
    border-color:  hsl(0, 0%, 22%);
    background-color: hsl(0, 0%, 24%);
}
.MenuItem-ContextualMenu-list button:focus {
    border-color: hsl(0, 0%, 22%);
}

