.BindingExplorer-addButton {
    display: block;
    width: 14px;
    height: 14px;
}

.BindingExplorer-addButton {
    background: url(/assets/icons/binding.png) no-repeat center;
    background-size: auto 14px
}
