.AssetsLibrary {
    -webkit-flex: 0 1 190px;
    font-size: 12px;
    text-shadow: 0 1px 0 hsla(0,0%,100%,0.4);
    padding: 0;
    background: hsl(0, 0%, 96%);
    border-top: 1px solid hsl(0, 0%, 75%);
}
