
/* Window size: ~ 900x540 */

.Welcome {
    display: -webkit-flex;
    height: 100%;
    padding: 40px;
    text-shadow: 0 1px 0 hsla(0,0%,100%,.5);
    background: hsl(0,0%,95%) -webkit-radial-gradient( hsl(0,0%,98%), hsl(0,0%,90%) );
    -webkit-user-select: none;
    cursor: default;
}


/* Intro --------------------------------- */

.Intro {
    -webkit-flex: 1;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    padding: 20px;
    -webkit-animation: Intro-fade .4s cubic-bezier(0, 0.7, 0.3, 1);
}

@-webkit-keyframes Intro-fade {
    0% {
        opacity: 0;
        -webkit-transform: translateX(60px);
    }
}

.Intro a,
.Intro a:active {
    text-decoration: none;
    font-weight: bold;
    color: hsl(0, 0%, 0%);
}

.Intro a:hover {
    color: hsl(0, 0%, 30%);
}

.Intro-logo {
    width: 200px;
    height: 200px;
    /* Using background image to fix Flexbox + Image resize issue. */
    background: url(../../../assets/img/logo.png) no-repeat center;    
    background-size: auto 100%;
}

.Intro-version {
    font-size: 11px;
    color: hsl(0, 0%, 70%);
    text-align: center;
    -webkit-user-select: text;
    cursor: text;
}

.Intro-help {
    max-width: 400px;
    margin: 20px 0 0 0;
    font-size: 13px;
    color: hsl(0, 0%, 40%);
}

.Intro-meta {
    font-size: 11px;
    color: hsl(0, 0%, 70%);
    text-align: center;
}


/* Launcher --------------------------------- */

.Launcher {
    -webkit-flex: 1;
    max-width: 340px;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    padding: 0 20px;
    -webkit-animation: Launcher-fade .4s cubic-bezier(0, 0.7, 0.3, 1);
}

@-webkit-keyframes Launcher-fade {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-60px);
    }
}

.Launcher-section {
    margin: 10px 0;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid hsla(0, 0%, 0%, .1);
    background: hsla(0,0%,0%,.04);
    box-shadow: inset 0 1px 5px hsla(0,0%,0%,0.06), 0 1px 0 hsla(0,0%,100%,1);
}

.Launcher-title {
    margin: 0 0 12px 0;
    font-size: 18px;
    font-weight: normal;
    color: hsl(0, 0%, 50%);
    text-shadow: 0 1px 0 hsla(0, 0%, 100%, .3);
}

/* Action --------------------------------- */

.Launcher-section.Action {
    display: -webkit-flex;
    padding: 15px 7px;
}

.Action-button {
    -webkit-flex: 1;
    position: relative;
    margin: 0 8px;
    padding-left: 3.2em;
    font-size: 16px;
    color: hsla(0,0%,100%,1);
    text-shadow: 0 1px 0 hsla(0,0%,0%,.1);
    border-radius: 4px;
    background-color: hsl(210,100%,56%);
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.15), 0 1px 0 hsla(0,0%,100%,.6);
}

.Action-button:hover {
    color: hsla(0,0%,100%,1);
}

.Action-button.active {
    box-shadow: 0 1px 0 hsla(0,0%,100%,.6);
}

.Action-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 2.5em;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    border-right: 1px solid hsla(0,0%,0%,.06);
    background: hsla(0,0%,0%,.06) no-repeat center;
}


/* New */ 

.Action-button--new {
    border-color: hsl(210,100%,56%);
    background-image: -webkit-linear-gradient(top, hsl(210,100%,72%), hsl(210,100%,62%) );
}

.Action-button--new:hover {
    background-image: -webkit-linear-gradient(top, hsl(210,100%,76%), hsl(210,100%,64%) );
}

.Action-button--new.active {
    background-image: -webkit-linear-gradient(top, hsl(210,100%,66%), hsl(210,100%,56%) );
}

.Action-button--new:before {
    background-image: url(../../assets/images/plus.svg);
}


/* Open */ 

.Action-button--open {
    border-color: hsl(170,80%,40%);
    background-image: -webkit-linear-gradient(top, hsl(170,80%,48%), hsl(170,80%,42%) );
}

.Action-button--open:hover {
    background-image: -webkit-linear-gradient(top, hsl(170,80%,50%), hsl(170,80%,44%) );
}

.Action-button--open.active {
    background-image: -webkit-linear-gradient(top, hsl(170,80%,44%), hsl(170,80%,38%) );
}

.Action-button--open:before {
    background-image: url(../../assets/images/open.svg);
}


/* List --------------------------------- */

.isFirstRun .History {
    display: none;
}

.History {
    -webkit-flex: 1;
    display: -webkit-flex;
    -webkit-flex-direction: column;
}

.History-list {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: scroll;
    -webkit-flex: 1 1 0;
    min-height: 0;
}

.History-list-item {
    padding: 8px 16px;
    font-size: 14px;
    line-height: 24px;
    border-top: 1px solid hsla(0, 0%, 100%, .5);
    border-bottom: 1px solid hsla(0, 0%, 0%, .1);
    background-color: hsla(0,0%,100%,.6);
    cursor: pointer;    
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.History-list-item:hover {
    background-color: hsla(0,0%,100%,.8);
}

.History-list-item:active {
    border-top: 1px solid hsla(0, 0%, 100%, .1);
    background-color: hsla(210,100%,50%,.1);
}



/* Show At Startup --------------------------------- */

.ShowAtStartup {
    font-size: 12px;
    color: hsl(0,0%,60%);
}

.ShowAtStartup .matte-InputCheckbox {
    margin: 0 4px 0 0;
    vertical-align: bottom;
    border: 1px solid hsla(0, 0%, 0%, .1);
    background-color: hsla(0,0%,0%,.04);
    box-shadow: inset 0 1px 5px hsla(0,0%,0%,0.06), 0 1px 0 hsla(0,0%,100%,.6);
}

