.SearchModulesCell {
    margin-bottom: 10px;
    display: -webkit-flex;
    -webkit-flex: 1;
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color: hsl(0,0%,96%);
    border: 1px solid hsl(0,0%,70%);
    border-radius: 5px;
    overflow: hidden;
    padding: 8px;
}

.SearchModulesCell:-webkit-drag {
    background: hsla(0,0%,100%,.8) !important;
    text-align: center;
    font-size: 22px;
}

.SearchModulesCell:-webkit-drag .SearchModulesCell-action,
.SearchModulesCell:-webkit-drag .SearchModulesCell-information--shift {
    display: none;
}

.SearchModulesCell-information {
    padding: 4px;
    -webkit-flex: 3;
    flex: 3;
}

.SearchModulesCell-information > * {
    display: block;
}

.SearchModulesCell-information--name {
    text-transform: capitalize;
    font-size: 14px;
}

.SearchModulesCell-information--version {
    font-style: italic;
    margin-bottom: 8px;
    font-size: 12px;
    text-indent: 6px;
}

.SearchModulesCell-information--shift {
    margin-left: 60px;
    font-size: 12px;
}

.SearchModulesCell-information--header {
    margin: 0 0 3px 0;
    padding: 0;
    font-size: 12px;
}

.SearchModulesCell-information--header:first-of-type {
    display: inline-block;
}

.SearchModulesCell-information--header.hidden,
.SearchModulesCell-information--author.hidden {
    display: none;
}

.SearchModulesCell-information--author {
    text-indent: 4px;
    display: inline-block;
}

.SearchModulesCell-information--description {
    margin-left: 15px;
    display: inline-block;
}

.SearchModulesCell-action {
    display: -webkit-flex;
    -webkit-flex: 1;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    min-width: 178px;
}

.SearchModulesCell-action button {
    height: 30px;
    margin-right: 15px;
}

.SearchModulesCell-action .SearchModulesCell-action--install.matte-Button.disabled:hover,
.SearchModulesCell-action .SearchModulesCell-action--install.matte-Button.disabled:active {
    color: inherit;
    background-color: inherit;
}
