.SearchModulesCell {
    margin-bottom: 10px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    background-color: hsl(0, 0%, 96%);
    border: 1px solid hsl(0, 0%, 84%);
    border-radius: 5px;
    overflow: hidden;
    padding: 8px;
}

.SearchModulesCell:-webkit-drag,
.SearchModulesCell:-moz-drag,
.SearchModulesCell:-ms-drag,
.SearchModulesCell:drag {
    background: hsla(0,0%,100%,.8) !important;
    text-align: center;
    font-size: 22px;
}

.SearchModulesCell:-webkit-drag .SearchModulesCell-action,
.SearchModulesCell:-moz-drag .SearchModulesCell-action,
.SearchModulesCell:-ms-drag .SearchModulesCell-action,
.SearchModulesCell:drag .SearchModulesCell-action,
.SearchModulesCell:-webkit-drag .SearchModulesCell-information--shift,
.SearchModulesCell:-moz-drag .SearchModulesCell-information--shift,
.SearchModulesCell:-ms-drag .SearchModulesCell-information--shift,
.SearchModulesCell:drag .SearchModulesCell-information--shift {
    display: none;
}

.SearchModulesCell-information {
    padding: 4px;
    -webkit-flex: 3;
    -moz-flex: 3;
    -ms-flex: 3;
    flex: 3;
}

.SearchModulesCell-information--name {
    text-transform: capitalize;
    font-size: 14px;
    display: block;
}

.SearchModulesCell-information--version {
    font-style: italic;
    margin-bottom: 8px;
    font-size: 12px;
    text-indent: 8px;
    color: hsl(0, 0%, 50%);
    display: block;
}

.SearchModulesCell-information--shift {
    margin-left: 8px;
    font-size: 12px;
}

.SearchModulesCell-information--header {
    margin: 0 0 3px 0;
    padding: 0;
    font-size: 12px;
}

.SearchModulesCell-information--header:first-of-type {
    display: inline-block;
}

.SearchModulesCell-information--header.hidden,
.SearchModulesCell-information--author.hidden {
    display: none;
}

.SearchModulesCell-information--author {
    text-indent: 4px;
    display: inline-block;
}

.SearchModulesCell-information--description {
    margin-left: 15px;
    display: inline-block;
}

.SearchModulesCell-action {
}

.SearchModulesCell-action button {
    /* height: 30px; */
    margin: 8px 8px 0 0;
}

.SearchModulesCell-action .SearchModulesCell-action--install.matte-Button.disabled:hover,
.SearchModulesCell-action .SearchModulesCell-action--install.matte-Button.disabled:active {
    color: inherit;
    background-color: inherit;
}
