.Intro {
    -webkit-flex: 1;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    padding: 50px;
    background: hsl(0,0%,95%);
}

.Intro a,
.Intro a:active {
    text-decoration: none;
    font-weight: bold;
    color: hsl(0,0%,0%);
}

.Intro a:hover {
    color: hsl(0,0%,30%);
}

.Intro-box {
    text-align: center;
}

.Intro-logo {
    width: 180px;
}

.Intro-version {
    font-size: 11px;
    color: hsl(0,0%,70%);
    text-align: center;
}

.Intro-title {
    margin: 80px 0;
    font-size: 24px;
}

.Intro-help {
    max-width: 400px;    
    margin: 20px 0 0 0;
    font-size: 13px;
    color: hsl(0,0%,40%);
}

.Intro-meta {
    font-size: 11px;
    color: hsl(0,0%,70%);
    text-align: center;
}
