.NodeCell {
    position: relative;
    background: hsl(0,0%,96%);
}

.NodeCell:hover .NodeCell-segment {
    background: hsl(0,0%,86%);
}

.NodeCell-segment {
    display: -webkit-inline-flex;
    margin: 2px 0;
    font-size: 0;
    border-radius: 22px;
    background: hsl(0,0%,90%);
}

.NodeCell-segment-item {
    display: block;
    padding: 0 12px;
    font-size: 11px;
    line-height: 22px;
    color: hsl(0, 0%, 30%);
}

.NodeCell-segment-item--tag {
    color: hsl(0,0%,60%);
    text-transform: lowercase;
}

.NodeCell--owner .NodeCell-segment-item--tag {
    background: hsl(43, 100%, 85%);
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

.NodeCell-segment-item--montageId {
    border-left: 1px solid hsla(0,0%,0%,.1);
    font-weight: bold;
    font-style: italic;
}

.NodeCell-segment-item--component {
    padding-left: 10px;
    border-radius: 0 11px 11px 0;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.64);
    border-left: 1px solid hsl(210, 100%, 84%);
    background: hsl(210, 100%, 90%);
}


/* Remove Button ---------------------------- */

.NodeCell:hover .NodeCell-removeButton {
    visibility: visible;
}   

.NodeCell .NodeCell-removeButton {
    visibility: hidden;
    width: 22px;
    height: 22px;
    min-width: 22px;
    margin: 0;
    padding: 0;
    line-height: 0;
    font-size: 12px;
    color: hsl(0,0%,60%);
    text-shadow: 0 1px hsla(0,0%,100%,0.4);
    border-radius: 11px;
    border: 1px solid hsl(0,0%,90%);
    background: transparent;
}

.NodeCell .NodeCell-removeButton:hover {
    border-color: hsl(0,0%,76%);
    background: -webkit-linear-gradient( hsl(120,0%,97%), hsl(120,0%,88%) );
}

.NodeCell .NodeCell-removeButton.active {
    background: hsl(0,0%,84%);
    box-shadow: 0 1px 2px hsla(0,0%,0%,.06);
}



/* Add Buttons ---------------------------- */

.NodeCell .NodeCell-button:hover {
    background: transparent;
    opacity: 1;
}

.NodeCell .NodeCell-button {
    opacity: 0;
    position: absolute;
    width: 200px;
    height: 12px;
    border-radius: 0;
    border: none;
    background: transparent;
}

.NodeCell .NodeCell-button--before {
    left: 4px;
    top: -6px;
    z-index: 1;
}

.NodeCell .NodeCell-button--after {
    left: 4px;
    top: 20px;
    z-index: 2;
}

.NodeCell .NodeCell-button--child {
    left: 24px;
    top: 20px;
    z-index: 3;
}

/* Icons ---------------------------- */

.NodeCell-button-icon {
    position: absolute;
    top: 0;
    left: 0;    
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    border-radius: 6px;
    background: hsl(208,100%,50%) url(../../../assets/icons/dom-add.png) no-repeat center;
    background-size: 12px;
}

.NodeCell-button-icon:after {
    content: "";
    position: absolute;
    left: 10px;
    top: 5px;
    width: 180px;
    height: 2px;
    background: -webkit-linear-gradient(left, hsl(208,100%,50%), hsla(208,100%,50%,0) );
}
