.NodeCell {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    position: relative;
    /* background: hsl(0,0%,92%); */

    /*height: 24px;*/
    overflow: hidden;
    border-radius: 22px;
    -webkit-transition: height .4s ease-in-out, margin-top .4s ease-in-out, margin-bottom .4s ease-in-out;
    -moz-transition: height .4s ease-in-out, margin-top .4s ease-in-out, margin-bottom .4s ease-in-out;
    transition: height .4s ease-in-out, margin-top .4s ease-in-out, margin-bottom .4s ease-in-out;
}


/* NodeCell-elementInfo ------------------------- */

.NodeCell-content {
    margin: 3px 14px 3px 0px;
    border-radius: 10px;
    background: hsl(0,0%,96%);
    border: 1px solid hsl(0, 0%, 80%);
    width: 100%;
}

.NodeCell-elementInfo {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    /* border-radius: 22px; */

    height: 22px;
    -webkit-transition: opacity .4s ease-in-out, height .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out, height .4s ease-in-out;
    transition: opacity .4s ease-in-out, height .4s ease-in-out;
    width: 100%;
    /* overflow: hidden; */
    /* height: 0px; */
}

.NodeCell--highlighted .NodeCell-content {
    background: hsl(210,100%,92%);
}

.NodeCell--dragged .NodeCell-elementInfo {
    opacity: 0.4;
}

.NodeCell--selected .NodeCell-content {
    border: 1px solid hsl(210,100%,60%);
}


/* NodeCell-elementInfo-item ------------------------- */
.NodeCellWrapper .NodeCell-elementInfo-elementInfo {
    height: 22px;
    -webkit-transition: height .4s ease-in-out, opacity .4s ease-in-out;
}

.NodeCell-elementInfo-item {
    display: inline-block;
    padding: 0 12px;
    line-height: 1.6em;
    color: hsl(0, 0%, 30%);
    overflow: hidden;

    -webkit-transition: padding-left .4s ease-in-out, padding-right .4s ease-in-out, font-size .4s ease-in-out, border-left-width .4s ease-in-out;
    -moz-transition: padding-left .4s ease-in-out, padding-right .4s ease-in-out, font-size .4s ease-in-out, border-left-width .4s ease-in-out;
    transition: padding-left .4s ease-in-out, padding-right .4s ease-in-out, font-size .4s ease-in-out, border-left-width .4s ease-in-out;
}

.NodeCell-elementInfo-item--tag {
    color: hsl(0,0%,60%);
    text-transform: lowercase;
}

.NodeCell-elementInfo-item--montageId {
    border-left: 1px solid hsla(0,0%,0%,.1);
    font-weight: bold;
    font-style: italic;
}

.NodeCell-elementInfo-item--montageArg {
    border-left: 1px solid hsla(0,0%,0%,.1);
    font-weight: normal;
    background-color: hsl(75,44%,85%);
}

.NodeCell-elementInfo-item--montageParam {
    border-left: 1px solid hsla(0,0%,0%,.1);
    font-weight: normal;
    background-color: hsla(85,60%,85%, 0.3);
}

.NodeCell-elementInfo-item--montageId.TextEditorField--editing,
.NodeCell-elementInfo-item--montageArg.TextEditorField--editing
.NodeCell-elementInfo-item--montageParam.TextEditorField--editing {
    z-index: 10;
    box-shadow: 0 0 0 1px hsl(210,100%,70%);
    background-color: hsla(210,100%,60%,0.1);
}

.NodeCell-elementInfo .NodeCell-elementInfo-item.NodeCell-elementInfo-item--component {
    padding-left: 10px;
    border-radius: 0 11px 11px 0;
    font-weight: bold;
    border-left: 1px solid hsl(210, 100%, 84%);
    background: hsl(210, 100%, 90%);
    padding-right: 12px;
}

.NodeCell--owner .NodeCell-elementInfo-item.NodeCell-elementInfo-item--component {
    background: hsl(43, 100%, 85%);
    border-left-color: hsl(43, 100%, 65%);
}

.NodeCell--dropTarget .NodeCell-elementInfo {
    padding: 0px;
    border: 2px;
    border-style: dashed;
    border-color: hsl(216,100%,70%);
    margin-top: 1px;
    margin-bottom: 1px;
}


.NodeCell--noChildren .NodeCell{
    padding-left: 14px;
}


/* Overrides ---------------------------- */

.NodeCell .matte-InputText {
    border: none;
    margin: 0;
    border-radius: 0;
    background-color: transparent;
    width: 100px;
    height: 20px;
    padding: 0;
    font-size: inherit;
    line-height: 20px;
    font-weight: inherit;
    font-style: inherit;
}

.NodeCell .montage-Text {
    white-space: nowrap;
}


/* Remove Button ---------------------------- */

.NodeCell:hover .NodeCell-removeButton {
    visibility: visible;
}

.NodeCell .NodeCell-removeButton {
    visibility: hidden;
}

.NodeCell .NodeCell-removeButton.matte-Button {
    margin-left: 4px;
}



/* Add Buttons ---------------------------- */

.NodeCell .NodeCell-button {
    opacity: 0;
    position: absolute;
    width: 200px;
    height: 12px;
    border-radius: 0;
    border: none;
    background: transparent;
    box-shadow: none;
}

.NodeCell .NodeCell-button:hover,
.NodeCell .NodeCell-InsertionButton--dropTarget {
    background: transparent;
    opacity: 1;
}

.NodeCell .NodeCell-button--before {
    left: 4px;
    top: -6px;
    z-index: 1;
}

.NodeCell .NodeCell-button--after {
    left: 4px;
    top: 20px;
    z-index: 2;
}

.NodeCell .NodeCell-button--child {
    left: 24px;
    top: 20px;
    z-index: 3;
}

/* Icons ---------------------------- */

.NodeCell-button-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    border-radius: 6px;
    background: hsl(208,100%,50%) url(../../../assets/icons/dom-add.png) no-repeat center;
    background-size: 12px;
}

.NodeCell-button-icon:after {
    content: "";
    position: absolute;
    left: 10px;
    top: 5px;
    width: 180px;
    height: 2px;
    background: -webkit-linear-gradient(left, hsl(208,100%,50%), hsla(208,100%,50%,0) );
    background: -moz-linear-gradient(left, hsl(208,100%,50%), hsla(208,100%,50%,0) );
    background: -ms-linear-gradient(left, hsl(208,100%,50%), hsla(208,100%,50%,0) );
    background: linear-gradient(left, hsl(208,100%,50%), hsla(208,100%,50%,0) );
}

/* Toggle tree expansion -------------- */
.NodeCell:hover .Toggle {
    opacity: 1;
}

.NodeCell .Toggle {
    opacity: 0.5;
    margin-left: 4px;
}

/* Add tree elements -------------- */
.addElement .add-element.child {
    padding-left: 29px;
    margin-top: 0px;
    height: 10px;
}
.NodeCell-before .AddElement-segment {
    margin-top: 3px;
}

.NodeCellWrapper {
    -webkit-transition: margin-left .4s ease-in-out;
    -moz-transition: margin-left .4s ease-in-out;
    transition: margin-left .4s ease-in-out;
    /* width: 100%; */
}

.NodeCell-toggle {
    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

.NodeCell-removeButtonCondition {
    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

/* Collapsed Dom Tree -------------- */
.NodeCell--collapseDom .NodeCell {
    height: 1px;
    /* We set these margins so that consecutive dom nodes don't end up,
    /* visually, in the same line. */
    margin-top: 1px;
    margin-bottom: 1px;
}

.NodeCell--collapseDom .NodeCell-removeButtonCondition,
.NodeCell--collapseDom .NodeCell-toggle {
    opacity: 0;
}

.NodeCell--collapseDom .NodeCell-elementInfo {
    height: 0;
}

.NodeCell--collapseDom .NodeCell-elementInfo .montage-Text {
    opacity: 0;
}

.DomExplorer--collapseDom .NodeCell-elementInfo {
    height: 0px;
    opacity: 0;
    overflow: hidden;
}

.DomExplorer--collapseDom .NodeCell-elementInfo-item {
    padding-left: 0;
    padding-right: 0;
}

.DomExplorer--collapseDom .NodeCell-elementInfo-item.NodeCell-elementInfo-item--tag {
    padding-left: 8px;
}

/* Component Tree -------------- */
.NodeCell--component .NodeCell-content {
    border-radius: 10px 10px 0px 0px;
}

.NodeCell--component .NodeCell {
    /*height: 70px;*/
}

.DomExplorer--collapseDom .NodeCell--component .NodeCell {
    /*height: 48px;*/
}
