.PackageEditor {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    background: hsl(0, 0%, 92%);
    font-size: 13px;
    color: hsl(0, 0%, 30%);;
    text-shadow: 0 1px hsla(0,0%,100%,.5);
}

.PackageEditor-column {
	position: relative;
    -webkit-flex: 1.5;
    -moz-flex: 1.5;
    -ms-flex: 1.5;
    flex: 1.5;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 250px;
    min-height: 318px;
    border-left: 1px solid hsl(0, 0%, 75%);
}

.PackageEditor-column:first-child {
    border-left: none;
}

.PackageEditor-column:before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 1px;
    height: 46px; /* Height of Bar - 1px border */
    background: linear-gradient( hsl(0, 0%, 96%), hsl(0, 0%, 95%) 8px, hsl(0, 0%, 75%) );
    left: -1px;
    top: 0;
}

.PackageEditor-column:first-child:before {
    content: none;
}

.PackageEditorColumnContent{
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-height: 0;
    overflow-y: auto;
}

#packageEditor .PackageEditor-column:first-child{
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.packageEditorAsideColumn {
    -webkit-flex: 1 0;
    -moz-flex: 1 0;
    -ms-flex: 1 0;
    flex: 1 0;
    overflow: hidden;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-bottom: 1px solid hsl(0, 0%, 85%);
}

.packageEditorAsideColumn:last-child {
    border-bottom: none;
}

.hide-component {
    display: none !important;
}


/*
 * Note: The Package Editor Panels
 * are styled here so they don't have to be repeated in all the other reels
 * that use the same styles.
 *
 * Alternatively we could create some sort of "Package Editor Panel" component that can be reused.
 */

.PackageEditorPanel {
}

.PackageEditorPanel-header {
    padding: 0 12px;
    margin: 0;
    line-height: 45px;
    font-size: 18px;
    font-weight: normal;
    color: hsl(0, 0%, 30%);
    border-bottom: 1px solid hsl(0, 0%, 75%);
    background: -webkit-linear-gradient( hsl(0, 0%, 96%), hsl(0, 0%, 92%) );
    background: -moz-linear-gradient( hsl(0,0%,96%), hsl(0,0%,92%) );
    background: -ms-linear-gradient( hsl(0,0%,96%), hsl(0,0%,92%) );
    background: linear-gradient( hsl(0, 0%, 96%), hsl(0, 0%, 92%) );
}

.PackageEditorPanel-content {
    padding: 8px;
    background: hsl(0, 0%, 96%);
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.PackageEditorPanel-content--hasList {
    padding: 0;
}

.PackageEditorPanel-title {    
    position: relative;
	
    padding: 0 12px;
	margin: 0;
    font-size: 14px;
	
	
    line-height: 30px;
    color: hsl(0, 0%, 30%);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.8);
    border-top: 1px solid hsl(0,0%,100%);
    border-bottom: 1px solid hsla(0, 0%, 86%, 1);
    background: linear-gradient( hsl(0, 0%, 98%), hsl(0, 0%, 94%) );
}

.PackageEditorPanel-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.PackageEditorPanel-list-item {
    padding: 5px 3px;
}


/* PackageEditorPanel content overrides ---------------- */

.PackageEditorPanel-content .matte-Textarea {
    height: 60px;
    width: 100%;
    resize: none;
    margin: 3px;
}

.PackageEditorPanel-content .matte-InputCheckbox {
    margin: 0;
}

.PackageEditorPanel-content label {
    display: inline-block;
    width: 80px;
    margin-right: 6px;
    text-align: right;
}

.SearchModules.packageEditorAsideColumn {
    /* margin-top: 16px; */
}
