.PackageEditor {
    -webkit-flex: 1;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    background: hsl(0,0%,92%);
    padding: 15px 0 15px 15px;
    font-size: 13px;
    color: hsl(0,0%,50%);;
    text-shadow: 0 1px hsla(0,0%,100%,.5);
}

.PackageEditor-column{
    -webkit-flex: 1.5;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    margin-right: 15px;
    min-width: 250px;
    min-height: 318px;
}

.PackageEditorColumnContent{
    -webkit-flex: 1;
    overflow-y: scroll;
    background: #CCC;
    padding: 10px 7px 0 10px;
}

.PackageEditorColumnContent h3{
    padding: 0;
    margin: 0;
}

#packageEditor .PackageEditor-column:first-child{
    -webkit-flex: 1;
}

.packageEditorAsideColumn{
    -webkit-flex: 1 0;
    overflow: hidden;
    display: -webkit-flex;
    -webkit-flex-direction: column;
}

.privateState{
    color: #E73525;
}