.Editor {
    -webkit-flex: 1;
    min-height: 0;
    display: -webkit-flex;
}

.Editor-content {
    -webkit-flex: 0 0 50%;
    position: relative;
}

.Editor-content textarea {
    padding: 1em;
    margin: 0;
    border: none;
    border-right: 1px solid hsl(0,0%,75%);
    border-radius: 0;
    resize: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.Editor-preview {
    -webkit-flex: 0 0 50%;
    background: white;
    -webkit-user-select: auto;
}

.Editor-content textarea,
.Editor-preview
{
    padding: 1em;
}
