.DocumentTabList {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
    overflow: hidden;
    position: relative;
    height: 28px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: hsl(0,0%,30%);
}