.ListenerEntry {
    display: -webkit-flex;
    cursor: pointer;
    margin-bottom: 4px;
}

.ListenerEntry-pill {
    padding: 0 8px;
    font-size: 12px;
    line-height: 22px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #333333; background: linear-gradient(hsl(0, 8%, 79%), #bcb3b3); 
    border: 1px solid hsl(0, 0%, 46%); 
    box-shadow: inset 0 1px 0 hsla(0, 100%, 100%, 0.75), 0 0 2px hsla(0, 0%, 0%, 0.38);
}

.ListenerEntry:hover .ListenerEntry-pill {
    background: linear-gradient(hsl(0, 8%, 83%), hsl(0, 6%, 76%));
}

.ListenerEntry:active .ListenerEntry-pill {
    background: hsl(0,0%,84%);
}

.ListenerEntry-pill--eventType {
    -webkit-flex: 1;
    min-width: 0;
    text-align: right;
    border-radius: 11px 3px 3px 11px;
    font-style: italic;
}

.ListenerEntry-pill--listener {
    -webkit-flex: 1;
    min-width: 0;
    margin-left: 4px;
    border-radius: 3px 11px 11px 3px;
}


.ListenerEntry-phase {
    margin: 0 4px;
    font-size: 10px;
    line-height: 22px;
    color: hsl(0,0%,50%);
}


.ListenerEntry-removeButton {
    opacity: 0;
}

.ListenerEntry:hover .ListenerEntry-removeButton {
    opacity: 1;
}