.TemplateObjectCell--owner,
.TemplateObjectCell--owner.selected {
    position: relative;
    border-bottom: 1px solid hsl(0,0%,70%);
    flex-grow: 1;
    background-color: hsl(43, 100%, 85%);
}

.TemplateObjectCell--owner.selected:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
    background: transparent;
    pointer-events: none;
}
