.TemplateObjectCell--owner,
.TemplateObjectCell--owner.selected {
    position: relative;
    border-bottom: 1px solid hsl(0,0%,70%);
}

.TemplateObjectCell--owner.selected:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid hsl(210,100%,60%);
    background: transparent;
    pointer-events: none;
}
