.ExtensionPanel {
    display: none;
    -webkit-transition: width 200ms ease-in-out;
    padding: 10px;
    background-color: hsl(0,0%,30%);
}

.ExtensionPanel.isOpen {
    display: block;
}

.ExtensionPanel ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ExtensionPanel li {
    white-space: nowrap;
}
