.ExtensionPanel {
    padding: 10px;
    background-color: hsl(0,0%,30%);
}

.ExtensionPanel ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ExtensionPanel li {
    white-space: nowrap;
}
