.ExtensionPanel {
    width: 0;
    -webkit-transition: width 200ms ease-in-out;
    border: 10px solid hsl(0,0%,30%);
    background-color: hsl(0,0%,30%);
    overflow: hidden;
}

.ExtensionPanel:hover {
    width: 30em;
}

.ExtensionPanel ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ExtensionPanel li {
    white-space: nowrap;
}
