/*body {
    margin: 0;
    background: hsl(0,0%,20%);
}*/


/* Ghosts */

.ghosts {
    display: -webkit-flex;
    -webkit-flex-flow: column;
    -webkit-justify-content: space-around;
    width: 120px;
    background: hsl(0,0%,40%);
}


/* Group ----------------------------- */

.ghosts-group {
    margin: 0;
    -webkit-flex: 1;
    display: -webkit-flex;
    -webkit-flex-flow: column;
}

/* Title ----------------------------- */

.ghosts-title {
    margin: 0 0 4px 0;
    padding: 6px;
    font-size: 13px;
    text-align: center;
    color: hsl(0,0%,25%);
    background: hsl(0,0%,50%);
}


/* List ----------------------------- */

.ghosts-list {
    min-height: 0;
    overflow: auto;
    -webkit-flex: 1;
    display: -webkit-flex;
    -webkit-flex-flow: column;

}

.ghosts-item {
    position: relative;
    display: block;
    width: 112px;
    padding: 4px 8px;
    margin: 4px;
    text-align: left;
    font-size: 13px;
    border: none;
    border: 2px dotted hsla(0,0%,100%,.1);
    background-color: hsl(0,0%,40%);
    color: hsl(0,0%,55%);
    cursor: pointer;
    border-radius: 20px;
    white-space: nowrap;
}

.ghosts-item:hover {
    color: hsl(0,0%,70%);
    background-color: hsl(0,0%,30%);
}

.ghosts-item:active {
    background-color: hsl(0,0%,20%);
}


/* Bound indicator */

.ghosts-item.bound {
    color: hsl(0,0%,15%);
    border-color: hsl(0,0%,20%);
    border-style: solid;
}

.ghosts-item.bound:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -6px;
    width: 5px;
    height: 6px;
    margin-top: -3px;
    background: hsl(0,0%,20%);
}


/* Icons */

.ghosts-item [data-icon] {
    content: "";
    position: relative;
    display: inline-block;
    width: 16px;
    height: 12px;
    line-height: 0;
    font-style: normal;
}

.ghosts-item [data-icon]:before {
    color: hsl(0,0%,75%);
    line-height: .5;
    left: 0px;
    right: auto;
    font-size: 28px;
}
