
.DocumentEditor.standby {
     display: none;
}

.DocumentEditor {
    -webkit-flex: 1 1 auto;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    position: relative;
}

/* Workbench --------------------------------- */

.DocumentEditor .Workbench {
	-webkit-flex: 1;
	border: 1px solid hsl(0, 0%, 82%);
}
