.AssetsLibraryItems {
    overflow-y: auto;
    overflow-x: hidden;
    height: 164px;
}


.AssetsLibraryItems-list, .AssetsLibraryItems-noItems {
    -webkit-flex: 1;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-flow: row wrap;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.AssetsLibraryItems-noItems {
    align-items: center;
    justify-content: center;
    height: 164px;
}

.AssetsLibraryItems-list .AssetsLibraryItem {
    -webkit-flex: 1 0 63px;
    max-width: 66px;
    max-height: 66px;
    background: transparent;
}

.AssetsLibraryItems-list .AssetsLibraryItem-button {
    background: transparent;
    border-right: 1px solid hsla(0, 0%, 0%, 0.05);
}

.AssetsLibraryItems-list .AssetsLibraryItem:nth-child(3n) .AssetsLibraryItem-button {
    border-right: none;
}
