
/* These styles are technically part of Palette but kept here for ease of use. */

.Infobar {
    position: relative;
    height: 0;
    line-height: 32px;
    font-size: 15px;
    overflow: hidden;
    color: hsla(0,0%,100%,.8);
    background: hsl(0,0%,30%);
    -webkit-transition: height 200ms cubic-bezier(.37, .05, .22, .95);
}

.Infobar--open {
    height: 32px;
}

.Infobar-content {
    position: relative;
    margin-right: 32px; /* Size of X button */
}

.Infobar-close.matte-Button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    height: 32px;
    width: 32px;
    min-width: 32px;
    line-height: 32px;
    color: hsla(0,0%,100%,.8);
    font-size: 20px;
    border-radius: 0;
    border: none;
    background-color: hsla(0,0%,100%,.1);
    cursor: pointer;
}

.Infobar-close.matte-Button:hover {
    background-color: hsla(0,0%,100%,.15);
}

.Infobar-close.matte-Button.active {
    background-color: hsla(0,0%,0%,.3);
}