@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: 200;
  src: local('Clear Sans Thin'), local('ClearSans-Thin'), url(ClearSans-Thin.woff) format('woff');
}
@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Clear Sans'), local('ClearSans'), url(ClearSans-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Clear Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Clear Sans Italic'), local('ClearSans-Italic'), url(ClearSans-Italic.woff) format('woff');
}
@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Clear Sans Bold'), local('ClearSans-Bold'), url(ClearSans-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Clear Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Clear Sans Bold Italic'), local('ClearSans-BoldItalic'), url(ClearSans-BoldItalic.woff) format('woff');
}


/*
 * Still keeping Open Sans in here in case we wanna compare.
 *

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(OpenSans.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(OpenSans-Italic.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(OpenSans-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(OpenSans-BoldItalic.woff) format('woff');
}
*/
