.Recipient {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: solid 2px hsl(0,0%,40%);
    /*background-color: hsl(0,0%,66%);*/
}

.Recipient.is-active {
    border: solid 5px hsl(0,0%,0%);
    /*background-color: hsl(0,0%,33%);*/
}
