
.Docs {
    height: 100%;
    overflow: auto;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: hsl(220,100%,60%);
}

a:hover {
    color: hsl(220,100%,70%);
}

a:active {
    color: hsl(220,100%,50%);
}

/* Header --------------------------------- */

.Header {
    padding: 40px;
    text-align: center;
}

.Header-logo {
    margin: 30px auto 40px auto;
    width: 280px;
    height: 188px;
    background: url(../../../assets/img/logo.png) no-repeat center;
    background-size: 100% auto;
}

.Header-title {
    margin: 0;
    font-size: 2em;
    color: hsl(0, 0%, 30%);
    text-shadow: 0 1px 0 hsla(0, 0%, 100%, .3);
}


/* Article --------------------------------- */

.Article {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
}

.Note {
    padding: 20px;
    margin-bottom: 40px;
    font-size: 1.2em;
    border-radius: 6px;
    box-shadow: 0 1px 2px hsla(0,0%,0%,.2);
    background: hsla(0,0%,100%,.6);
}


/* Footer --------------------------------- */

.Footer {
    padding: 20px 40px;
    font-size: 11px;
    color: hsl(0,0%,50%);
    text-align: center;
    border-top: 1px solid hsla(0,0%,0%,.1);
    border-bottom: 1px solid hsla(0,0%,0%,.1);
    background: hsl(0,0%,85%);
}
