.HistoryListItem {
    position: relative;
    border-bottom: 1px solid hsl(0, 0%, 86%);
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

/* Type --------------------------------- */

.HistoryListItem-type {
    position: absolute;
    height:      1em;
    line-height: 1em;
    right:  1em;
    top: 50%;
    margin-top: -.5em;
    display: none;
    color: #6C6C6C;
    pointer-events: none;
}

.HistoryListItem-type.is-private {
    display: block;
}

/* Link --------------------------------- */

.HistoryListItem-link.matte-Anchor {
    -webkit-flex: 1;
    flex: 1;
    padding: 0.8rem;
    text-decoration: none;
    color: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background: #fff;
}

.HistoryListItem-link.matte-Anchor:hover {
    background-color: hsl(0, 0%, 96%);
}

/* Link --------------------------------- */

.HistoryListItem-owner {
    -webkit-flex: 1;
    flex: 1;
    padding: 0.8rem;
    text-decoration: none;
    color: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0.25;
}
