.HistoryListItem {
    border-bottom: 1px solid hsl(0, 0%, 86%);
    display: flex;
    align-items: center;
}


/* Type --------------------------------- */

.HistoryListItem-type {
    display: none;
    margin: 0 0.8rem;
    padding: 0.4em 0.6em;
    line-height: 1;
    font-size: 0.85em;
    border-radius: 4px;
    color: #fff;
    background-color: hsl(0, 0%, 80%);
}

.HistoryListItem-type.is-private {
    background-color: hsl(46, 100%, 43%);
}


/* Link --------------------------------- */

.HistoryListItem-link {
    flex: 1;
    padding: 0.8rem;
    text-decoration: none;
    color: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.HistoryListItem-link:hover {
    background-color: hsl(0, 0%, 98%);
    color: inherit;
}

.HistoryListItem-link:active {
    background-color: hsl(0, 0%, 100%);
    color: inherit;
}
