
.Editor {
    position: relative;
    -webkit-flex: 1;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    height: 100%;
}

.view {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-flex: 1 1 auto;
}

.wrapper {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex: 1 0 auto;
}

.workBench {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-flex: 1 1 auto;
    position: relative;
}

