/* Login */

.Aside-button.Aside-button--login.matte-Button {
    padding-left: 4em; /* Space for icon */
    border: none;
    height: auto;
}

.Aside-button--login:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 3em;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    background: hsla(0, 0%, 0%, 0.08) no-repeat center;
    background-size: 1.5em;
    background-image: url(/assets/img/github.svg);
}
