.PackageExplorer .Tree-list {
    /* TODO: Remove the first item so the minus margin is not needed */
    margin: 8px 0 0 -8px;
}

.PackageExplorer .Tree-list-row:first-child {
    display: none; /* Hide first item */
}

.Tree-list-row.selected {
    background-color: #aaaaff;
}
