.Tree-list {
    overflow-x: auto;
    
    /* TODO: Remove the first item so the minus margin is not needed */
    margin: -20px 0 0 -12px;
}

.Tree-list-row {
    padding-top: 2px;
    padding-bottom: 2px;
}

.Tree-list-row.selected {
    background-color: #aaaaff;
}