.NodeDetailsList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.NodeDetailsItem {
    margin: 8px 0 0 0;
}

.NodeDetailsItem-label {
    font-weight: 600;
    width: 80px;
    display: inline-block;
    text-align: right;
    padding-right: 4px;
    color: hsl(0, 0%, 60%);
}

.NodeDetailsItem-text {
    color: hsl(0, 0%, 90%);
}