/* Nav Button ----------------------------------- */

.Nav .Nav-button {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    min-width: 0;
    padding: 0;
    margin: 4px;
    font-size: 40px;
    border: none;
    border-radius: 4px;
    color: hsla(0,0%,100%,.4);
    text-shadow: 0 1px 0 hsla(0,0%,0%,.1);
    box-shadow: inset 0 1px 2px hsla(0,0%,100%,.1), 0 1px 4px hsla(0,0%,0%,.4);
    background-image: -webkit-linear-gradient( hsl(0,0%,36%), hsl(0,0%,30%) );
    cursor: pointer;
}

.Nav .Nav-button:hover {
    color: hsla(0,0%,100%,.5);
    background-image: -webkit-linear-gradient( hsl(0,0%,38%), hsl(0,0%,32%) );
}

.Nav .Nav-button:active {
    color: hsla(0,0%,100%,.3);
    box-shadow: inset 0 1px 2px hsla(0,0%,100%,0), 0 1px 2px hsla(0,0%,0%,.4);
    background-image: -webkit-linear-gradient( hsl(0,0%,32%), hsl(0,0%,26%) );
}


/* Nav Tab ----------------------------------- */

.Nav-tabs .Nav-button.selected {
    color: hsla(0,0%,0%,.5);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.5);
    box-shadow: inset 0 1px 0px hsla(0,0%,100%,.6), 2px 2px 4px hsla(0,0%,0%,.2);
    background-image: -webkit-linear-gradient(hsl(0,0%,92%), hsl(0,0%,82%) );
    -webkit-transition: none;
}

.Nav-tabs .Nav-button.selected:hover {
    background: hsl(0,0%,90%);
}
.Nav-tabs .Nav-button.selected:active {
    background: hsl(0,0%,80%);
}

.Nav-tabs .Nav-button.selected:after {
    content: "";
    position: absolute;
    left: -6px;
    top: 16px;
    width: 12px;
    height: 12px;
    border-radius: 2px;
    background: -webkit-linear-gradient(45deg, hsl(0,0%,80%) 50%, hsl(0,0%,70%) );
    -webkit-transform: rotate(45deg);
}

.Nav-tabs .Nav-button.selected.locked:after {
    display: none;
}

.Nav-tabs .Nav-button.locked {
    border-radius: 0 12px 12px 0;
    -webkit-transform: translateX(-4px);
}
