.InspectorDetails .Inspector-header.Bar {
    border-bottom: none;
    background: transparent;
}

.InspectorDetails .BlueprintEditor {
    overflow-y: hidden;
}

.InspectorDetails .PropertyGroup-toggle {
    text-shadow: none;
    border-top: none;
    border-bottom: none;
    background: hsl(0, 0%, 22%);
}

.InspectorDetails .PropertyGroup-toggle:active {
    background-color: hsl(0, 0%, 16%);
}

.InspectorDetails .PropertyEditor {
    background: transparent;
}

.InspectorDetails .PropertyEditor .matte-InputCheckbox,
.InspectorDetails .PropertyEditor .matte-InputCheckbox:hover,
.InspectorDetails .PropertyEditor .matte-InputCheckbox:focus,
.InspectorDetails .PropertyEditor .matte-InputText,
.InspectorDetails .PropertyEditor .matte-InputText:hover,
.InspectorDetails .PropertyEditor .matte-InputText:focus {
    background-color: hsla(0, 7%, 87%, 1);
    box-shadow: none;
}
