/* Bindings */

.Bindings {
    background: hsl(0,0%,85%);
    text-align: center;
}

.Bindings-list {
    margin: 0;
    padding: 5px 0;
    height: 120px;
    overflow: auto;
    list-style: none;
    background: hsl(0,0%,80%);
}

.Bindings-list-item {
    display: -webkit-flex;
    margin: 0;
    padding: 2px 4px;
    cursor: pointer;
}

.Bindings-list-item-pill {
    -webkit-flex: 1;
    position: relative;
    margin: 0 2px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    background: hsl(0,0%,70%);
    color: hsl(0,0%,20%);
    cursor: pointer;
    border-radius: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Bindings-list-item-pill:first-child:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -5px;
    width: 6px;
    height: 6px;
    margin-top: -3px;
    background: inherit;
}

.Bindings-list-item:hover .Bindings-list-item-pill {
    background: hsl(0,0%,67%);
}

.Bindings-list-item:active .Bindings-list-item-pill {
    background: hsl(0,0%,60%);
}


.Bindings-addButton {
    margin: 0;
    display: block;
    width: 100%;
    border-radius: 0;
    border: none;
    background-color: hsl(0, 0%, 85%);
}

.Bindings-addButton:hover {
    background-color: hsl(0, 0%, 88%);
}

.Bindings-addButton:active {
    background-color: hsl(0, 0%, 80%);
}
