
.ListenerJig {
    min-width: 460px;
}

/* Phase ---------------------- */

.ListenerJig-phases {
}

.ListenerJig-phase {
    display: block;
    line-height: 20px;
}

.ListenerJig-radio {
    margin: 8px 4px 0 0;
    vertical-align: bottom;
}

.ListenerJig--copyable {
    -webkit-user-select: text;
}

.Jig-row.ListenerJig-eventRow,
.Jig-row.ListenerJig-listenerRow {
    -webkit-justify-content: flex-start;
}
