.Login {
    font-size: 16px;
}

/* Aside --------------------------------- */

.Aside.Aside--login {
    width: 400px;
}

.Aside--login .Aside-content {
    padding: 2rem 1.5rem;
}


.Aside-headline {
    font-size: 2em;
    font-weight: 200;
    color: #fff;
    margin: 0;
}

.Aside-version {
    font-style: italic;
    color: #fff;
}

.Aside-support {
    margin-left: .5em;
    font-size: .85em;
}

/* Login */

.Attract {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 400px;
    pointer-events: none;
    min-width: 85%; /* Fallback, fits a 27" screen */
    min-width: calc(100% - 400px); /* 100% - width of .Aside panel */
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    overflow: hidden;
}

.Loader {
    right: auto;
    width: 400px;
}


/* Responsive --------------------------------- */

@media (max-width: 900px) {

    .Aside.Aside--login {
        position: absolute;
        right: 0;
        width: auto;
    }

    .Attract {
        /* TODO: Add proper fallback */
        display: none;
    }
}
