.BindingJig {
    font-size: 12px;
    background: hsl(0, 0%, 94%);
}


.BindingJig-row {
    display: -webkit-flex;
    padding: 0 5px;
}

.BindingJig-targetObjectLabel {
    -webkit-flex: .25;
    min-width: 100px;
    margin: 0 6px 0 0;
    font-weight: bold;
    vertical-align: top;
    text-align: right;
    line-height: 38px;
    color: hsl(0,0%,40%);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* BindingJig sections ---------------------- */

.BindingJig-section {
    margin: 10px 5px;
}

.BindingJig-section--target {
    -webkit-flex: .5;
}

.BindingJig-section--source {
    -webkit-flex: 1;
}

.BindingJig-label {
    display: block;
    margin-bottom: 4px;
    color: hsl(0,0%,50%);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.BindingJig-input {
    width: 100%;
}

.BindingJig .matte-Select {
    margin: 0;
    height: 24px;
    padding: 0 16px 0 6px;
}

.BindingJig .matte-InputCheckbox {
    margin: 0 10px 0 0;
}

.BindingJig-footer {
    padding: 0px 9px 10px 10px;
    text-align: right;
}

.BindingJig-footer .BindingJig-button {
    margin: 0 0 0 10px;
}


/* BindingJig direction ---------------------- */

.BindingJig-direction {
    position: relative;
    padding-left: 1px;
    margin: 0 6px 0 0;
    font-size: 0;
}

.BindingJig-radio {
    margin: 0 0 0 -1px;
    width: 24px;
    height: 24px;
    background-position: center 1px, center;
    background-repeat: no-repeat;
    border-color: hsl(0,0%,80%);
    background-color: hsl(0,0%,94%);
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,1), 0 1px 2px hsla(0,0%,0%,0.1);
}

.BindingJig-radio:hover {
    background-color: hsla(0,0%,0%,.02);
}

.BindingJig-radio:checked {
    background-color: hsl(210,100%,90%);
    border-color: hsl(210,100%,80%);
    box-shadow: inset 0 1px 2px hsla(0,0%,0%,0.08), 0 1px 0 hsla(0,0%,100%,.6);
}

.BindingJig-radio:focus {
    border-color: hsl(210,100%,70%);
    background-color: hsla(210,100%,60%,0.1);
}

.BindingJig-radio--unidirectional {
    border-radius: 3px 0 0 3px;
    background-image: url(/assets/icons/binding-un.svg),
                        -webkit-linear-gradient(top, hsla(0,0%,100%,.8), hsla(0,0%,100%,0) );
}
.BindingJig-radio--unidirectional:checked {
    background-image: url(/assets/icons/binding-un.svg);
}

.BindingJig-radio--bidirectional {
    border-radius: 0 3px 3px 0;
    background-image: url(/assets/icons/binding-bi.svg),
                        -webkit-linear-gradient(top, hsla(0,0%,100%,.8), hsla(0,0%,100%,0) );
}
.BindingJig-radio--bidirectional:checked {
    background-image: url(/assets/icons/binding-bi.svg);
}
