.BindingJig {
    font-size: 12px;
    color: hsl(0,0%,30%);
    background: hsl(0, 0%, 90%);
}


/* BindingJig Tabs ---------------------- */

.BindingJig-tabs {
    margin: 0;
    padding: 0;
    border-top: 1px solid hsla(0,0%,0%,.05);
    border-bottom: 1px solid hsla(0,0%,0%,.12);
    background: -webkit-linear-gradient(top, hsl(0,0%,98%), hsl(0,0%,94%));
}

.BindingJig-tabs .BindingJig-tabs-tab {
    margin: 0;
    height: 30px;
    color: hsl(0,0%,30%);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.6);
    border-radius: 0;
    border-top: 1px solid hsla(0,0%,100%,.8);
    border-left: 1px solid hsla(0,0%,100%,.6);
    border-right: 1px solid hsla(0,0%,0%,.05);
    border-bottom: none;
    background: transparent;
    cursor: pointer;
}

.BindingJig-tabs .BindingJig-tabs-tab:hover {
    background: hsla(0,0%,100%,.2);
}

.BindingJig-tabs .BindingJig-tabs-tab:active,
.BindingJig-tabs .BindingJig-tabs-tab.selected {
    background: hsl(0,0%,90%);
    border-top: 1px solid hsla(0,0%,100%,0);
    border-left: 1px solid hsla(0,0%,100%,0);
}


/* BindingJig Content ---------------------- */

.BindingJig-content {
    display: none;
    overflow: auto;
}

.BindingJig-content.show {
    display: block;
}


/* BindingJig sections ---------------------- */

.BindingJig-section {
    display: -webkit-flex;
    -webkit-align-items: center;
    min-width: 500px;
    padding: 10px;
}

.BindingJig-sourceObject {
    font-size: 14px;
    color: hsl(0,0%,20%);
    margin-left: 5px;
    border-bottom: 1px dashed hsla(0,0%,0%,.2);
}

.BindingJig-input {
    -webkit-flex: 1;
    margin-left: 5px;
}

.BindingJig-button {
    margin: 0 10px 0 5px;
}

.BindingJig-checkbox {
    margin-left: 5px;
}
