.ComponentEditor {
    -webkit-flex: 1;
    min-height: 0;
    display: -webkit-flex;
    -webkit-flex-direction: row;
}

.ComponentEditor-column {
    -webkit-flex: 1;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    border-right: 1px solid hsl(0, 0%, 75%);
}

.ComponentEditor-column-fill {
    min-height: 50px;
    -webkit-flex: 1 1 250px;
    overflow: scroll;
    padding: 8px 4px 8px 8px;
    border-bottom: 1px solid hsl(0, 0%, 75%);
    background: hsl(0, 0%, 86%);
}

.ComponentEditor-column-fill.documentEditorSlot {
    display: -webkit-flex;
}

.ComponentEditor-column-fixed {
    -webkit-flex: 0 1 200px;
    min-height: 50px;
    overflow-y: auto;
    font-size: 12px;
    text-shadow: 0 1px 0 hsla(0,0%,100%,0.4);
    overflow: scroll;
    padding: 0;
    background: hsl(0, 0%, 96%);
}
