.ComponentEditor {
    -webkit-flex: 1;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    height: 100%;
}

.Filament-view {
    -webkit-flex: 1;
    display: -webkit-flex;
    -webkit-flex-direction: column;
}

.documentEditorSlot {
    -webkit-flex: 1;
    display: -webkit-flex;
    -webkit-flex-direction: column;
}