.BlueprintEditor {
    -webkit-flex: 1;
    min-height: 0;
    display: -webkit-flex;
    -webkit-flex-direction: row;
}

.BlueprintEditor-column {
    -webkit-flex: 1;
    min-width: 0;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    border-right: 1px solid hsl(0, 0%, 75%);
}

.BlueprintEditor-column-row {
    min-height: 80px;
}

.BlueprintEditor-column-row--fill {
    -webkit-flex: 1 1 auto;
    overflow: hidden;
    padding: 8px;
    border-bottom: 1px solid hsl(0, 0%, 75%);
    background: hsl(0, 0%, 86%);
}

.BlueprintEditor-column-row--documentEditor {
    display: -webkit-flex;
}

.BlueprintEditor-column-row--fixed {
    -webkit-flex: 0 1 200px;
    font-size: 12px;
    text-shadow: 0 1px 0 hsla(0,0%,100%,0.4);
    padding: 0;
    background: hsl(0, 0%, 96%);
}


/* Viewport --------------------------------- */

.BlueprintExplorer-viewport {
    -webkit-flex: 1;
    min-height: 0;
    overflow: hidden;
    border-radius: 0 0 4px 4px;
    border: 1px solid hsl(0, 0%, 76%);
    background: hsl(0, 0%, 80%);
}

.BlueprintExplorer-list {
    -webkit-flex: 1;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
    resize: none;
 }
