.CodeEditor {
    position: relative;
    -webkit-flex: 1;
    display: -webkit-flex;
}


/* CodeMirror overrides ------------------------------ */

.CodeEditor .CodeMirror {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
}

.CodeEditor .CodeMirror-lines {
  font-family: Courier;
  font-size: 14px;
  padding: 12px 0; /* Vertical padding around content */
}

.CodeEditor .CodeMirror pre {
  padding: 0 12px; /* Horizontal padding of content */
}


/* Solarized Theme overrides ------------------------------ */

.CodeEditor .cm-s-solarized.cm-s-light {
    text-shadow: none;
}

.CodeEditor .cm-s-solarized.cm-s-light .CodeMirror-gutters {
    border-color: hsl(46, 42%, 78%);
    box-shadow: none;
}

.CodeEditor .cm-s-solarized.cm-s-light .CodeMirror-linenumber {
    color: hsl(46, 22%, 70%);
}