.OrganizationsListItem {
    border-bottom: 1px solid hsl(0, 0%, 86%);
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    background-color: hsl(0, 0%, 96%);
}

.OrganizationsListItem {
    background-color: #fff;
}

.OrganizationsListItem:hover {
    background-color: hsl(0,0%,98%);
}

.OrganizationsListItem:active {
    background-color: hsl(0, 0%, 100%);
}

/* Link --------------------------------- */

button.OrganizationsListItem-link {
    -webkit-flex: 1;
    flex: 1;
    padding: 0.8rem;
    text-decoration: none;
    color: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    cursor: pointer;
    height: inherit;
    font: inherit;
    border: none;
    margin: 0;
    border-radius: 0;
    position: relative;
}

/* lock icon */

button.OrganizationsListItem-link:after {
    content: '';
    position: absolute;
    background: url(/assets/icons/toggle.svg) no-repeat 96% center;
    background-size: 18px;
    height: 18px;
    right: 14px;
    width: 18px;
    transition: transform .2s ease-in-out;
}


.selected button.OrganizationsListItem-link {
    background-color: inherit;
}

.selected button.OrganizationsListItem-link:after {
    transform: translateX(8px);
}

.OrganizationsListItem-link:hover {
    color: hsl(0, 0%, 0%);
    height: inherit;
    font: inherit;
    border: none;
}

.OrganizationsListItem-link:active {
    color: inherit;
    height: inherit;
    font: inherit;
    border: none;
}

/* Link --------------------------------- */

.OrganizationsListItem-owner {
    -webkit-flex: 1;
    flex: 1;
    padding: 0.8rem;
    text-decoration: none;
    color: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0.25;
}
