.OrganizationsListItem {
    border-bottom: 1px solid hsl(0, 0%, 86%);
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    background-color: hsl(0, 0%, 96%);
}

.OrganizationsListItem {
    background-color: #fff;
}

.OrganizationsListItem:hover {
    background-color: hsl(0,0%,98%);
}

.OrganizationsListItem:active {
    background-color: hsl(0, 0%, 100%);
}

/* Link --------------------------------- */

button.OrganizationsListItem-link {
    -webkit-flex: 1;
    flex: 1;
    padding: 0.8rem;
    text-decoration: none;
    color: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    cursor: pointer;
    height: inherit;
    font: inherit;
    border: inherit;
}

.selected button.OrganizationsListItem-link {
    background-color: inherit;
}

.OrganizationsListItem-link:hover {
    color: hsl(0, 0%, 0%);
    height: inherit;
    font: inherit;
    border: inherit;
}

.OrganizationsListItem-link:active {
    color: inherit;
    height: inherit;
    font: inherit;
    border: inherit;
}

/* Link --------------------------------- */

.OrganizationsListItem-owner {
    -webkit-flex: 1;
    flex: 1;
    padding: 0.8rem;
    text-decoration: none;
    color: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0.25;
}
