
.main {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    height: 100%;
}

.editor {
    -webkit-flex: 1 1 auto;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    position: relative;
}

.editor .Workbench {
	-webkit-flex: 1;
	border: 10px solid hsl(0,0%,30%);
	box-sizing: border-box;
}
