
.main {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    height: 100%;
}

.workShop {
    -webkit-flex: 1 1 auto;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    position: relative;
}

.palettes-hidden .library,
.palettes-hidden .Configurator {
    display: none;
}
.workShop .Workbench {
	-webkit-flex: 1;
	border: 10px solid hsl(0,0%,30%);
	border-bottom: none;
	box-sizing: border-box;
}
