.Main-wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;

    /* Min height and width so the UI doesn't get squeezed too much. */
    min-height: 450px;
    min-width: 900px;
}

.Main {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.Main .editor {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}

.Main-wrap .Main-splitter {
    overflow: hidden;
    position: relative;
}

.editorSlot {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-height: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background: hsl(0, 0%, 26%) url(reference.png) no-repeat;
}

.standby {
    display: none;
}

/* Tabs --------------------------------- */

.Tabs {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
    overflow: hidden;
    position: relative;
    height: 28px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: hsl(0,0%,30%);
}

/* Editor Area ----------------------- */

.componentEditorArea {
    -webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: hsl(0,0%,30%);
    position: relative;
}

.componentEditorArea .ComponentEditor.standby {
    display: none;
}
