/* Octopus */

.octopus {
    display: -webkit-flex;
    background: hsl(0,0%,70%);
}


.octopus button {
    display: block;
	padding: 5px;
	margin: 0; 
    font-size: 13px;
    border: none;
    border-right: 1px solid hsl(0,0%,75%);
	background-color: hsl(0,0%,70%);
	color: hsl(0,0%,20%);
	cursor: pointer;
}

.octopus button:hover {
	background-color: hsl(0,0%,75%);
}

.octopus button:active,
.octopus button.active {
    color: hsl(0,0%,80%);
	background-color: hsl(0,0%,60%);
	cursor: default;
}