.History {
    width: 400px;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    background: hsl(0,0%,60%);
}


.History-header {
    padding: 10px;
    border-bottom: 1px solid hsla(0,0%,0%,.1);
    background: hsl(0,0%,90%);
}

.History-title {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
}


/* search --------------------------------- */

.History-search {
    display: -webkit-flex;
    padding: 10px;
    border-top: 1px solid hsla(0,0%,100%,.6);
    border-bottom: 1px solid hsla(0,0%,0%,.1);
    background: hsl(0,0%,90%);
}

.History-search-import {
    margin: 0 10px 0 0;
}

.History-search-input {
    -webkit-appearance: none;
    -webkit-flex: 1;
    padding: 0;
}



/* List --------------------------------- */

.History-list {
    position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow-y: scroll;
	-webkit-flex: 1 1 0;
	min-height: 0;
	background-color: hsl(0,0%,70%);
}

.History-list-item {
    padding: 10px;
    font-size: 16px;
    line-height: 28px;
    border-top: 1px solid hsl(0,0%,90%);
    border-bottom: 1px solid hsl(0,0%,70%);
	background: hsl(0,0%,80%);
	display: -webkit-flex;
}

.History-list-item:first-child {
    border-top: none;
}

.History-list-item:hover {
	background: hsl(0,0%,82%);
}



/* Component Button --------------------------------- */

.History-description {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -webkit-user-select: none;
    cursor: default;
    
}

.History-star {
    visibility: hidden;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 4px;
    border: 1px solid hsla(0,0%,70%,0);
    background: transparent;
    color: hsl(0,0%,60%);
    font-size: 53px;
    line-height: .5;
    text-align: center;
}

.History-list-item.stared .History-star,
.History-list-item:hover .History-star {
    visibility: visible;
}

.History-star:hover {
    cursor: pointer;
    border: 1px solid hsl(0,0%,70%);
    background: hsl(0,0%,90%);
}

.History-star:active {
    background: transparent;
}
