.CreateNodeCell {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    padding: 1px 0 2px 0; /* TODO: Fix consistent footer height */
    opacity: 0;
}

.DomExplorer.is-drawerOpen .CreateNodeCell {
    opacity: 1;
    -webkit-transition: opacity .12s .12s;
    -moz-transition: opacity .12s .12s;
    -ms-transition: opacity .12s .12s;
    transition: opacity .12s .12s;
}

.CreateNodeCell-segment {
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: inline-flex;
    margin: 2px 0;
    border-radius: 22px;
    border: 1px solid hsl(0, 0%, 75%);
    background-color: hsl(0, 0%, 90%);
    box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.08), 0 1px 1px hsla(0, 100%, 100%, 0.8);
}

.CreateNodeCell-segment[draggable=true]:hover {
    box-shadow: 0 1px 2px hsla(0,0%,0%,.2);
    background: hsl(0,0%,96%);
}

.CreateNodeCell--draggable {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -ms-grab;
    cursor: grab;
}

.CreateNodeCell-segment-item {
    display: block;
    padding: 0 10px;
    font-size: 11px;
    line-height: 22px;
    min-height: 22px;
    color: hsl(0, 0%, 30%);
}

.CreateNodeCell-segment-item--tag {
    color: hsl(0,0%,50%);
    text-transform: lowercase;
    overflow: hidden; /* Fixes text-transform Chrome bug */
}

.CreateNodeCell-segment-item--montageId {
    border-left: 1px solid hsla(0,0%,0%,.1);
    font-weight: bold;
    font-style: italic;
}

.CreateNodeCell-segment-item--montageArg {
    border-left: 1px solid hsla(0,0%,0%,.1);
    font-weight: normal;
    background-color: hsla(75,44%,85%, 0.3);
}

.CreateNodeCell-segment-item--montageParam {
    border-left: 1px solid hsla(0,0%,0%,.1);
    font-weight: normal;
    background-color: hsla(85,60%,85%, 0.3);
}

.CreateNodeCell-segment-item.TextEditorField--editing {
    z-index: 10;
    box-shadow: 0 0 0 1px hsl(210,100%,70%);
    background-color: hsla(210,100%,96%,1);
}

.CreateNodeCell-segment-item.TextEditorField--editing:first-child {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

.CreateNodeCell-segment-item.TextEditorField--editing:last-child {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}

.CreateNodeCell-segment-item--component {
    padding-left: 10px;
    border-radius: 0 11px 11px 0;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.64);
    border-left: 1px solid hsl(210, 100%, 84%);
    background-color: hsl(210, 100%, 90%);
}

.CreateNodeCell--owner .CreateNodeCell-segment-item--component {
    background: hsl(43, 0%, 85%);
    border-left-color: hsl(43, 0%, 65%);
}

/* Overrides ---------------------------- */

.CreateNodeCell .matte-InputText {
    border: none;
    margin: 0;
    border-radius: 0;
    background-color: transparent;
    width: 80px;
    height: 20px;
    padding: 0;
    font: inherit;
    line-height: 20px;
    font-weight: inherit;
    font-style: inherit;
}

.CreateNodeCell .montage-Text {
    display: block;
    outline: none;
    font: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 80px;
    border-top: 1px solid hsla(0, 0%, 0%, 0);
}

.CreateNodeCell-reset.matte-Button:hover {
    background: hsla(0,0%,0%,.1)
}

.CreateNodeCell-reset.matte-Button:active {
    color: white;
    background: hsla(0,0%,0%,.8)
}
