.TemplateObjectCell {
    border: 1px solid hsla(0,0%,0%,0);
    border-left-width: 5px;
}

.TemplateObjectCell.selected {
    border-color: hsl(210,100%,60%);
    background-color: hsl(0,0%,98%)
}

.TemplateObjectCell.selected .TemplateObjectHeader {
    background-color: hsl(210,100%,92%);
}

.TemplateObjectCell--owner.selected .TemplateObjectHeader,
.TemplateObjectCell--owner .TemplateObjectHeader {
    background-color: hsl(43, 100%, 85%);
}

.TemplateObjectCell-header + * {
    margin-top: 4px;
}

.TemplateObjectCell-button-icon {
    display: block;
    width: 14px;
    height: 14px;
}

.TemplateObjectCell-button-icon.TemplateObjectCell-button--bind ,
.TemplateObjectCell-button-icon.TemplateObjectCell-button--listen {
    background: url(/assets/icons/binding.png) no-repeat center;
    background-size: auto 14px;
}

.TemplateObjectCell-button-icon.TemplateObjectCell-button--listen {
    background-image: url(/assets/icons/event.png);
}

.TemplateObjectElementField-label--invalid {
    color: red;
}

/* Connection Type ---------------------------- */


.Connection-type {
    position: relative;
    -webkit-flex: 1 1 450px;
    min-width: 0;
    margin-bottom: 4px;
    margin-left: 18px;
    padding: 0 10px 0 10px;
    border-left: 1px solid hsl(0, 0%, 85%);
}

.Connection-type-title {
    margin: 0;
    font-size: 11px;
    font-weight: normal;
    line-height: 22px;
    color: hsl(0,0%,60%);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.Connection-type-list {
    -webkit-flex: 1;
    min-width: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}
