.TemplateObjectCell {
    border: 1px solid hsla(0,0%,0%,0);
    border-left-width: 5px;
    background-color: hsl(0,0%,96%);
}

.TemplateObjectCell.selected {
    border-color: hsl(210,100%,60%);
    background-color: hsl(0,0%,98%)
}

.TemplateObjectCell.selected .TemplateObjectHeader {
    background-color: hsl(210,100%,92%);
}

/*.TemplateObjectCell--owner.selected .TemplateObjectHeader,
.TemplateObjectCell--owner .TemplateObjectHeader {
    background-color: hsl(43, 100%, 85%);
}*/

.TemplateObjectCell-header + * {
    margin-top: 4px;
}


/* TemplateObjectCell Sections ---------------------------- */

.TemplateObjectCell-section {
    border-top: 1px solid hsla(0,0%,0%,.1);
}


/* TemplateObjectCell components
 * (used in binding + listener explorer) ---------------------------- */

.TemplateObjectCell-header {
    display: -webkit-flex;
    padding: 8px;
}

.TemplateObjectCell-icon {
    margin: auto 0;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 14px;
}

.TemplateObjectCell-icon--binding {
    background-image: url(/assets/icons/binding.png);
}

.TemplateObjectCell-icon--listener {
    background-image: url(/assets/icons/event.png);
}

.TemplateObjectCell-title {
    -webkit-flex: 1;
    margin: 0 8px;
    font-size: 12px;
    font-weight: normal;
    line-height: 22px;
    color: hsl(0, 0%, 60%);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.TemplateObjectCell-list {
    margin: 0;
    padding: 0 8px 4px 32px;
}

.TemplateObjectCell-list:empty {
    padding-bottom: 0;
}