.TemplateObjectCell {
    display: -webkit-inline-flex;
    -webkit-flex-direction: column;
    position: relative;
    z-index: 10;
    overflow: hidden;
    resize: both;
    min-width: 100px;
    margin: 6px;
    border-radius: 4px 4px 2px 4px;
    border: 1px solid hsl(0, 0%, 65%);
    box-shadow: 0 1px 2px hsla(0,0%,0%,.1);
    background: hsl(0, 0%, 90%);
}

.TemplateObjectCell:hover {
    z-index: 101;
    box-shadow: 0 2px 3px hsla(0,0%,0%,.3);
    border-color: hsl(0,0%,50%);
}

.TemplateObjectCell.selected {
    z-index: 100;
    border-color: hsl(210,100%,70%);
}

.TemplateObjectCell.selected:hover {
    z-index: 101;
    border-color: hsl(210,100%,50%);
}


/* Header ---------------------------- */

.TemplateObjectCell-header {
    display: -webkit-flex;
    padding: 4px;
    font-size: 12px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    text-shadow: 0 1px 0 hsla(0, 0%, 100%, .8);
    border-bottom: 1px solid hsla(0, 0%, 0%, .1);
    box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 1);
    background: -webkit-linear-gradient( hsl(0, 0%, 99%), whiteSmoke );
}

.TemplateObjectCell-icon {
    display: block;
    height: 14px;
    margin: 0 4px 0 0;
}

.TemplateObjectCell-title {
    -webkit-flex: 1;
    display: block;
    margin: 0;
    font-size: 12px;
    line-height: 14px;
    color: hsl(0, 0%, 50%);
}


/* Content ---------------------------- */

.TemplateObjectCell-content {
    -webkit-flex: 1;
    padding: 6px;
}


/* Header ---------------------------- */

.TemplateObjectCell-footer {
    padding: 4px;
    font-size: 12px;
    color: hsl(0, 0%, 30%);
    text-shadow: 0 1px 0 hsla(0, 0%, 100%, .3);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    border-top: 1px solid hsla(0, 0%, 0%, .1);
    background: hsl(0, 0%, 80%);
}

.TemplateObjectCell--comment {
    display: block;
    padding: 0.5em;

    border: 1px solid hsl(44,40%,91%);
    border-width: 1px 1px 2px;
    border-color-top: hsl(44,40%,98%);
    border-color-bottom: hsl(44,40%,87%);

    white-space: normal;
    font-style: italic;
    background-color: hsl(42,83%,95%);
}