.AssetsCategoriesBarItem {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0;
    line-height: 26px;
    font-size: 10px;
    text-align: center;
    color: hsl(0, 0%, 64%);
    background-color: hsl(0, 0%, 20%);
    cursor: pointer;
}

.AssetsCategoriesBarItem:hover {
    color: hsl(0, 0%, 94%);
}

.AssetsCategoriesBarItem:active {
    background-color: hsl(0, 0%, 16%);
}

.AssetsCategoriesBarItem.selected {
    color: hsl(0, 0%, 94%);
    cursor: default;
    background-color: hsl(0, 0%, 25%);
}
