.AssetsCategoriesBarItem {
    flex: 1;
    margin: 0;
    line-height: 26px;
    font-size: 10px;
    text-align: center;
    color: hsl(0, 0%, 40%);
    background-color: hsl(0, 0%, 22%);
    cursor: pointer;
}

.AssetsCategoriesBarItem:hover {
    color: hsl(0, 0%, 50%);
}

.AssetsCategoriesBarItem:active {
    background-color: hsl(0, 0%, 16%);
}

.AssetsCategoriesBarItem.selected {
    color: inherit;
    cursor: default;
    background-color: hsl(0, 0%, 26%);
}
