.DependencyActions-content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    padding: 8px;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    background: hsl(0, 0%, 96%);
}

.DependencyActions-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    width: 100%;
}

.DependencyAction-item {
    padding: 8px 3px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    overflow: hidden;
}

.DependencyActionItem-label {
    color: hsl(0, 0%, 50%);
    min-width: 120px;
    font-size: 13px;
    text-align: right;
    margin-right: 12px;
}

.DependencyActionItem-content {
    -webkit-flex: 3;
    -moz-flex: 3;
    -ms-flex: 3;
    flex: 3;
}

.DependencyActionItem-content .matte-RadioButton,
.DependencyActionItem-content .matte-RadioButton:hover {
    background-color: #fff;
    margin: 0;
}

.DependencyActionItem-content .matte-Button {
    float: right;
}

.DependencyActionItem-content .matte-InputText {
}

.dependencyTypeLabel {
    margin: 0 12px 0 2px;
    vertical-align: middle;
}

.DependencyAction-item--versions .matte-Select,
.DependencyAction-item--versions .matte-Button,
.DependencyUpdate-item,
.DependencyUpdate-item.matte-Button{
    margin: 0;
    vertical-align: middle;
}

