.DependencyActions-content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    padding: 8px;
    background: hsl(0,0%,94%);
    border-radius: 0 0 4px 4px;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.DependencyActions-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    width: 100%;
}

.DependencyAction-item {
    padding: 8px 3px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    overflow: hidden;
}

.DependencyActionItem-label {
    color: hsl(0,0%,40%);
    min-width: 120px;
    font-size: 12px;
    font-style: italic;
}

.DependencyActionItem-content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex: 3;
    -moz-flex: 3;
    -ms-flex: 3;
    flex: 3;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    overflow-x: hidden;
    max-width: 280px;
}

.DependencyActionItem-content .matte-RadioButton,
.DependencyActionItem-content .matte-RadioButton:hover {
    background-color: #fff;
    margin: 0;
}

.DependencyActionItem-content .matte-Button {
    height: 25px;
}

.DependencyActionItem-content .matte-InputText {
    width: 100%;
}

.dependencyTypeLabel {
    margin: 0 4px;
}

.DependencyAction-item--versions .matte-Select,
.DependencyAction-item--versions .matte-Button,
.DependencyUpdate-item {
    margin-left: auto;
}
