.TreeList {
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    z-index: 1;
}

.TreeList-repetition {
    flex: 1;
}

.TreeListNodeWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}
