/* Activity Infobar

Classes to toggle state
    .ActivityInfobar--running
    .ActivityInfobar--completed
    .ActivityInfobar--failed

Classes to toggle counter
    .ActivityInfobar--noneCompleted
    .ActivityInfobar--noneFailed

*/



.ActivityInfobar {
    background: hsl(0,0%,30%);
    z-index: 50;
}

.Infobar-content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    height: 32px;
    color: hsl(0, 0%, 94%);
    text-shadow: 0 1px 0 hsla(0,0%,0%,.1);
}

.ActivityInfobar-icon {
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    background-color: hsla(0,0%,0%,.2);
}

.ActivityInfobar-title {
    font-weight: bold;
    margin: 0 16px 0 8px;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    cursor: auto;
}

.ActivityInfobar-status {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    cursor: auto;
}



/* Running ------------------------ */

.ActivityInfobar--running .ActivityInfobar-icon {
    background-color: hsla(0,0%,0%,.6);
    background-size: 8px;
    /* the unprefixed one needs to come before the -webkit- one because
    otherwise Chrome doesn't process it */
    background-image:   repeating-linear-gradient( 0deg,
                           hsla(0,0%,100%,0), hsla(0,0%,100%,0) 4px, hsla(0,0%,100%,.2) 4px, hsla(0,0%,100%,.2) 8px );
    background-image:   -webkit-repeating-linear-gradient( 0deg,
        hsla(0,0%,100%,0), hsla(0,0%,100%,0) 4px, hsla(0,0%,100%,.2) 4px, hsla(0,0%,100%,.2) 8px );
    background-image:   -moz-repeating-linear-gradient( 0deg,
        hsla(0,0%,100%,0), hsla(0,0%,100%,0) 4px, hsla(0,0%,100%,.2) 4px, hsla(0,0%,100%,.2) 8px );
    background-image:   -ms-repeating-linear-gradient( 0deg,
        hsla(0,0%,100%,0), hsla(0,0%,100%,0) 4px, hsla(0,0%,100%,.2) 4px, hsla(0,0%,100%,.2) 8px );
    -webkit-animation: progress 1s linear infinite;
    -moz-animation: progress 1s linear infinite;
    -ms-animation: progress 1s linear infinite;
    animation: progress 1s linear infinite;
}
@-webkit-keyframes progress {
    from { background-position: 0 0; }
    to { background-position: 32px 0; }
}
@-moz-keyframes progress {
    from { background-position: 0 0; }
    to { background-position: 32px 0; }
}
@-ms-keyframes progress {
    from { background-position: 0 0; }
    to { background-position: 32px 0; }
}
@keyframes progress {
    from { background-position: 0 0; }
      to { background-position: 32px 0; }
}



/* Completed ------------------------ */

.ActivityInfobar--completed .ActivityInfobar-icon,
.ActivityInfobar-counter-completed {
    background-color: hsl(140, 50%, 50%);
}

.ActivityInfobar--completed .ActivityInfobar-icon:before,
.ActivityInfobar-counter-completed:before {
    content: "✔";
}

.ActivityInfobar--noneCompleted .ActivityInfobar-counter-completed {
    display: none;
}


/* Failded ------------------------ */

.ActivityInfobar--failed .ActivityInfobar-icon,
.ActivityInfobar-counter-failed {
    background-color: hsl(10, 80%, 54%);
}
.ActivityInfobar--failed .ActivityInfobar-icon:before,
.ActivityInfobar-counter-failed:before {
    content: "✘";
}

.ActivityInfobar--noneFailed .ActivityInfobar-counter-failed {
    display: none;
}



/* Counter ------------------------ */

.ActivityInfobar-counter {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
}

.ActivityInfobar-counter-completed,
.ActivityInfobar-counter-failed {
    display: inline-block;
    font-size: 13px;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    box-shadow: inset 0 1px 4px hsla(0, 0%, 0%, 0.2);
    border: 1px solid hsl(0, 0%, 25%);
    border-right: none;
}

.ActivityInfobar-counter-completed:before,
.ActivityInfobar-counter-failed:before {
    margin-right: 4px;
    font-size: 13px;
}

.ActivityInfobar-counter-failed {
    border-radius: 12px 0 0 12px;
}

.ActivityInfobar--noneFailed .ActivityInfobar-counter-completed {
    border-radius: 12px 0 0 12px;
}


/* Details Button ------------------------ */

.ActivityInfobar .ActivityInfobar-detailsButton {
    margin: 0 4px 0 0;
    height: 24px;
    color: hsla(0, 0%, 94%, 1);
    border-color: hsl(0, 0%, 25%);
    border-radius: 0 12px 12px 0;
    background: -webkit-linear-gradient(hsl(0, 0%, 50%), hsl(0, 0%, 40%));
    background: -moz-linear-gradient(hsl(0, 0%, 50%), hsl(0, 0%, 40%));
    background: -ms-linear-gradient(hsl(0, 0%, 50%), hsl(0, 0%, 40%));
    background: linear-gradient(hsl(0, 0%, 50%), hsl(0, 0%, 40%));
}

.ActivityInfobar .ActivityInfobar-detailsButton:hover {
    color: #fff;
    background: -webkit-linear-gradient(hsl(0, 0%, 54%), hsl(0, 0%, 44%));
    background: -moz-linear-gradient(hsl(0, 0%, 54%), hsl(0, 0%, 44%));
    background: -ms-linear-gradient(hsl(0, 0%, 54%), hsl(0, 0%, 44%));
    background: linear-gradient(hsl(0, 0%, 54%), hsl(0, 0%, 44%));
}

.ActivityInfobar .ActivityInfobar-detailsButton.active {
    color: hsla(0,0%,100%,.7);
    background: -webkit-linear-gradient(hsl(0, 0%, 36%), hsl(0, 0%, 30%));
    background: -moz-linear-gradient(hsl(0, 0%, 36%), hsl(0, 0%, 30%));
    background: -ms-linear-gradient(hsl(0, 0%, 36%), hsl(0, 0%, 30%));
    background: linear-gradient(hsl(0, 0%, 36%), hsl(0, 0%, 30%));
}

.ActivityInfobar--noneCompleted.ActivityInfobar--noneFailed .ActivityInfobar-detailsButton {
    border-radius: 12px;
}

.ActivityInfobar-overlay {
    width: 100%;
}
