.Library {
    -webkit-user-select: none;
    border-left: 1px solid hsl(0, 0%, 22%);
}

.Library-bar {
    position: relative;
    display: flex;
    padding: 8px;
    height: 47px;
    border-top: 1px solid hsl(0, 0%, 46%);
    border-bottom: 1px solid hsl(0, 0%, 22%);
    background: -webkit-linear-gradient( hsl(0, 0%, 42%), hsl(0, 0%, 32%) );
    z-index: 1;
}

.Library-search.matte-InputText {
    flex: 1;
    -webkit-appearance: none; padding-right: 0; font-family: inherit; 
    color: hsl(0, 0%, 60%); 
    border-color: hsl(0, 0%, 27%); border-radius: 20px; 
    background-color: hsla(0, 0%, 0%, 0.08); 
    box-shadow: inset 0 1px 2px hsla(0, 0%, 0%, 0.08), 0 1px 0 hsla(0, 100%, 100%, 0.1);
}

/* Search Close Button */
.Library-search.matte-InputText::-webkit-search-cancel-button {
  margin: 2px 8px 0 4px;
  opacity: .5;
  cursor: pointer;
}

.Library-search.matte-InputText::-webkit-search-cancel-button:hover {
  opacity: .7;
}

.Library-search.matte-InputText::-webkit-search-cancel-button:active {
  opacity: .3;
}

/* Header Button ------------------------- */

.Library-viewModeButton.matte-Button {
    position: relative;
    min-width: initial;
    width: 30px;
    height: 30px;
    margin: 0 0 0 4px;
    padding: 0;
    font-size: 40px;
    line-height: 30px;
    color: hsl(0, 0%, 60%);
    border: none;
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
}

.Library-viewModeButton.matte-Button:hover {
    color: hsl(0, 0%, 70%);
    background: transparent;
}

.Library-viewModeButton.matte-Button.active {
    background: hsla(0, 0%, 0%, .1);
}

.Library .Library-viewModeButton:before { content: ""; }
.Library.isList .Library-viewModeButton:before { content: "⚏"; }



/* List -------------------------------- */

.Library-list {
    -webkit-flex: 1;
    position: relative;
    min-height: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: hsl(0, 0%, 26%);
}



/* Scrollbar -------------------------------- */

.Library ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3px;
    height: 0px;
    background-color: hsl(0, 0%, 18%);
}

.Library ::-webkit-scrollbar-thumb {
    border: none;
    background-color: hsl(0, 0%, 36%);
}