.Library {
    -webkit-user-select: none;
    //border-left: 1px solid hsl(0, 0%, 75%);
    //background: hsl(0, 0%, 80%);
}

.Library .List-item {
    padding: 0;
}




/* LibraryCell Button --------------------------------- */

.LibraryCell .LibraryCell-button {
	-webkit-appearance: none;
	display: block;
	width: 100%;
	padding: 4px 4px 4px 8px;
	text-align: left;
	height: auto;
	min-width: 0;
	margin: 0;
	color: hsl(0,0%,40%);
	border: none;
	border-radius: 0;
	background: transparent;
	cursor: pointer;
}

.LibraryCell .LibraryCell-button:active,
.LibraryCell .LibraryCell-button:focus {
    border-color: transparent;
	background: hsl(0,0%,80%);
}



/* Icon --------------------------------- */

.LibraryCell-button-icon {
	display: inline-block;
	margin: 0 6px 0 0;
	width: 36px;
	vertical-align: middle;
}


/* Label --------------------------------- */

.LibraryCell-button-label {
	display: inline-block;
	text-align: left;
	font-size: 12px;
	line-height: 20px;
	vertical-align: middle;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}


/* States --------------------------------- */

/* Label only --------------------------------- */

.Library--labelOnly .LibraryCell-button-icon {
    display: none;
}


/* Grid --------------------------------- */

.Library--grid {
    font-size: 0;
    background: hsl(0,0%,94%);
    border-radius: 0 0 4px 4px;
}

.Library--grid .LibraryCell {
    display: inline-block;
    width: 61px;
    padding: 4px 0 0 0;
    background: transparent;
    border-right: 1px solid hsla(0, 0%, 0%, 0.05);
}

.Library--grid .LibraryCell:nth-child(3n) {
    border-right-color: hsl(0,0%,94%);
}

.Library--grid .LibraryCell:nth-last-child(-n+2) {
    border-bottom: none;
}

.Library--grid .LibraryCell:last-child {
    border-radius: 0;
}

.Library--grid .LibraryCell-button {
	padding: 4px;
	text-align: center;
}

.Library--grid .LibraryCell-button-icon {
    width: 45px;
    margin: 0;
}

.Library--grid .LibraryCell-button-label {
    display: block;
    font-size: 9px;
    text-align: center;
}


/* with Details --------------------------------- */

.Library--withDetails .LibraryCell-button-icon {
    float: left;
    margin-top: 2px;
}

.Library--withDetails .LibraryCell-button-description {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 10px;
    color: hsl(0,0%,70%);
}

.Library--withDetails .LibraryCell-button-label {
    line-height: 16px;
}

