.PackageDependencyCell {
    padding: 8px 16px;
    line-height: 28px;
    border-top: 1px solid hsla(0, 0%, 100%, .5);
    border-bottom: 1px solid hsla(0, 0%, 0%, .06);
    display: -webkit-flex;
}

.PackageDependencyCell:last-child {
    border-radius: 0 0 6px 6px;
}

.PackageDependencyCell:nth-child(odd) {
    background: hsla(0,0%,100%,.8);
}

.PackageDependencyCell:nth-child(even) {
    background: hsla(0,0%,100%,.6);
}

.PackageDependencyCell-item {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.PackageDependencyCell.invalid .PackageDependencyCell-item {
    color: #E73525;
}

.PackageDependencyCell-item--name {
    color: hsl(0,0%,30%);
    font-size: 16px;
    font-weight: bold;
    -webkit-flex: 2;
}

.PackageDependencyCell-item--version {
    text-indent: 8px;
    -webkit-flex: 1;
}
