.PackageDependencyCell {
    padding: 8px 16px;
    line-height: 28px;
    border-top: 1px solid hsla(0, 0%, 100%, .5);
    border-bottom: 1px solid hsla(0, 0%, 0%, .06);
    display: -webkit-flex;
}

.PackageDependencyCell.selected {
    background: hsl(210,100%,92%) !important;
}

.PackageDependencyCell:-webkit-drag {
    background: hsla(0,0%,100%,.8) !important;
    text-align: center;
    font-size: 22px;
}

.PackageDependencyCell-item--update {
    visibility: hidden;
}

.PackageDependencyCell-item-visible {
    visibility: visible;
}

.PackageDependencyCell:-webkit-drag .PackageDependencyCell-item--version,
.PackageDependencyCell:-webkit-drag .PackageDependencyCell-item--update,
.PackageDependencyCell:-webkit-drag .PackageDependencyCell-item--action {
    display: none;
}

.PackageDependencyCell:last-child {
    border-radius: 0 0 6px 6px;
}

.PackageDependencyCell:nth-child(odd) {
    background: hsla(0,0%,100%,.8);
}

.PackageDependencyCell:nth-child(even) {
    background: hsla(0,0%,100%,.6);
}

.PackageDependencyCell-item {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.PackageDependencyCell.invalid .PackageDependencyCell-item {
    color: #E73525;
}

.PackageDependencyCell-item--name {
    color: hsl(0,0%,30%);
    font-size: 16px;
    font-weight: bold;
    -webkit-flex: 2;
}

.PackageDependencyCell-item--version, .PackageDependencyCell-item--update {
    text-indent: 8px;
    -webkit-flex: 1;
}
