.PersonInformationEditable {
    -webkit-flex: 1;
    display: -webkit-flex;
}

.PersonInformationEditable-details {
    display: -webkit-flex;
    -webkit-flex: 4;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
}

.PersonInformationEditable-item {
    margin-bottom: 6px;
    font-size: 12px;
}

.PersonInformationEditable-item:last-child {
    margin-bottom: 0;
}

.PersonInformationEditable-name,
.PersonInformationEditable-url,
.PersonInformationEditable-email {
    height: 28px !important;
}

.PersonInformationEditable-actions {
    display: -webkit-flex;
    -webkit-flex: 0.5;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    min-width: 65px;
}

.PersonInformationEditable-actions > button {
    height: 25px;
    margin: 6px 0 6px 0;
}
