.Intro {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    width: 400px;
    padding: 50px;
    background: hsl(0,0%,80%);
}


.Intro-logo {
    width: 180px;
}

.Intro-title {
    margin: 100px 0 0 0;
    font-size: 20px;
}

.Intro-description {
    font-size: 15px;
    text-align: center;
}
