/* Preview Home -------------------------------- */

html {
    background: hsl(0,0%,95%);
}

body {
    overflow: auto;
}

.PreviewHome {
    padding: 10px;
    text-shadow: 0 1px 0 hsla(0,0%,100%,.5);
    -webkit-user-select: none;
    cursor: default;
}
@media (min-width: 800px) {
    .PreviewHome {
        display: -webkit-box;
        display: flex;
        padding: 50px;
        height: 100%;
    }
}



/* Intro --------------------------------- */

.Intro {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    -webkit-box-pack: center;
}
@media (min-width: 800px) {
    .Intro {
        -webkit-box-flex: 1;
        flex: 1;
    }
}

.Intro-logo {
    margin: 10px;
    width: 180px;
}

.Intro-meta {
    font-size: 11px;
    color: hsl(0, 0%, 70%);
    text-align: center;
}



/* List --------------------------------- */

.Preview {
    margin: 10px 10px 20px 10px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid hsla(0, 0%, 0%, .06);
    background: hsl(0, 0%, 92%);
}
@media (min-width: 800px) {
    .Preview {
        -webkit-box-flex: 1;
        flex: 1;
        max-width: 440px;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        flex-direction: column;
        padding: 15px;
    }
}

.Preview-title {
    margin: 0 0 12px 0;
    font-size: 20px;
    font-weight: normal;
    color: hsl(0, 0%, 50%);
    text-shadow: 0 1px 0 hsla(0, 0%, 100%, .3);
}

.Preview-list {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: hsl(0, 0%, 85%);
}
@media (min-width: 800px) {
    .Preview-list {
        -webkit-box-flex: 1;
        flex: 1 1 0;
        min-width: 0;
        min-height: 0;
        overflow-y: scroll;
    }
}

.Preview-list-item-link {
    display: block;
    padding: 0 20px;
    font-size: 16px;
    line-height: 50px;
    text-decoration: none;
    color: hsl(0, 0%, 30%);
    border-top: 1px solid hsla(0, 0%, 100%, .5);
    border-bottom: 1px solid hsla(0, 0%, 0%, .1);
    background: hsl(0, 0%, 95%);
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
@media (min-width: 800px) {
    .Preview-list-item-link {
        
    }
}

.Preview-list-item-link:hover {
    border-top: 1px solid hsla(0, 0%, 100%, .1);
    background: hsl(0, 0%, 97%);
}

.Preview-list-item-link:active {
    background: hsl(0, 0%, 90%);
}
