.Toggle.matte-InputCheckbox {
    -webkit-appearance: none;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    width: 14px;
    height: 14px;
    font-size: 12px;
    color: hsl(0,0%,50%);
    border: none;
    border-radius: 0;
    background: url(/assets/icons/toggle.svg) no-repeat left center;
    background-size: 14px;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
    -webkit-transform-origin: 6px center;
    -webkit-transition: -webkit-transform .1s ease-in-out;
}

.Toggle.matte-InputCheckbox:focus {
    outline-offset: 0px;
}

.Toggle.matte-InputCheckbox:checked {
    -webkit-transform: rotate(90deg);
}

