.PackageInformation--maintainers .PackageEditorPanel-content {
    -webkit-flex-direction: column;
    padding: 15px;
}

.PersonFromOverlay {
    background: white;
    border: 1px solid #b3b3b3;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 0 2px 1px #a3a3a3;
}

.MaintainersList {
    background-color: #ffffff;
    margin-top: 15px;
    width: 100%;
    padding: 0;
    max-height: 160px;
    overflow-y: auto;
    border-radius: 5px;
}

.MaintainersList ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
}
