.PackageInformation--maintainers .PackageEditorPanel-content {
    flex-direction: column;
    padding: 15px;
}

.PackageInformationMaintainers-header {
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid hsla(0,0%,0%,.1);
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,1);
    background: -webkit-linear-gradient( hsl(0,0%,99%), hsl(0,0%,96%) );
}

.PackageInformationMaintainers-header .PackageEditorPanel-title {
    display: inline-block;
    text-shadow: none;
    border-bottom: none;
}

.AddMaintainerButton-header.matte-Button {
    margin: 0;
    padding: 0;
    min-width: 0;
    float: right;
    width: 25px;
    height: 25px;
    font-size: 18px;
    font-weight: bold;
    line-height: 0;
    color: hsl(0, 0%, 60%);
    border-radius: 0;
    border: none;
    background-color: transparent;
    -webkit-font-smoothing: none;
}

.AddMaintainerButton-header.matte-Button:hover {
    background-color: hsl(0,0%,92%);
    border-radius: 0 4px 0 0;
}

.MaintainersList {
    background-color: #ffffff;
    width: 100%;
    padding: 0;
    max-height: 160px;
    overflow-y: auto;
    border-radius: 5px;
    margin: 0;
    list-style: none;
}
