/* Filament Utility Styles */

.Filament--willAcceptDrop {
    outline: 1px solid hsl(210, 100%, 84%);
}

/*
 * CSS-Only components used in Filament
 * Could be moved into "real" reels.
 */


.Search.matte-InputText {
    -webkit-appearance: none;
    padding-right: 0; /* space for cancel button */
    color: hsl(0,0%,30%);
    border-color: hsl(0,0%,77%);
    border-radius: 20px;
    background-color: hsla(0,0%,0%,.04);
    box-shadow: inset 0 1px 2px hsla(0,0%,0%,0.08), 0 1px 0 hsla(0,0%,100%,.6);
}

.Search.matte-InputText:hover {
    background-color: hsla(0,0%,0%,.02);
}

.Search.matte-InputText:focus {
    border-color: hsl(210,100%,70%);
    background-color: hsla(210,100%,60%,0.1);
}

/* Search Close Button */
.Search.matte-InputText::-webkit-search-cancel-button {
  margin: 6px;
  opacity: .8;
  cursor: pointer;
}

.Search.matte-InputText::-webkit-search-cancel-button:hover {
  opacity: 1;
}

.Search.matte-InputText::-webkit-search-cancel-button:active {
  opacity: .3;
}


/* Panel --------------------------------- */

.Panel.Panel--hidden {
    -webkit-flex: 0 1 0;
    border: none;
}

.Panel.Panel--floating {
    position: absolute;
    z-index: 1;
    -webkit-flex: 0 1 0;
    width: 200px;
    top: 40px;
    right: 40px;
    bottom: 8px;
    border: none;
    box-shadow: -2px 0 6px hsla(0,0%,0%,0.4);
}

.Panel.Panel--noAnimation {
    -webkit-transition: none;
}

.Panel {
    -webkit-flex: 0 0 200px;
    min-width: 0;
    overflow: hidden;
    display: -webkit-flex;
    -webkit-flex-flow: column;
    position: relative;
    background: hsl(0, 0%, 86%);
    -webkit-transition: -webkit-flex .3s cubic-bezier(.26, .06, .08, 1);
}

.Panel-bar {
    padding: 8px;
    margin: 0;
    border-top: 1px solid hsla(0,0%,100%,1);
    border-bottom: 1px solid hsla(0,0%,0%,.2);
    background: -webkit-linear-gradient( hsl(0,0%,98%), hsl(0,0%,94%) );
}

.Panel-title {
    text-align: left;
    height: 32px;
    padding: 0 8px;
    margin: 0;
    line-height: 30px;
    font-size: 14px;
    font-weight: normal;
    color: hsl(0,0%,30%);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.3);
    border-top: 1px solid hsla(0,0%,100%,1);
    border-bottom: 1px solid hsla(0,0%,0%,.2);
    background: -webkit-linear-gradient( hsl(0,0%,98%), hsl(0,0%,94%) );
}

.Panel-title-button {
    position: absolute;
    top: 4px;
    right: 4px;
}

.Panel-content {
    -webkit-flex: 1;
    min-height: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    background: hsl(0,0%,80%);
}

.Panel-shadow {
    position: absolute;
    pointer-events: none;
    height: 4px;
    top: 32px; left: 0; right: 0;
    background-image: -webkit-radial-gradient(center 0%, ellipse farthest-side, hsla(0,0%,0%,0.1), hsla(0,0%,0%,.02) 110% );
}


/* List --------------------------------- */

.List {
    margin: 0;
    padding: 0;
    list-style: none;
    background: hsl(0,0%,92%);
}

.List-title {
    position: relative;
	padding: 5px 10px;
	margin: 0;
	font-size: 12px;
	font-weight: bold;
	color: hsl(0,0%,50%);
	text-shadow: 0 1px 0 hsla(0,0%,100%,.8);
	border-bottom: 1px solid hsla(0,0%,0%,.1);
	background: -webkit-linear-gradient( hsl(0,0%,98%), hsl(0,0%,94%) );
	cursor: pointer;
}

.List-title:focus {
    outline: none;
}


.List-item {
	padding: 8px;
	border: none;
    border-top: 1px solid hsla(0,0%,100%,0.2);
    border-bottom: 1px solid hsla(0,0%,0%,0.05);
	font-size: 12px;
	line-height: 1;
	color: hsl(0,0%,30%);
	text-shadow: 0 1px 0 hsla(0,0%,100%,.3);
	background: hsl(0,0%,90%);
}

.List-item {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
}

.List-item:hover {
	background: hsl(0,0%,94%);
}

.List-item.active,
.List-item:active,
.List-item:focus {
    border-color: transparent;
	background: hsl(0,0%,85%);
}



/* Toolbar --------------------------------- */

.Toolbar {
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    height: 34px;
    padding-bottom: 1px; /* Fixes vertical centering */
    border-top: 1px solid hsla(0, 0%, 100%, 1);
    background: -webkit-linear-gradient( hsl(0, 0%, 98%), hsl(0, 0%, 94%) );
}

.Toolbar--top {
    border-radius: 4px 4px 0 0;
}

.Toolbar--bottom {
    border-radius: 0 0 4px 4px;
}


/* Toolbar Button */

.Toolbar-button {
    height: 20px;
    font-size: 10px;
    margin: 0 7px;
}

.Toolbar .matte-ButtonGroup {
    display: -webkit-flex;
    margin: 0 7px;
    line-height: 0;
}


/* Toolbar Slider */

.Toolbar-slider {
    -webkit-flex: 1 1 auto;
    min-width: 0;
    margin: 0 8px;
    max-width: 200px;
    height: 16px;
    border-radius: 8px;
    border-color: hsl(0, 0%, 74%);
    box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.1), 0 1px 0 hsla(0, 0%, 100%, .6);
}

.Toolbar-slider .matte-InputRange-thumb {
    height: 16px;
    margin: -8px 0 0 -1px;
    border-color: hsl(0, 0%, 74%);
    background-image: -webkit-linear-gradient(top, hsl(0, 0%, 98%), hsl(0, 0%, 90%) );
    box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .8), inset 0 -1px 1px hsla(0, 0%, 0%, .04);
}
