/* Filament Utility Styles */

.Filament--willAcceptDrop {
    outline: 1px solid hsl(210, 100%, 84%);
}

/*
 * CSS-Only components used in Filament
 * Could be moved into "real" reels.
 */


.Search.matte-InputText {
    -webkit-appearance: none;
    padding-right: 0; /* space for cancel button */
    font-family: inherit;
    color: hsl(0,0%,30%);
    border-color: hsl(0,0%,77%);
    border-radius: 20px;
    background-color: hsla(0,0%,0%,.04);
    box-shadow: inset 0 1px 2px hsla(0,0%,0%,0.08), 0 1px 0 hsla(0,0%,100%,.6);
}

.Search.matte-InputText:hover {
    background-color: hsla(0,0%,0%,.02);
}

.Search.matte-InputText:focus {
    border-color: hsl(210,100%,70%);
    background-color: hsla(210,100%,60%,0.1);
}

/* Search Close Button */
.Search.matte-InputText::-webkit-search-cancel-button {
  margin: 2px 8px 0 4px;
  opacity: .8;
  cursor: pointer;
}

.Search.matte-InputText::-webkit-search-cancel-button:hover {
  opacity: 1;
}

.Search.matte-InputText::-webkit-search-cancel-button:active {
  opacity: .3;
}


/* Column --------------------------------- */

.Column {
    position: relative;
    border-left: 1px solid hsl(0, 0%, 75%);
}


.Column:before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 1px;
    height: 46px; /* Height of Bar - 1px border */
    background: linear-gradient( hsl(0, 0%, 96%), hsl(0, 0%, 95%) 8px, hsl(0, 0%, 75%) );
    left: -1px;
    top: 0;
}

.Column.Panel--hidden:before {
    content: none;
}


/* Bar --------------------------------- */

.Bar {
    padding: 8px;
    margin: 0;
    border-bottom: 1px solid hsl(0,0%,75%);
    background: -webkit-linear-gradient( hsl(0,0%,96%), hsl(0,0%,92%) );
}

.Bar > .Button {
    margin: 0;
}

/* Panel --------------------------------- */

.Panel.Panel--hidden {
    -webkit-flex: 0 1 0;
    border: none;
}

.Panel.Panel--floating {
    position: absolute;
    z-index: 1;
    -webkit-flex: 0 1 0;
    width: 200px;
    top: 40px;
    right: 40px;
    bottom: 8px;
    border: none;
    box-shadow: -2px 0 6px hsla(0,0%,0%,0.4);
}

.Panel.Panel--noAnimation {
    -webkit-transition: none;
}

.Panel {
    -webkit-flex: 0 0 200px;
    min-width: 0;
    display: -webkit-flex;
    -webkit-flex-flow: column;
    position: relative;
    -webkit-transition: -webkit-flex .3s cubic-bezier(.26, .06, .08, 1);
}

.Panel-bar {
    padding: 8px;
    margin: 0;
    border-top: 1px solid hsla(0,0%,100%,1);
    border-bottom: 1px solid hsla(0,0%,0%,.2);
    background: -webkit-linear-gradient( hsl(0,0%,98%), hsl(0,0%,94%) );
}

.Panel-title-button {
    position: absolute;
    top: 4px;
    right: 4px;
}

.Panel-content {
    -webkit-flex: 1;
    min-height: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.Panel-shadow {
    position: absolute;
    pointer-events: none;
    height: 4px;
    top: 32px; left: 0; right: 0;
    background-image: -webkit-radial-gradient(center 0%, ellipse farthest-side, hsla(0,0%,0%,0.1), hsla(0,0%,0%,.02) 110% );
}



/* List --------------------------------- */

.List {
    margin: 0;
    padding: 0;
    list-style: none;
    background: hsl(0,0%,92%);
}

.List-title {
    position: relative;
	padding: 5px 10px;
	margin: 0;
	font-size: 12px;
	font-weight: bold;
	color: hsl(0,0%,50%);
	text-shadow: 0 1px 0 hsla(0,0%,100%,.8);
	border-bottom: 1px solid hsla(0,0%,0%,.1);
	background: -webkit-linear-gradient( hsl(0,0%,98%), hsl(0,0%,94%) );
	cursor: pointer;
}

.List-title:focus {
    outline: none;
}


.List-item {
	padding: 8px;
	border: none;
    border-top: 1px solid hsla(0,0%,100%,0.2);
    border-bottom: 1px solid hsla(0,0%,0%,0.05);
	font-size: 12px;
	line-height: 1;
	color: hsl(0,0%,30%);
	text-shadow: 0 1px 0 hsla(0,0%,100%,.3);
	background: hsl(0,0%,90%);
}

.List-item {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
}

.List-item:hover {
	background: hsl(0,0%,94%);
}

.List-item.active,
.List-item:active,
.List-item:focus {
    border-color: transparent;
	background: hsl(0,0%,85%);
}

/* Shadow --------------------------------- */

.Shadow {
    position: absolute;
    pointer-events: none;
    height: 4px;
    left: 0;
    right: 0;
    z-index: 1;
}

.Shadow--top {
    background-image: -webkit-radial-gradient(center 0%, ellipse farthest-side, hsla(0, 0%, 0%, 0.2), hsla(0, 0%, 0%, 0.02) );
}
.Shadow--bottom {
    margin-top: -4px;
    background-image: -webkit-radial-gradient(center 100%, ellipse farthest-side, hsla(0, 0%, 0%, 0.1), hsla(0, 0%, 0%, 0.02) );
}
