/* These styles are used on all the pages outside of the main app. */

/* Global ------------------------------------- */

* {
    box-sizing: border-box;
}

html {
    font-family: Clear Sans, sans-serif;
    font-size: 16px;
    color: #B8B8B8;
    /*background-color: hsl(212, 20%, 20%);*/
    background-color: hsl(0, 0%, 22%);
}

body {
    margin: 0;
    font-size: 16px;
}

a,
a:active {
    text-decoration: none;
    color: hsl(212, 60%, 72%);
}
a:hover {
    color: hsl(212, 60%, 80%);
}


.montage-invisible {
    display: none;
}



/* Aside ------------------------------------- */

.Aside {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    width: 512px;
    text-align: center;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.Aside-content {
    margin: auto;
    padding: 2rem;
}

.Aside-section {
    padding: inherit;
}

.Aside-logo {
    display: block;
    width: 180px;
    margin: 0 auto;
}

.Aside-meta {
    font-size: .8em;
    color: hsl(0, 0%, 50%);
}


/* Responsive --------------------------------- */

@media (max-width: 900px) {
    
    .Aside {
        position: relative;
        max-width: none;
    
        width: initial;
}
    
    .Aside-content {
        padding: 2rem 1rem;
    }
    
}