
/* 
 * CSS-Only components used in Filament
 * Could be moved into "real" reels.
 */



/* Button --------------------------------- */

.Button {    
    white-space: nowrap;
    color: hsla(0,0%,0%,.7);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.5);
    border-color: hsl(0,0%,80%);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,96%), hsl(0,0%,92%) );
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.8), inset 0 -1px 1px hsla(0,0%,0%,.04), 0 1px 0 hsla(0,0%,100%,.6);
}

.Button:hover {
    background-image: -webkit-linear-gradient(top, hsl(0,0%,98%), hsl(0,0%,94%) );
}

.Button.active {
    background-image: -webkit-linear-gradient(top, hsl(0,0%,90%), hsl(0,0%,90%) );
    box-shadow: inset 0 -1px 1px hsla(0,0%,0%,.04), 0 1px 0 hsla(0,0%,100%,.6);
}

.Button:focus {
    border-color: #7f7f7f;
}

/* Button Action --------------------------------- */

.Button--action {    
    color: hsla(0,0%,100%,1);
    text-shadow: 0 1px 0 hsla(0,0%,0%,.1);
    border-color: hsl(210,100%,50%);
    background-image: -webkit-linear-gradient(top, hsl(210,100%,66%), hsl(210,100%,56%) );
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.15), 0 1px 0 hsla(0,0%,100%,.6);
}

.Button--action:hover {
    color: hsla(0,0%,100%,1);
    background-image: -webkit-linear-gradient(top, hsl(210,100%,70%), hsl(210,100%,60%) );
}

.Button--action.active {
    background-image: -webkit-linear-gradient(top, hsl(210,100%,56%), hsl(210,100%,56%) );
    box-shadow: 0 1px 0 hsla(0,0%,100%,.6);
}

.Button--action:focus {
    border-color: hsl(210,100%,20%);
}

/* Button Action --------------------------------- */

.Button--danger {    
    color: hsla(0,0%,100%,1);
    text-shadow: 0 1px 0 hsla(0,0%,0%,.1);
    border-color: hsl(0,100%,45%);
    background-image: -webkit-linear-gradient(top, hsl(0,100%,66%), hsl(0,100%,50%) );
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.15), 0 1px 0 hsla(0,0%,100%,.6);
}

.Button--danger:hover {
    color: hsla(0,0%,100%,1);
    background-image: -webkit-linear-gradient(top, hsl(0,100%,72%), hsl(0,100%,60%) );
}

.Button--danger.active {
    background-image: -webkit-linear-gradient(top, hsl(0,100%,56%), hsl(0,100%,56%) );
    box-shadow: 0 1px 0 hsla(0,0%,100%,.6);
}

.Button--danger:focus {
    border-color: hsl(210,100%,20%);
}


/* Tabs --------------------------------- */

.Tabs {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 0;
    background: hsl(300, 50%, 30%);
}


.Tabs-tab:first-child {
    border-top-left-radius: 0;
}

.Tabs-tab {
    display: inline-block;
    height: 32px;
    padding: 0 8px;
    margin: 0;
    line-height: 30px;
    font-size: 13px;
    font-weight: normal;
    text-align: center;    
    color: hsla(0,0%,100%,.5);
    border-radius: 6px 6px 0 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.Tabs-tab:hover {
    color: hsla(0,0%,100%,.8);
    background: hsla(0,0%,100%,.2);
}

.Tabs-tab:active,
.Tabs-tab:focus,
.Tabs-tab.selected {
    color: hsl(0,0%,40%);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.3);
    border-top: 1px solid hsla(0,0%,100%,1);
    border-bottom: 1px solid hsla(0,0%,0%,.2);
    background: -webkit-linear-gradient( hsl(0,0%,96%), hsl(0,0%,90%) );
    cursor: default;
}


/* Panel --------------------------------- */

.Panel {
    display: -webkit-flex;
    -webkit-flex-flow: column;
    position: relative;
    width: 200px;
    background: hsl(0, 0%, 40%);
}

.Panel-title {
    text-align: left;
    height: 32px;
    padding: 0 8px;
    margin: 0;
    line-height: 30px;
    font-size: 13px;
    font-weight: normal;
    color: hsl(0,0%,40%);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.3);
    border-top: 1px solid hsla(0,0%,100%,1);
    border-bottom: 1px solid hsla(0,0%,0%,.2);
    background: -webkit-linear-gradient( hsl(0,0%,96%), hsl(0,0%,90%) );
}

.Panel-title-button {
    position: absolute;
    top: 4px;
    right: 4px;
}

.Panel-content {
    -webkit-flex: 1;
    min-height: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    background: hsl(0,0%,80%);
}

.Panel-shadow {
    position: absolute;
    pointer-events: none;
    height: 4px;
    top: 32px; left: 0; right: 0;    
    background-image: -webkit-radial-gradient(center 0%, ellipse farthest-side, hsla(0,0%,0%,0.1), hsla(0,0%,0%,.02) 110% );
}


/* List --------------------------------- */

.List {
    margin: 0;
    padding: 0;
    list-style: none;
}

.List-item {
	padding: 8px;
	border: none;
    border-top: 1px solid hsla(0,0%,100%,.2);
    border-bottom: 1px solid hsla(0,0%,0%,.06);
	font-size: 12px;
	line-height: 1;
	color: hsl(0,0%,40%);
	text-shadow: 0 1px 0 hsla(0,0%,100%,.3);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	background: hsl(0,0%,86%);
}

.List-item:hover {
	background: hsl(0,0%,90%);
}

.List-item.active,
.List-item:active,
.List-item:focus {
    border-color: transparent;
	background: hsl(0,0%,80%);
}

.List-title {
	padding: 5px 10px;
	margin: 0;
	font-size: 12px;
	font-weight: normal;
	text-align: left;
	color: hsl(0,0%,50%); 
	background: hsl(0,0%,80%);
	border-top: 1px solid hsla(0, 0%, 0%, 0.1);
}

