
/* 
 * Filament-Matte components
 */



/* Button --------------------------------- */

.matte-Button.Button,
.matte-Popup-footer .matte-Button {    
    white-space: nowrap;
    font-family: inherit;
    color: hsla(0,0%,0%,.7);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.5);
    border-color: hsl(0,0%,80%);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,98%), hsl(0,0%,94%) );
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.8), inset 0 -1px 1px hsla(0,0%,0%,.04), 0 1px 0 hsla(0,0%,100%,.6);
}

.matte-Button.Button:hover,
.matte-Popup-footer .matte-Button:hover {
    background-image: -webkit-linear-gradient(top, hsl(0,0%,100%), hsl(0,0%,92%) );
}

.matte-Button.Button.active,
.matte-Button.Button.pressed,
.matte-Popup-footer .matte-Button.active {
    background-image: -webkit-linear-gradient(top, hsl(0,0%,90%), hsl(0,0%,90%) );
    box-shadow: inset 0 -1px 1px hsla(0,0%,0%,.04), 0 1px 0 hsla(0,0%,100%,.6);
}

.matte-Button.Button:focus,
.matte-Popup-footer .matte-Button:focus {
    border-color: #7f7f7f;
}

body .matte-Button.Button.disabled,
body .matte-Button.Button.disabled:hover,
body .matte-Button.Button.disabled:focus {
    border-color: hsl(0,0%,87%);
    color: hsl(0,0%,70%);
    background: hsl(0,0%,94%);
    box-shadow: none;
    cursor: default;
}

.matte-Button.Button--dark {
    background-image: -webkit-linear-gradient(top, hsl(0, 0%, 35%), hsl(0, 0%, 26%) );
    text-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.2);
    border-color: hsla(0, 0%, 0%, 0.6);
    color: hsl(0, 0%, 90%);
    box-shadow: inset 0 1px 0 hsla(0, 100%, 100%, 0.2), 0 1px 0 hsla(0, 100%, 100%, 0.15);
}
.matte-Button.Button--dark:hover {
    background-image: -webkit-linear-gradient(top, hsl(0, 0%, 37%), hsl(0, 0%, 28%) );
}
.matte-Button.Button--dark:focus {
    border-color: hsl(0, 0%, 0%);
}
.matte-Button.Button--dark.active {
    background-image: -webkit-linear-gradient(top, hsl(0, 0%, 33%), hsl(0, 0%, 24%) );
    box-shadow: inset 0 -1px 1px hsla(0, 0%, 0%, 0.04), 0 1px 0 hsla(0, 0%, 52%, 0.6);
}

.matte-Button.Button--action-dark,
.matte-Button.Button--action-dark:hover,
.matte-Button.Button--action-dark:focus {
    border-color: hsl(210,100%,50%);
    background-color: hsl(210,100%,56%);
    background-image: -webkit-linear-gradient(top, hsl(210,100%,66%), hsl(210,100%,56%) );
    text-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.2);
    border-color: hsla(0, 0%, 0%, 0.6);
    color: hsl(0, 0%, 90%);
    box-shadow: inset 0 1px 0 hsla(0, 100%, 100%, 0.2), 0 1px 0 hsla(0, 100%, 100%, 0.15);
}

.matte-Button.Button--action-dark.active {
    background-image: -webkit-linear-gradient(top, hsl(210,100%,56%), hsl(210,100%,56%) );
}


/* Button Action --------------------------------- */

.matte-Button.Button--action,
.matte-Popup-footer .matte-Button.submit {    
    color: hsla(0,0%,100%,1);
    text-shadow: 0 1px 0 hsla(0,0%,0%,.1);
    border-color: hsl(210,100%,50%);
    background-color: hsl(210,100%,56%);
    background-image: -webkit-linear-gradient(top, hsl(210,100%,66%), hsl(210,100%,56%) );
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.15), 0 1px 0 hsla(0,0%,100%,.6);
}

.matte-Button.Button--action:hover,
.matte-Popup-footer .matte-Button.submit:hover {
    color: hsla(0,0%,100%,1);
    background-image: -webkit-linear-gradient(top, hsl(210,100%,70%), hsl(210,100%,60%) );
}

.matte-Button.Button--action.active,
.matte-Popup-footer .matte-Button.submit.active {
    background-image: -webkit-linear-gradient(top, hsl(210,100%,56%), hsl(210,100%,56%) );
    box-shadow: 0 1px 0 hsla(0,0%,100%,.6);
}

.matte-Button.Button--action:focus,
.matte-Popup-footer .matte-Button.submit:focus {
    border-color: hsl(210,100%,20%);
}


/* Button Danger --------------------------------- */

.matte-Button.Button--danger {    
    color: hsla(0,0%,100%,1);
    text-shadow: 0 1px 0 hsla(0,0%,0%,.1);
    border-color: hsl(0,100%,45%);
    background-image: -webkit-linear-gradient(top, hsl(0,100%,66%), hsl(0,100%,50%) );
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.15), 0 1px 0 hsla(0,0%,100%,.6);
}

.matte-Button.Button--danger:hover {
    color: hsla(0,0%,100%,1);
    background-image: -webkit-linear-gradient(top, hsl(0,100%,72%), hsl(0,100%,60%) );
}

.matte-Button.Button--danger.active {
    background-image: -webkit-linear-gradient(top, hsl(0,100%,56%), hsl(0,100%,56%) );
    box-shadow: 0 1px 0 hsla(0,0%,100%,.6);
}

.matte-Button.Button--danger:focus {
    border-color: hsl(210,100%,20%);
}


/* Button circle --------------------------------- */

.matte-Button.Button--circle {
    width: 22px;
    height: 22px;
    min-width: 22px;
    margin: 0;
    padding: 0;
    line-height: 0;
    font-size: 12px;
    border-radius: 11px;
}



/* Input --------------------------------- */

.matte-InputText.Input {
    border-color: hsl(0,0%,77%);
    background-color: hsla(0,0%,0%,.04);
    box-shadow: inset 0 1px 2px hsla(0,0%,0%,0.08), 0 1px 0 hsla(0,0%,100%,.6);
}

.matte-InputText.Input:hover {
    background-color: hsla(0,0%,0%,.02);
}

.matte-InputText.Input:focus {
    border-color: hsl(210,100%,70%);
    background-color: hsla(210,100%,60%,0.1);
}

/* Checkbox --------------------------------- */

.matte-InputCheckbox.Checkbox {
    border-color: hsl(0,0%,77%);
    background-color: hsla(0,0%,0%,.04);
    box-shadow: inset 0 1px 2px hsla(0,0%,0%,0.08), 0 1px 0 hsla(0,0%,100%,.6);
}

.matte-InputCheckbox.Checkbox:hover {
    background-color: hsla(0,0%,0%,.02);
}

.matte-InputCheckbox.Checkbox:focus {
    border-color: hsl(210,100%,70%);
    background-color: hsla(210,100%,60%,0.1);
}

.matte-InputCheckbox.Checkbox:checked {
    background-image: url(../matte/check.svg);
    background-size: 16px;
}

/* Select --------------------------------- */

.matte-Select.Select {
    color: hsla(0,0%,0%,.7);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.5);
    border-color: hsl(0,0%,80%);
    background: url(../matte/select.svg) no-repeat right center,
                hsl(0,0%,94%) -webkit-linear-gradient(top, hsla(0,0%,100%,.8), hsla(0,0%,100%,0) );
    background-size: auto 10px, auto;
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,1), 0 1px 2px hsla(0,0%,0%,0.1);
}

.matte-Select.Select:hover {
    background-color: hsl(0,0%,96%);
}

.matte-Select.Select.active {
    background-color: hsl(0,0%,90%);
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,1), 0 1px 1px hsla(0,0%,0%,0.03);
}

.matte-Select.Select:focus {
    border-color: hsl(210,100%,70%);
}


/* Popup --------------------------------- */

.Filament .matte-Popup-container {
    border: none;
    border-radius: 6px;
}

.Filament .matte-Popup-header {
    color: hsl(0, 0%, 50%);
    font-size: 11px;
    line-height: 1;
    padding: 10px 8px 10px 16px;
    border-radius: 6px 6px 0 0;
}

.Filament .matte-Popup-header > .title {
    margin: 0;
    font-weight: normal;
}

.Filament .matte-Confirm-content {
    padding: 15px;
    max-width: 500px;
}

.Filament .matte-Popup-footer {
    border-radius: 0 0 6px 6px;
}

.Filament .matte-Confirm-actions {
    text-align: right;
}

.Filament .matte-Confirm-actions .matte-Button:last-child {
    margin-right: 0;
}

.Filament .matte-Confirm-actions > .submit {
    border-color: hsl(210,100%,20%);
}