.Filament-loader--firefly {
    position: absolute;
    top: 32px;
    left: 0;
    bottom: 0;
    right: 0;
}

.Main-wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
}
