
/* Global ------------------------------------- */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: hsl(0,0%,90%);
}

body {
    margin: 0;
    height: 100%;
    font-family: Open Sans, sans-serif;
    -webkit-user-select: none;
    cursor: default;
}


/* Scrollbar -------------------------------- */

/*::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
    height: 0px;
    background-color: hsl(0,0%,70%);
}

::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: hsl(0,0%,90%);
}*/



/* Bootstrap ------------------------------------- */

.montage-app-bootstrapping .logo,
.montage-app-loading .logo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    background: url(../img/logo.png) no-repeat center center;
    background-size: 180px;
}

.montage-app-bootstrapping .logo > .spinner,
.montage-app-loading .logo > .spinner {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 6px 0 0 1px;
    background: url(../img/icon.svg) no-repeat center center;
    background-size: 100%;
    -webkit-animation: spin 3.6s linear infinite;
}

@-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0); }
    100% { -webkit-transform: rotate(-360deg); }
}

.montage-app-bootstrapping .main,
.montage-app-loading .main {
    display: none;
}




/* Binding --------------------------------- */

.binding {
    border-radius: 50%;
    background: hsla(0,0%,0%,.15);
    color: hsl(0,0%,30%);
    text-align: center;
    cursor: pointer;
}

.binding:hover {
    border: 2px solid hsl(0,0%,60%);
}

/* Bound --------------------------------- */

.binding.bound {
    border: 2px solid hsl(0,0%,20%);
}

.binding.bound:hover {
    /background: hsl(0,0%,100%);
}



/* Panel --------------------------------- */

.Panel-title {
    height: 24px;
    padding: 0 10px;
    margin: 0;
    line-height: 24px;
    font-size: 12px;
    //font-weight: normal;
    color: hsl(0,0%,50%);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.3);
    text-align: left;
    border-top: 1px solid hsla(0,0%,100%,.6);
    border-bottom: 1px solid hsla(0,0%,0%,.2);
    background: hsl(0,0%,94%) -webkit-linear-gradient( hsla(0,0%,100%,.1), hsla(0,0%,0%,.1) );
    cursor: pointer;
}

.Panel-title:hover {
    background-color: hsl(0,0%,96%);
}
.Panel-title:active {
    background-color: hsl(0,0%,92%);
}

/* Panel Collapsed --------------------------------- */

.Panel--collapsed {
    position: relative;
    width: 24px;
    border-left: 1px solid hsla(0,0%,100%,.1);
    border-right: 1px solid hsla(0,0%,0%,.1);
    background: hsl(0,0%,30%);
    cursor: pointer;
}

.Panel--collapsed:hover {
    background: hsl(0,0%,32%);
}

.Panel--collapsed:active {
    background: hsl(0,0%,28%);
}

.Panel--collapsed .Panel-title {
    position: absolute;
    top: 0;
    white-space: nowrap;
    background: transparent;
    border: none;
    text-shadow: none;
    color: hsla(0,0%,100%,.5);
    -webkit-transform-origin: bottom left;
    -webkit-transform: rotate(90deg) translateX(-24px);
    
}

.Panel--collapsed .Panel-content {
    display: none;
}
