
/* Global ------------------------------------- */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: hsl(0,0%,90%);
}

body {
    margin: 0;
    height: 100%;
    font-family: Open Sans, sans-serif;
}


/* Scrollbar -------------------------------- */

/*::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
    height: 0px;
    background-color: hsl(0,0%,70%);
}

::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: hsl(0,0%,90%);
}*/



/* Bootstrap ------------------------------------- */

.montage-app-bootstrapping .logo,
.montage-app-loading .logo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    background: url(../img/logo.png) no-repeat center center;
    background-size: 180px;
}

.montage-app-bootstrapping .logo > .spinner,
.montage-app-loading .logo > .spinner {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 6px 0 0 1px;
    background: url(../img/icon.svg) no-repeat center center;
    background-size: 100%;
    -webkit-animation: spin 3.6s linear infinite;
}

@-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0); }
    100% { -webkit-transform: rotate(-360deg); }
}

.montage-app-bootstrapping .main,
.montage-app-loading .main {
    display: none;
}




/* Binding --------------------------------- */

.binding {
    border-radius: 50%;
    background: hsl(0,0%,80%);
    color: hsl(0,0%,40%);
    text-align: center;
    cursor: pointer;
}

.binding:hover {
    border: 2px solid hsl(0,0%,60%);
}

/* Bound --------------------------------- */

.binding.bound {
    background: hsl(0,0%,90%);
    border: 2px solid hsl(0,0%,60%);
}

.binding.bound:hover {
    background: hsl(0,0%,100%);
}
