.PreviewControlPanel {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    height: 100%;

    color: hsl(0,0%,95%);
    background-color: hsl(0,0%,26%);
}

.PreviewControlPanel-Controls {
    -webkit-flex: 0 1 auto;
    -moz-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;

    -webkit-align-self: stretch;
    -moz-align-self: stretch;
    -ms-align-self: stretch;
    align-self: stretch;

    padding: 0 1em;
    border-right: 1px solid hsl(0,0%,22%);
}

.PreviewControlPanel-PreviewAccessCode {
    font-size: 20px;
    font-family: monospace;
    width: 7em;
    max-width: 100%;
    text-align: center;
    margin-top: 1em;
    color: inherit;
}

.matte-InputText.Input.PreviewControlPanel-PreviewAccessCode {
    /*TODO: Unify dark theme */
    border-color: hsl(0, 0%, 20%);
    box-shadow: inset 0 1px 2px hsla(0, 0%, 0%, 0.15), 0 1px 0 hsla(0, 100%, 100%, 0.15);
    color: hsl(0, 0%, 90%);
}

.PreviewControlPanel .PreviewFrame {
    -webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;

    -webkit-align-self: stretch;
    -moz-align-self: stretch;
    -ms-align-self: stretch;
    align-self: stretch;

    height: 100%;
    background: hsl(0,0%,90%);
}

.PreviewControlPanel-link-wrap {
    margin-top: 1em;
}

.PreviewControlPanel-link {
    color: inherit;
}

.PreviewControlPanel-list {
    padding-left: 0;
}

.PreviewControlPanel-item {
    list-style: none;
    padding: 1px 0;
}
.PreviewControlPanel-icon {
    vertical-align: middle;
    width: 16px;
    height: 16px;
}
.PreviewControlPanel-ip {
    color: inherit;
    display: inline-block;
    vertical-align: middle;
}
