.InspectorBarItem {
    flex: 1 0 auto;
    margin: 0;
    line-height: 26px;
    font-size: 12px;
    text-align: center;
    color: hsl(0, 0%, 70%);
    background-color: hsl(0, 0%, 22%);
    cursor: pointer;
    text-transform: capitalize;
}

.InspectorBarItem:hover {
    color: hsl(0, 0%, 80%);
}

.InspectorBarItem:active {
    background-color: hsl(0, 0%, 16%);
}

.InspectorBarItem.selected {
    color: inherit;
    cursor: default;
    color: #fff;
    background-color: hsl(0, 0%, 26%);
}
