.TemplateObjectCell--isInProjectPackage .TemplateObjectHeader {
}

.TemplateObjectCell--owner .TemplateObjectHeader,
.TemplateObjectCell.TemplateObjectCell--owner.selected .TemplateObjectHeader {
    background-color: hsl(43, 100%, 85%);
}

.TemplateObjectCell--selected .TemplateObjectHeader {
    background-color: hsl(210, 100%, 96%);
}

.TemplateObjectHeader {
    background-color: hsl(0, 0%, 100%);
}

.TemplateObjectHeader-bar {
    display: flex;
    /* -webkit-justify-content: space-between; */
    align-items: center;
}

.TemplateObjectHeader-referenceProxy {
    flex: 1;
    display: -webkit-flex;
    padding: 8px;
}

.TemplateObjectHeader-icon {
    width: 42px;
    height: 28px;
    margin: 1px 0;
}

.TemplateObjectHeader-icon:hover {
    opacity: .6;
    cursor: move;
}

.TemplateObjectHeader-flex {
    -webkit-flex: 1;
    min-width: 0;
    margin-left: 8px;
}

.TemplateObjectHeader-title {
    margin: 0;
    font-size: 13px;
    line-height: 15px;
    color: hsl(0, 0%, 30%);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.TemplateObjectHeader-exportId {
    display: block;
    font-style: italic;
    font-size: 11px;
    line-height: 14px;
    color: hsl(0, 0%, 60%);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.TemplateObjectHeader-buttonGroup {
    display: -webkit-flex;
    padding-right: 5px;
}

/* Header button ------------------------------ */

.TemplateObjectHeader-button.matte-Button {
    display: block;
    margin: 0 2px;
    border-color: transparent;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
    opacity: .3;
}

.TemplateObjectHeader-button.matte-Button:hover {
    background-color: hsla(0,0%,100%,0);
    opacity: .5;
}

.TemplateObjectHeader-button.matte-Button.active,
.TemplateObjectHeader-button.matte-Button.active:hover {
    border-color: hsla(0,0%,0%,.12);
    background-color: hsla(0,0%,0%,.12);
    opacity: .3;
}

.TemplateObjectHeader-button.matte-Button.pressed {
    border-color: hsla(0,0%,0%,.12);
    background-color: hsla(0,0%,0%,.12);
    opacity: .5;
}

.TemplateObjectHeader-button--edit {
    background-image: url(/assets/icons/edit.png);
}

.TemplateObjectHeader-button--comment {
    background-image: url(/assets/icons/comment.png);
}


/* Comments ------------------------------ */

.TemplateObjectHeader-comment {
    display: block;
    width: 100%;
    min-height: 2em;
    margin: 0;
    padding: 4px 6px;
    border-radius: 0;
    border: none;
    border-top: 1px solid hsla(0,0%,0%,.1);
    font-size: 11px;
    text-shadow: 0 1px 0 hsla(0, 0%, 100%, .3);
    color: hsl(0, 0%, 30%);
    background: hsl(42, 83%, 95%);
}

.TemplateObjectHeader-comment--disabled{
    opacity: .5;
    pointer-events: none;
}

.TemplateObjectHeader-comment:focus {
    border-color: hsla(0,0%,0%,.2);
    background: hsl(42, 83%, 98%);
}
