/* Explorer */

.Explorer {
    display: -webkit-flex;
    -webkit-flex-flow: column;
    -webkit-justify-content: space-around;
    width: 240px;
    background: hsl(0,0%,75%);
    border-right: 1px solid hsla(0,0%,0%,.1);
}

.Explorer-group {
    margin: auto;
    min-height: 0;
    -webkit-flex: 1;
    display: -webkit-flex;
    -webkit-flex-flow: column;
}

.Explorer-scroll {
    min-height: 0;
    overflow: scroll;
    -webkit-flex: 1;
}

.Explorer-title {
    margin: 0;
    padding: 7px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: hsl(0,0%,30%);
    border-bottom: 1px solid hsla(0,0%,0%,.1);
    background: hsla(0,0%,100%,.3);
}



/* List ----------------------------- */

.Explorer-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 13px;
}

.Explorer-list li {
    padding: 2px 0px 2px 8px;
    cursor: pointer;
}

.Explorer-list .selected,
.Explorer-list li:hover {
    background-color: hsla(0,0%,0%,.1);
}

.Explorer-list li.disabled {
    opacity: .3;
    cursor: not-allowed;
}

.Explorer-list i {
    margin-right: 4px;
}

.Explorer-list ul {
    margin: 0 0 0 14px;
    padding: 0;
    list-style: none;
}

.Explorer-list .selected {
    position: relative;
    overflow: hidden;
}

.Explorer-list .selected:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    margin: auto;
    top: 0;
    bottom: 0;
    right: -5px;
    background: hsl(0,0%,85%);
    -webkit-transform: rotate(45deg);
}


/* Icons */

.Explorer [data-icon] {
    content: "";
    position: relative;
    display: inline-block;
    width: 16px;
    height: 12px;
    line-height: 0;
    font-style: normal;
}

.Explorer [data-icon]:before {
    line-height: .6;
    left: 0px;
    right: auto;
    font-size: 28px;
    opacity: .5;
}
