.LibraryCell {
}

/* LibraryCell Button --------------------------------- */

.LibraryCell .LibraryCell-button {
	-webkit-appearance: none;
	display: block;
	width: 100%;
	height: auto;
	min-width: 0;
	margin: 0;
	padding: 4px 4px 4px 8px;	
	font-size: 12px;
	line-height: 1;
	color: hsl(0,0%,30%);
	text-align: left;
	text-shadow: 0 1px 0 hsla(0,0%,100%,.3);
	border-radius: 0;
	border: none;
	border-top: 1px solid hsla(0,0%,100%,0.2);
	border-bottom: 1px solid hsla(0,0%,0%,0.05);
	background: hsl(0,0%,95%);
	cursor: pointer;
}

.LibraryCell .LibraryCell-button:hover {
    background: hsl(0,0%,98%);
}

.LibraryCell .LibraryCell-button:focus {
	border-color: transparent;
}

.LibraryCell:last-child .LibraryCell-button {
    border-radius: 0 0 4px 4px;
}

.LibraryCell-button[draggable=false] {
    background-color: hsl(43, 100%, 85%) !important;
    opacity: .5 !important;
}

/* Icon --------------------------------- */

.LibraryCell-button-icon {
	display: inline-block;
	margin: 0 8px 0 0;
	width: 42px;
	vertical-align: top;
}


/* Label --------------------------------- */

.LibraryCell-button-label {
	display: inline-block;
	text-align: left;
	font-size: 12px;
	line-height: 20px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

/* Description --------------------------------- */

.LibraryCell-button-description {
    display: none;
}


/* Grid --------------------------------- */

.Library--grid {
    font-size: 0;
    background: hsl(0,0%,94%);
    border-radius: 4px;
}

.Library--grid .LibraryGroup-list {
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
}

.Library--grid .LibraryCell {
    -webkit-flex: 1 0 61px;
    max-width: 61px;
}

.Library--grid .LibraryCell-button {
    padding: 4px 0 0 0;
    background: transparent;
    border-right: 1px solid hsla(0, 0%, 0%, 0.05);
}

.Library--grid .LibraryCell:nth-child(3n) .LibraryCell-button {
    border-right: none;
}

.Library--grid .LibraryCell:last-child .LibraryCell-button {
    border-radius: 0;
}

.Library--grid .LibraryCell-button {
	padding: 4px;
	text-align: center;
}

.Library--grid .LibraryCell-button-icon {
    margin: 0;
}

.Library--grid .LibraryCell-button-label {
    display: block;
    font-size: 9px;
    text-align: center;
}
