.LibraryCell {
}

/* LibraryCell Button --------------------------------- */

.LibraryCell-button.matte-Button {
	-webkit-appearance: none;
	display: block;
	width: 100%;
	height: auto;
	min-width: 0;
	margin: 0;
	padding: 4px 4px 4px 8px;	
	font-family: inherit;
	font-size: 12px;
	line-height: 1;
	color: hsl(0,0%,30%);
	text-align: left;
	border: none;
	background: transparent;
	cursor: move;
}

.LibraryCell-button.matte-Button:hover,
.LibraryCell-button.matte-Button.active,
.LibraryCell-button.matte-Button.active:hover {
    background: transparent;
}

.LibraryCell-button.matte-Button:focus {
	border-color: transparent;
	background: transparent;
}

.LibraryCell-button[draggable=false].matte-Button {
    background-color: hsl(43, 100%, 85%);
    pointer-events: none;
    cursor: default;
}

/* Icon --------------------------------- */

.LibraryCell-button-icon {
	display: inline-block;
	margin: 0 8px 0 0;
	width: 42px;
	vertical-align: top;
}


/* Label --------------------------------- */

.LibraryCell-button-label {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

/* Description --------------------------------- */

.LibraryCell-button-description {
    display: none;
}


/* Grid --------------------------------- */

.LibraryGroup {
    font-size: 0;
    background: hsl(0, 0%, 32%);
    border-radius: 4px;
}

.LibraryGroup-list {
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
}

.LibraryCell {
    -webkit-flex: 1 0 61px;
    max-width: 61px;
}

.LibraryCell-button.matte-Button {
    padding: 8px 3px;
    text-align: center;
    border-radius: 4px;
}

.LibraryCell-button.matte-Button:hover {
    background: hsl(0,0%,100%);
}

.LibraryCell-button-icon {
    margin: 0;
}

.LibraryCell-button-label {
    display: block;
    font-size: 9px;
    color: hsl(0, 0%, 60%);
    text-align: center;
    line-height: 16px;
}

.LibraryCell-button:hover .LibraryCell-button-label {
    color: hsl(0, 0%, 30%);
}


/* List --------------------------------- */

.Library.isList .LibraryGroup-list {
    display: initial;
} 

.Library.isList .LibraryCell {
    max-width: initial;
}

.Library.isList .LibraryCell-button.matte-Button {
    display: flex;
    padding: 4px 4px 4px 12px;
    border-radius: 0;
}

.Library.isList .LibraryCell:last-child .LibraryCell-button.matte-Button {
    border-radius: 0 0 4px 4px;
}

.Library.isList .LibraryCell-button-icon {
    width: 28px;
}

.Library.isList .LibraryCell-button-label {
    flex: 1;
    font-size: 12px;
    text-align: left;
    margin-left: 12px;
    line-height: 19px;
    color: hsl(0, 0%, 50%);
}

.Library.isList .LibraryCell-button:hover .LibraryCell-button-label {
    color: hsl(0, 0%, 30%);
}

