.Configurator {
    position: relative;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    width: 240px;
    background: hsl(0,0%,50%);
    overflow: auto;
}

.Configurator .inspectorList {
    padding: 0;
    margin: 0;
}
