.Configurator {
    position: relative;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    width: 240px;
    background: hsl(0,0%,50%);
    overflow: auto;
}

.Configurator .PropertyGroup {
    background: #B3B3B3;
}

.Configurator .PropertyGroup > summary {
    background: #CCC;
}

/* List --------------------------------- */

.Configurator .inspectorList {
    padding: 0;
    margin: 0;
}

.Configurator .Inspector {
    background: hsl(0,0%,70%);
}

.Configurator .component.collapsed {
    -webkit-flex: 0 0 auto;
}


/* Header --------------------------------- */

.Configurator .configurator-header {
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    padding-right: 10px;
}

.Configurator .Inspector .Inspector-header {
    background: #F2F2F2;
    margin: 0;
    padding: 10px;
    font-size: 16px;
    line-height: 1;
}

/* List --------------------------------- */

.Configurator .list {
    position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
	-webkit-flex: 1 1 0;
	min-height: 0;
	border-top: 1px solid hsl(0,0%,70%);
	background-color: hsl(0,0%,70%);
}

.Configurator .list-item {
    position: relative;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: space-between;
    padding: 10px;
    font-size: 14px;
    border-top: 1px solid hsl(0,0%,90%);
    border-bottom: 1px solid hsl(0,0%,70%);
	background: hsl(0,0%,80%);
}

.Configurator input[type=number] {
    width: 80px;
}

/* Binding --------------------------------- */

.Configurator .binding {
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 50%;
    background: hsl(0,0%,75%);
    color: hsl(0,0%,40%);
    text-align: center;
    font-size: 28px;
    line-height: .8;
    cursor: pointer;
}

.Configurator .binding:hover {
    border: 4px solid hsl(0,0%,60%);
}

/* Bound --------------------------------- */

.Configurator .bound {
    background: hsl(0,0%,95%);
    border: 4px solid hsl(0,0%,60%);
}

.Configurator .bound:hover {
    background: hsl(0,0%,100%);
}
