.PersonCell {
    padding: 8px 12px;
    line-height: 30px;
    height: 125px;
    border-bottom: 1px solid hsla(0, 0%, 0%, .06);
    display: -webkit-flex;
    -webkit-flex: 1;
}

.PersonInformationSubstitution {
    -webkit-flex: 1;
    display: -webkit-flex;
}

.PersonCell:last-child {
    border-bottom: none;
}
