.EntityCell {
    color: #49a6d2;
    display: flex;
    align-items: center;
}

.EntityCell .Toggle.matte-InputCheckbox {
    width: 24px;
    height: 24px;
    border: 1px solid #797979;
    margin-right: 4px;
    background: url("/assets/icons/eye-off.svg") no-repeat center center;
    background-size: 20px;
}

.EntityCell .Toggle.matte-InputCheckbox:checked {
    background: url("/assets/icons/eye.svg") no-repeat center center;
    background-size: 20px;
    transform: rotate(0deg);
}

/*
This should be done in a substitution instead of css, but substitutions are
buggy and sometimes don't render the right content in a tree view.
*/

.EntityCell-icon--component, .EntityCell-icon--element {
    display: none;
}

.EntityCell.hasComponent .EntityCell-icon--component {
    display: block;
}
.EntityCell.hasComponent .EntityCell-label {
    color: #ffbc6d;
}

.EntityCell:not(.hasComponent) .EntityCell-icon--element {
    display: block;
}

.EntityCell.hasClass .EntityCell-label {
    color: #A5C261;
}
