
/* Window size: ~ 900x540 */

body {
    padding: 0;
    margin:0;
    width: 100%;
    background: hsl(0, 0%, 95%);
}

.Import {
    display: block;
    padding: 14px 48px;
    margin: 0 14px;

    font-size: 16px;
    text-decoration: none;
    color: hsl(0, 0%, 30%);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.5);

    background: hsl(0, 0%, 95%);
    background-image: url('../../assets/images/pdf-icon.png');
    background-size:32px 32px;
    background-repeat:no-repeat;
    background-position:left center;

    cursor: default;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    -webkit-user-select: none;
}

.Import-progress {
    width: 100%;
    box-sizing: content-box;
}

.Import-status {
    position: relative;
    top: -3px;
    font-size: 12px;
}

/* Add Button ---------------------------- */

.Import-close-button {
    position: relative;
    right: -13px;
    top: -1px;

    width: 22px;
    height: 22px;
    min-width: 22px;
    margin: 0 6px 0 0;
    padding: 0;
    line-height: 0;
    font-size: 12px;
    color: hsl(0,0%,60%);
    text-shadow: 0 1px hsla(0,0%,100%,0.4);
    border-radius: 11px;
    border-color: hsl(0,0%,80%);
    background: -webkit-linear-gradient( hsl(120,0%,96%), hsl(120,0%,86%) );
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.6), 0 1px 2px hsla(0,0%,0%,.06);
}

.Import-close-button:hover {
    border-color: hsl(0,0%,76%);
    background: -webkit-linear-gradient( hsl(120,0%,97%), hsl(120,0%,88%) );
}

.Import-close-button.active {
    background: hsl(0,0%,84%);
    box-shadow: 0 1px 2px hsla(0,0%,0%,.06);
}

#canvas, #output {
    position: absolute;
    top: 100px;
}
