
/* Aside --------------------------------- */

.Aside.Aside--login {
    width: 400px;
}

.Aside--login .Aside-content {
    padding: 2rem 1.5rem;
}


.Aside-headline {
    font-size: 2em;
    font-weight: 200;
    color: #fff;
    margin: 0;
}

.Aside-version {
    font-style: italic;
    color: #fff;
}

.Aside-support {
    margin-left: .5em;
    font-size: .85em;
}

/* Login */

.Aside-button.Aside-button--login {
    padding-left: 4em; /* Space for icon */
}

.Aside-button--login:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 3em;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    background: hsla(0, 0%, 0%, 0.08) no-repeat center;
    background-size: 1.5em;
    background-image: url(/assets/img/github.svg);
}



/* Responsive --------------------------------- */

@media (max-width: 900px) {

    .Aside.Aside--login {
        position: absolute;
        right: 0;
        width: auto;
    }

}
