.TemplateExplorer {
    -webkit-user-select: none;
}

/* List --------------------------------- */

.TemplateExplorer-list {
    -webkit-flex: 1 1 0;
    min-height: 0;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: scroll;
    background-color: hsl(0,0%,70%);
}
