
.TemplateExplorer {
    display: -webkit-flex;
    -webkit-flex-direction: column;
}

.TemplateExplorer.shouldStartPanning {
    cursor: -webkit-grab;
}

.TemplateExplorer.isPanning {
    cursor: -webkit-grabbing;
}

.TemplateExplorer.error .TemplateExplorer-viewport {
    border-color: red;
}


/* Viewport --------------------------------- */

.TemplateExplorer-viewport {
    -webkit-flex: 1;
    min-height: 0;
    overflow: hidden;
    border: 1px solid hsl(0, 0%, 76%);
    background: hsl(0, 0%, 80%);
}

.TemplateExplorer-list {
    margin: 0;
    padding: 6px;
}
