.SearchModulesToolBar-title {
    padding: 0;
    display: inline-block;
    line-height: 30px;
    margin: 0 10px 0 0;
}

.PackageEditorColumnContent.SearchModulesColumnContent {
    padding: 0;
}

.SearchModulesColumnContent {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.SearchModulesToolBar {
    background: hsl(0,0%,94%);
    border-bottom: 1px solid hsla(0,0%,0%,.1);
    padding: 20px;
}

#searchModulesResults {
    padding: 10px 5px 0 10px;
    overflow-y: scroll;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 10px;
}

.SearchModulesList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ResultsNumber {
    float: right;
    color: hsl(0,0%,30%);
    font-size: 16px;
    font-weight: bold;
}

.NoResultsCell {
    margin-bottom: 10px;
    background-color: hsl(0,0%,96%);
    border: 1px solid hsl(0,0%,70%);
    border-radius: 5px;
    padding: 8px;
    height: 60px;
    text-align: center;
}

.NoResultsCell-title {
    line-height: 44px;
    font-size: 15px;
}
