.LibraryGroup {
    display: block;
}

.LibraryGroup:last-child {
    margin-bottom: 0;
}


/* Header ------------------------- */

.LibraryGroup-header {
    display: block;
    position: relative;
	padding: 4px 8px;
	margin: 0;
    font-size: 15px;
    color: hsl(0, 0%, 90%);
    border-top: 1px solid hsla(0, 100%, 100%, 0.15);
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.5);
    background: hsl(0, 0%, 30%) linear-gradient( hsl(0, 0%, 32%), hsl(0, 0%, 28%) );
    cursor: pointer;
}

.LibraryGroup-header:active {
    border-top-color: transparent;
    background: hsl(0, 0%, 34%);
}

.LibraryGroup-header:focus {
    outline: none;
}


/* Description ------------------------- */

.LibraryGroup-description {
    margin: 0;
    padding: 8px;
    font-size: 12px;
    line-height: 1.3;
    background: hsl(0, 0%, 85%);
    color: hsl(0, 0%, 30%);
    
    display: none; /* Disabled for now */
}

/* List ------------------------- */

.LibraryGroup-list {
    padding: 8px;
    margin: 0;
}
