.filament-Button {
    outline: none;
    box-sizing: border-box;
    font-size: 12px;
    height: 2.5em;
    min-width: 2.5em;
    margin: 0 2px;
    padding: 0 1em;
    vertical-align: middle;
    color: hsla(0,0%,0%,.7);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.5);
    border-radius: 3px;
    border: 1px solid hsl(0,0%,80%);
    background: -webkit-linear-gradient(top, hsl(0,0%,98%), hsl(0,0%,90%) );
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.8), inset 0 -1px 1px hsla(0,0%,0%,.04), 0 1px 0 hsla(0,0%,100%,.6);
    white-space: nowrap;
    cursor: pointer;    
}

/* States */
.filament-Button:hover {
    color: #000;
    background-image: -webkit-linear-gradient(top, hsl(0,0%,100%), hsl(0,0%,92%) );
}

.filament-Button:active,
.filament-Button.pressed {
    background-image: -webkit-linear-gradient(top, hsl(0,0%,90%), hsl(0,0%,90%) );
    box-shadow: inset 0 -1px 1px hsla(0,0%,0%,.04), 0 1px 0 hsla(0,0%,100%,.6);
}

.filament-Button:focus {
    border-color: #7f7f7f;
}




/* Button Action --------------------------------- */

.filament-Button--action {    
    color: hsla(0,0%,100%,1);
    text-shadow: 0 1px 0 hsla(0,0%,0%,.1);
    border-color: hsl(210,100%,50%);
    background-color: hsl(210,100%,56%);
    background-image: -webkit-linear-gradient(top, hsl(210,100%,66%), hsl(210,100%,56%) );
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.15), 0 1px 0 hsla(0,0%,100%,.6);
}

.filament-Button--action:hover {
    color: hsla(0,0%,100%,1);
    background-image: -webkit-linear-gradient(top, hsl(210,100%,70%), hsl(210,100%,60%) );
}

.filament-Button--action.active {
    background-image: -webkit-linear-gradient(top, hsl(210,100%,56%), hsl(210,100%,56%) );
    box-shadow: 0 1px 0 hsla(0,0%,100%,.6);
}

.filament-Button--action:focus {
    border-color: hsl(210,100%,20%);
}


/* Button Danger --------------------------------- */

.filament-Button--danger {    
    color: hsla(0,0%,100%,1);
    text-shadow: 0 1px 0 hsla(0,0%,0%,.1);
    border-color: hsl(0,100%,45%);
    background-image: -webkit-linear-gradient(top, hsl(0,100%,66%), hsl(0,100%,50%) );
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.15), 0 1px 0 hsla(0,0%,100%,.6);
}

.filament-Button--danger:hover {
    color: hsla(0,0%,100%,1);
    background-image: -webkit-linear-gradient(top, hsl(0,100%,72%), hsl(0,100%,60%) );
}

.filament-Button--danger.active {
    background-image: -webkit-linear-gradient(top, hsl(0,100%,56%), hsl(0,100%,56%) );
    box-shadow: 0 1px 0 hsla(0,0%,100%,.6);
}

.filament-Button--danger:focus {
    border-color: hsl(0,100%,20%);
}


/* Button circle --------------------------------- */

.filament-Button--circle {
    width: 22px;
    height: 22px;
    min-width: 22px;
    margin: 0;
    padding: 0;
    line-height: 0;
    font-size: 12px;
    border-radius: 11px;
}




/* ButtonGroup ------------------------------- */

.filament-ButtonGroup {
    padding-left: 5px; /* Add the negative margin back */
}

.filament-ButtonGroup > .filament-Button {
    margin: 0;
    border-radius: 0;
    margin-left: -5px; /* Remove the space inbetween */
}

.filament-ButtonGroup > .filament-Button:first-child {
    border-radius: 3px 0 0 3px;
}

.filament-ButtonGroup > .filament-Button:last-child {
    border-radius: 0 3px 3px 0;
}