
.PackageExplorer {
    -webkit-flex: 0 0 200px;
    position: relative;
    min-width: 0;
    display: -webkit-flex;
    -webkit-flex-flow: column;
    position: relative;
    border-right: 1px solid hsl(0,0%,22%);

    /* Fixes flickering when hovering the name or toggle the tree menu */
    -webkit-backface-visibility: hidden; 
    box-shadow: inset -3px 0 10px #000;
}

.PackageExplorer ::-webkit-scrollbar {
    background-color: hsl(0, 0%, 20%);
}

.PackageExplorer ::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 100%);
}

/* Right shadow */
.PackageExplorer:after {
    content: "";
    position: absolute;
    width: 8px;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.75));
}



.PackageExplorer .Panel-shadow {
    top: 75px; /* Same as Panel-title height */
}

.PackageExplorer-header {
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    margin: 0;
    padding: 0 17px;
    height: 76px;
    border-top: 1px solid hsl(0, 0%, 58%);
    background: -webkit-linear-gradient( hsl(0, 0%, 44%), #323232 );
}

.PackageExplorer-icon {
    margin: 0;
    width: 28px;
    height: 28px;
    border-radius: 5px;
}

.PackageExplorer-info {
    -webkit-flex: 1;
    min-width: 0;
    line-height: 18px;
    margin-left: 8px;
}

.PackageExplorer-name {
    margin: 0;
    padding: 0;
    color: hsl(0, 0%, 100%);
    text-shadow: 0 -1px 0 hsl(0, 0%, 10%);
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.PackageExplorer-version {
   display: block;
   color: hsl(0, 0%, 60%);
   font-size: 11px;
   line-height: 14px;
   padding-bottom: 4px;
}


/* Preview Button ------------------- */

.PackageExplorer .PackageExplorer-previewButton {
    position: relative;
    margin: 0;
    width: 40px;
    height: 40px;
    border: 1px solid hsla(0, 0%, 0%, 0.33);
    border-radius: 20px;
    background: linear-gradient(hsl(0, 0%, 50%), hsl(0, 0%, 24%));
    box-shadow: inset 0 1px 1px hsl(0, 0%, 66%);
    background-clip: content-box;
    cursor: pointer;
}

.PackageExplorer .PackageExplorer-previewButton:active {
    background: linear-gradient(hsl(0, 0%, 28%), hsl(0, 0%, 26%));
    box-shadow: inset 0 1px 1px hsla(0, 0%, 0%, 0.13),0 1px 0 hsla(0, 100%, 100%, 0.06);
}

.PackageExplorer-previewButton:before {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: url(../../assets/icons/preview.png) no-repeat center;
    background-size: 14px;
}


/* List ------------------- */

.PackageExplorer-list {
    -webkit-flex: 1;
    min-height: 0;
    overflow-x: auto;
    overflow-y: scroll;
    background-color: #424242;
}

/* TODO: shorten selector */
.PackageExplorer-list div[data-montage-id="rootCondition"]:nth-child(even) .Tree-list-row {
    background-color: #474747;
}


/* PackageExplorer footer ------------------- */

.PackageExplorer-footer {
    background: -webkit-linear-gradient( hsl(0,0%,96%), hsl(0,0%,92%) );
}

.PackageExplorer-footer-button:before {
    content: "+";
    position: relative;
    top: 1px;
    margin-right: 4px;
    line-height: 0;
    font-size: 18px;
    font-weight: bold;
    -webkit-font-smoothing: none;
    color: hsl(0, 0%, 70%);
}

.PackageExplorer-footer-button.matte-Button {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 8px;
    font-family: inherit;
    font-weight: 600;
    font-size: 13px;
    color: hsl(0, 0%, 66%);
    border-radius: 0;
    border: none;
    border-top: 1px solid #808080;
    box-shadow: none;
    background: linear-gradient(hsl(0, 0%, 33%), #3b3b3b);
}

.PackageExplorer-footer-button.matte-Button:hover {
    color: hsl(0, 0%, 81%);
    background-color: hsl(0, 0%, 36%);
}

.PackageExplorer-footer-button.matte-Button.active {
    border-color: hsl(0, 0%, 12%);
    background: hsl(0, 0%, 22%);
}

.PackageExplorer-footer-button.matte-Button:focus {
    border-color: hsl(0, 0%, 22%);
}



/* Debug ------------------- */

.PackageExplorer-list {
    position: relative;
}

.PackageExplorer-list:before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(/assets/img/_guides/package-explorer.jpg);
    background-size: 235px auto;
    opacity: 1;
    pointer-events: none;
    display: none;
}