.PackageExplorer {
    width: 240px;
    background: hsl(0,0%,50%);
}

.PackageExplorer-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.PackageExplorer-menu {
    margin: 0;
    padding: 10px;
    background: hsl(0,0%,80%);
}

.PackageExplorer-menu .PackageExplorer-menu-item {
    display: block;
    width: 100%;
    margin: 10px 0 0 0;
    min-width: 0;
}

.PackageExplorer-menu .PackageExplorer-menu-item:first-child {
    margin: 0;
}