
.PackageExplorer {
    -webkit-flex: 1 0 200px;
    -moz-flex: 1 0 200px;
    -ms-flex: 1 0 200px;
    flex: 1 0 200px;
    min-width: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-flow: column;
    -moz-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    position: relative;

    /* Fixes flickering when hovering the name or toggle the tree menu */
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.PackageExplorer .Panel-shadow {
    top: 75px; /* Same as Panel-title height */
}

.PackageExplorer-header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    margin: 0;
    padding: 8px;
    height: 75px;
    border-top: 1px solid hsla(0, 100%, 100%, 0.2);
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.6);
    background: -webkit-linear-gradient( hsl(0, 0%, 42%), hsl(0, 0%, 32%) );
    background: -moz-linear-gradient( hsl(0, 0%, 42%), hsl(0, 0%, 32%) );
    background: -ms-linear-gradient( hsl(0, 0%, 42%), hsl(0, 0%, 32%) );
    background: linear-gradient( hsl(0, 0%, 38%), hsl(0, 0%, 28%) );
}

.PackageExplorer-icon {
    margin: 0;
    width: 32px;
    height: 32px;
    border-radius: 5px;
}

.PackageExplorer-info {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
    line-height: 18px;
    margin-left: 6px;
}

.PackageExplorer-name {
    margin: 0;
    padding: 0;
    color: hsl(0, 0%, 94%);
    text-shadow: 0 -1px 0 hsl(0, 0%, 23%);
    font-size: 18px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
}

.PackageExplorer-version {
   display: block;
   color: hsl(0, 0%, 64%);
   font-size: 13px;
   line-height: 14px;
}


/* Preview Button ------------------- */

.PackageExplorer .PackageExplorer-previewButton {
    position: relative;
    margin: 0;
    width: 40px;
    height: 40px;
    border: 1px solid hsla(0, 0%, 0%, 0.33);
    border-radius: 20px;
    background: linear-gradient(hsl(0, 0%, 40%), hsl(0, 0%, 32%));
    box-shadow: inset 0 1px 1px hsla(0, 100%, 100%, 0.13),0 1px 0 hsla(0, 100%, 100%, 0.06);
    cursor: pointer;
}


.PackageExplorer .PackageExplorer-previewButton--altProtocol {
    border: 1px solid hsl(208, 100%, 60%);
}

.PackageExplorer .PackageExplorer-previewButton:active {
    background: linear-gradient(hsl(0, 0%, 28%), hsl(0, 0%, 26%));
    box-shadow: inset 0 1px 1px hsla(0, 0%, 0%, 0.13),0 1px 0 hsla(0, 100%, 100%, 0.06);
}

.PackageExplorer-previewButton:before {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: url(../../assets/icons/preview.png) no-repeat center;
    background-size: 14px;
}

.PackageExplorer-list {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-height: 0;
    overflow-x: auto;
    overflow-y: scroll;
    background-color: hsl(0, 0%, 20%);
}

/* PackageExplorer footer ------------------- */

.PackageExplorer-footer {
    background: -webkit-linear-gradient( hsl(0,0%,96%), hsl(0,0%,92%) );
    background: -moz-linear-gradient( hsl(0,0%,96%), hsl(0,0%,92%) );
    background: -ms-linear-gradient( hsl(0,0%,96%), hsl(0,0%,92%) );
    background: linear-gradient( hsl(0,0%,96%), hsl(0,0%,92%) );
}

.PackageExplorer-footer-button:before {
    content: "+";
    position: relative;
    top: 1px;
    margin-right: 4px;
    line-height: 0;
    font-size: 18px;
    font-weight: bold;
    -webkit-font-smoothing: none;
    -moz-font-smoothing: none;
    -ms-font-smoothing: none;
    font-smoothing: none;
}

.PackageExplorer-footer-button.matte-Button {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 8px;
    font-family: inherit;
    font-weight: normal;
    font-size: 14px;
    color: hsl(0, 0%, 94%);
    border-radius: 0;
    border: none;
    border-top: 1px solid hsla(0, 100%, 100%, 0.12);
    box-shadow: none;
    background-color: hsl(0, 0%, 30%);
}

.PackageExplorer-footer-button.matte-Button:hover {
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 36%);
}

.PackageExplorer-footer-button.matte-Button.active {
    border-color:  hsl(0, 0%, 22%);
    background-color: hsl(0, 0%, 24%);
}

.PackageExplorer-footer-button.matte-Button:focus {
    border-color: hsl(0, 0%, 22%);
}
