
.PackageExplorer {
    border-right: 1px solid hsl(0,0%,75%);
    -webkit-backface-visibility: hidden; /* Fixes flickering when hovering the name or toggle the tree menu */
}

.PackageExplorer .Panel-shadow {
    top: 74px;
}

.PackageExplorer .Panel-title {
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    padding: 8px;
    height: 74px;
}

.PackageExplorer-icon {
    margin: 0;
    width: 28px;
    height: 28px;
    border-radius: 5px;
}

.PackageExplorer-title-flex {
    -webkit-flex: 1;
    min-width: 0;
    line-height: 18px;
    margin-left: 8px;
}

.PackageExplorer .Panel-title-name {
    margin: 0;
    padding: 0;
    color: hsl(0,0%,30%);
    font-family: Titillium Web, Open Sans, sans-serif;
    font-size: 22px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.PackageExplorer .Panel-title-version {
   display: block;
   color: hsl(0,0%,70%);
   font-size: 11px;
   line-height: 14px;
}


/* Preview Button ------------------- */

.PackageExplorer .PackageExplorer-previewButton {
    position: relative;
    margin: 0;
    width: 40px;
    height: 40px;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    cursor: pointer;
}

.PackageExplorer .PackageExplorer-previewButton:active {
    background-image: -webkit-linear-gradient(top, hsl(0,0%,90%), hsl(0,0%,90%) );
    box-shadow: inset 0 -1px 1px hsla(0,0%,0%,.04), 0 1px 0 hsla(0,0%,100%,.6);
}

.PackageExplorer-previewButton:before {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: url(../../assets/icons/preview.png) no-repeat center;
    background-size: 14px;
}


/* PackageExplorer footer ------------------- */

.PackageExplorer-footer {
    padding: 8px;
    border-top: 1px solid white;
    background: -webkit-linear-gradient( hsl(0,0%,98%), hsl(0,0%,94%) );
}

.PackageExplorer-footer .Button {
    display: block;
    width: 100%;
    margin: 0 0 8px 0;
}

.PackageExplorer-footer .Button:last-child {
    margin-bottom: 0;
}
