.DomExplorer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.NodeList {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: scroll;
    min-height: 0;
}

.NodeList .Tree-list {
    padding: 12px;
    padding-bottom: 30px;
    font-size: 11px;
    background: linear-gradient( to right, hsl(0,0%,86%) 0px, hsl(0,0%,86%) 1px, hsla(0,0%,86%,0) 1px );
    background-size: 18px;
    background-clip: content-box;
}

.DomExplorer .NodeList .Tree-list-row {
    padding: 0;
}

.DomExplorer.is-drawerOpen {
    padding-bottom: 48px;
}

/* drawer toggle button */
.DomExplorer-drawerButton.matte-Button {
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 20px;
    color: hsl(0, 0%, 50%);
    -webkit-font-smoothing: none;
    -moz-font-smoothing: none;
    -ms-font-smoothing: none;
    font-smoothing: none;
    -webkit-transition: -webkit-transform .12s;
    -moz-transition: -moz-transform .12s;
    -ms-transition: -ms-transform .12s;
    transition: transform .12s;
    margin: 0;
    padding: 0;
    height: 32px;
    width: 32px;
    min-width: 0;
    border: none;
    background-color: hsl(0, 0%, 92%);
    font-weight: bold;
    border-radius: 16px;
    line-height: 0;
    text-align: center;
}

.DomExplorer-drawerButton.matte-Button:hover {
    background-color: hsl(0, 0%, 96%);
}

.DomExplorer-drawerButton.matte-Button:active {
    background-color: hsl(0, 0%, 88%);
}

.DomExplorer.is-drawerOpen .DomExplorer-drawerButton {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: hsla(0, 0%, 92%, 0);
}
