.DomExplorer {

}

.NodeList {
    padding: 8px;
    font-size: 11px;
    background: -webkit-linear-gradient( left, hsla(0,0%,0%,.15) 0px, hsla(0,0%,0%,.15) 1px, hsla(0,0%,0%,0) 1px );
    background-size: 20px;
    background-clip: content-box;
}