.InnerTemplateInspector {
    position: relative;
    z-index: 1;
    border-radius: 6px;
    box-shadow: 0 5px 10px hsla(0,0%,0%,.4);
    background: hsl(0,0%,96%);
    border: 3px solid hsl(0,0%,30%);
    border-top: none;
    -webkit-animation: InnerTemplateInspector_slidein .24s cubic-bezier(.3,.3,0,1);
}

@-webkit-keyframes InnerTemplateInspector_slidein {
    0% {
        -webkit-transform: translate3d(0,20px,0);
        opacity: 0;
    }
}

.InnerTemplateInspector:after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    left: 50%;
    bottom: -8px;
    background: -webkit-linear-gradient(45deg, hsla(0,0%,30%,1) 50%, hsla(0,0%,30%,0) 50% );
    -webkit-transform: rotate(-45deg);
}

.InnerTemplateInspector-header {
    padding: 6px 10px;
    margin: 0 -3px 0 -3px;
    font-size: 14px;
    color: hsl(0, 0%, 80%);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    box-shadow: 0 1px 2px hsla(0,0%,0%,.3);
    background: -webkit-linear-gradient(hsl(0,0%,40%),hsl(0,0%,30%));
}


.InnerTemplateInspector-content {
    padding: 10px;
}

