.BindingEntry {
    margin-bottom: 4px;
    display: -webkit-flex;
    cursor: pointer;
}

.BindingEntry-pill {
    padding: 0 8px;
    font-size: 11px;
    color: hsl(0,0%,30%);
    line-height: 22px;
    background: hsl(0,0%,90%);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.BindingEntry:hover .BindingEntry-pill {
    background: hsl(0,0%,86%);
}

.BindingEntry:active .BindingEntry-pill {
    background: hsl(0,0%,84%);
}

.BindingEntry-pill:first-of-type {
    width: 80px;
    text-align: right;
    border-radius: 11px 4px 4px 11px;
}

.BindingEntry-pill:last-of-type {
    -webkit-flex: 1;
    min-width: 0;
    border-radius: 4px 11px 11px 4px;
}

.BindingEntry-direction {
    position: relative;
    margin: 0 4px;
    width: 22px;
    height: 22px;
    border-radius: 4px;
    background: hsl(210,100%,90%);
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.BindingEntry-direction:before,
.BindingEntry-direction:after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    top: 9px;
    background-color: inherit;
}

.BindingEntry-direction:before {
    left: -4px;
}

.BindingEntry-direction:after {
    right: -4px;
}


.BindingEntry-direction--unidirectional {
    background-image: url(/assets/icons/binding-un.svg);
}

.BindingEntry-direction--bidirectional {
    background-image: url(/assets/icons/binding-bi.svg);
}


/* Remove Button ---------------------------- */

.BindingEntry .BindingEntry-removeButton {
    width: 22px;
    height: 22px;
    min-width: 0;
    margin: 0 4px;
    padding: 0;
    line-height: 0;
    font-size: 12px;
    color: hsl(0,0%,60%);
    border-radius: 11px;
    border-color: hsl(0,0%,90%);
    background-color: transparent;
}

.BindingEntry .BindingEntry-removeButton:hover {
    border-color: hsl(0,0%,76%);
    background: -webkit-linear-gradient( hsl(120,0%,97%), hsl(120,0%,88%) );
}

.BindingEntry .BindingEntry-removeButton.active {
    background: hsl(0,0%,84%);
    box-shadow: 0 1px 2px hsla(0,0%,0%,.06);
}
