.FileCell {
    font-size: 11px;
    white-space: nowrap;
}

.FileCell .montage-invisible {
    display: inline-block;
    visibility: hidden;
}


/* Toggle --------------------------------- */

.FileCell .FileCell-toggle {
	-webkit-appearance: none;
    position: relative;
	margin: 0;
	width: 14px;
	color: hsl(0,0%,50%);
	border: none;
	border-radius: 0;
	background: url(/assets/icons/toggle.svg) no-repeat left center;
	background-size: 14px;
	-webkit-transform-origin: 6px center;
	-webkit-transition: -webkit-transform .1s ease-in-out;
}

.FileCell .FileCell-toggle:checked {
	-webkit-transform: rotate(90deg);
}



/* Button --------------------------------- */

.FileCell .FileCell-button.open,
.FileCell .FileCell-button.open:hover {
    font-weight: bold;
    color: hsl(0,0%,20%);
    border-radius: 4px;
    background-color: hsla(0,0%,100%,1);
    box-shadow: 0 1px 3px hsla(0,0%,0%,0.1);
}

.FileCell .FileCell-button {
	-webkit-appearance: none;
	text-align: left;
	height: auto;
    min-height: 16px;
	min-width: 0;
	margin: 0;
	border-radius: 0;
    border: none;
    font-size: inherit;
    color: hsl(0,0%,40%);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.3);    
    background: none;
    background-repeat: no-repeat;
    padding-left: 22px;
    background-size: 14px;
    background-position: 2px center;
}

.FileCell .FileCell-button:hover,
.FileCell .FileCell-button:active,
.FileCell .FileCell-button:focus {
    border-color: transparent;
    background-color: transparent;
}

.FileCell .FileCell-button.folder {     background-image: url(/assets/icons/folder.png); }
.FileCell .FileCell-button.html {       background-image: url(/assets/icons/file-html.png); }
.FileCell .FileCell-button.css {        background-image: url(/assets/icons/file-css.png); }
.FileCell .FileCell-button.js {         background-image: url(/assets/icons/file-js.png); }
.FileCell .FileCell-button.json {       background-image: url(/assets/icons/file-json.png); }
.FileCell .FileCell-button.image {      background-image: url(/assets/icons/image.svg); }
.FileCell .FileCell-button.reel {       background-image: url(/assets/icons/reel.png); }
.FileCell .FileCell-button.package {    background-image: url(/assets/icons/package.png); }
