.Status {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 16px;
    line-height: 32px;
    height: 32px;
    z-index: 2000;
    display: none;
}

.Status--visible {
    display: block;
}

.Status--minor {
    background: hsl(38, 100%, 66%);
    color: hsl(38, 25%, 20%);
}

.Status--major {
    background: hsl(0, 88%, 44%);
    color: #fff;
}

.Status-group--info {
    overflow-y: hidden;
    overflow-x: auto;
    margin-right: 120px;
    white-space: nowrap;
}

.Status-group--fixed {
    position: absolute;
    top: 0;
    right: 0;
}

.Status-title {
    margin-left: 0.5em;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    cursor: auto;
}

.Status-time {
    margin-left: 1em;
    font-size: .9em;
    font-style: italic;
}

.Status-link {
    margin-left: 1em;
    color: inherit;
    font-size: .9em;
}
.Status-link:hover {
    opacity: .7;
}
.Status-link:active {
    opacity: .5;
}

.Status-refreshButton.matte-Button {
    margin: 5px 0px 0 0;
    height: 24px;
    color: hsla(0, 100%, 100%, 1);
    border-color: hsl(0, 0%, 25%);
    border-radius: 12px;
    background: -webkit-linear-gradient(hsl(0, 0%, 50%), hsl(0, 0%, 40%));
    background: -moz-linear-gradient(hsl(0, 0%, 50%), hsl(0, 0%, 40%));
    background: -ms-linear-gradient(hsl(0, 0%, 50%), hsl(0, 0%, 40%));
    background: linear-gradient(hsl(0, 0%, 50%), hsl(0, 0%, 40%));
    vertical-align: top;
}

.Status-refreshButton.matte-Button:hover {
    color: hsla(0,0%,100%,.9);
    background: -webkit-linear-gradient(hsl(0, 0%, 54%), hsl(0, 0%, 44%));
    background: -moz-linear-gradient(hsl(0, 0%, 54%), hsl(0, 0%, 44%));
    background: -ms-linear-gradient(hsl(0, 0%, 54%), hsl(0, 0%, 44%));
    background: linear-gradient(hsl(0, 0%, 54%), hsl(0, 0%, 44%));
}

.Status-refreshButton.matte-Button.active {
    color: hsla(0,0%,100%,.7);
    background: -webkit-linear-gradient(hsl(0, 0%, 36%), hsl(0, 0%, 30%));
    background: -moz-linear-gradient(hsl(0, 0%, 36%), hsl(0, 0%, 30%));
    background: -ms-linear-gradient(hsl(0, 0%, 36%), hsl(0, 0%, 30%));
    background: linear-gradient(hsl(0, 0%, 36%), hsl(0, 0%, 30%));
}

.Status-closeButton.matte-Button {
    padding: 0;
    margin: 0;
    height: 32px;
    width: 32px;
    min-width: 32px;
    line-height: 32px;
    color: inherit;
    font-size: 20px;
    border-radius: 0;
    border: none;
    background-color: hsla(0, 0%, 100%, 0.25);
    cursor: pointer;
    vertical-align: top;
}

.Status-closeButton.matte-Button:hover {
    background-color: hsla(0,0%,100%,.15);
}

.Status-closeButton.matte-Button.active {
    background-color: hsla(0,0%,0%,.3);
}

.Status--minor .Status-closeButton.matte-Button {
    background-color: hsla(0, 0%, 100%, 0.5);
}

.Status--minor .Status-closeButton.matte-Button:hover {
    background-color: hsla(0,0%,100%,.8);
}

.Status--minor .Status-closeButton.matte-Button.active {
    background-color: hsla(0,0%,0%,.1);
}