
.Main {

}

/* Aside --------------------------------- */

.Aside-title {
    margin: 0;
    font-size: 1.8em;
    font-weight: 200;
    color: #fff;
}

.Aside-list {
    list-style: none;
    text-align: left;
    padding: 0;
    font-size: 0.85em;
}

.Aside-list li {
    display: table-row;
}

.Aside-list span {
    display: table-cell;
    padding: 0.6em;
    vertical-align: middle;
}

.Aside-list .Aside-linkButton {
    display: block;
    width: 100%;
}

.Aside-links a {
    display: inline-block;
    margin: 0 .5em;
}






/* Projects --------------------------------- */

.Projects {
    position: absolute;
    top: 0;
    left: 512px;
    right: 0;
    bottom: 0;
    color: hsl(0, 0%, 26%);
    background-color: #fff;
    overflow: auto; 
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.Projects-content {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-flex: 1;
    flex: 1;
    max-width: 512px;
    margin: 0 auto;
    padding: 0 3rem;
    text-align: center;
}

.Projects-section {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    padding: 0.8rem 0;
}

.Projects-section:first-child {
    padding-top: 3rem;
}

.Projects-section:last-child {
    padding-bottom: 3rem;
}


/* User --------------------------------- */

.User {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0.8rem;
    border-bottom: 1px solid hsl(0, 0%, 90%);
    background: hsl(0, 0%, 95%);
}

.User-avatar {
    width: 40px;
    height: 40px;
    border-radius: 32px;
}

.User-name {
    font-size: 1.4em;
    color: hsl(0, 0%, 50%);
    display: block;
    margin-left: .5em;
}

.User-logout {
    position: absolute;
    top: 16px;
    right: 0.5rem;
    margin: auto 1em;
}


/* Header --------------------------------- */

.Header {
    margin-bottom: 1rem;
    position: relative;
}

.Header-title {
    flex: 1;
    line-height: 1;
    font-size: 1.4em;
    font-weight: 400;
    margin: 0;
}


/* New Form --------------------------------- */

.NewForm {
    padding: 1rem;
    border: 1px solid hsla(0, 0%, 0%, 0.1);
    text-align: left;
    background: hsl(0, 0%, 96%);
}

.NewForm-fieldset {
    border: none;
    margin: 0 0 1rem 0;
    padding: 0;
}

.NewForm-label {
    display: block;
    font-size: .85em;
    line-height: 1;
    margin-bottom: .4em;
    color: hsl(0, 0%, 50%);
}

.NewForm-bar {
    text-align: right;
}

.NewForm-bar .Button:last-child {
    margin-right: 0;
}

.NewForm .matte-InputText,
.NewForm .matte-Textarea {
    font-family: inherit;
    border-color: hsl(0, 0%, 80%);
    background-color: hsla(0, 100%, 100%, 0.7);
    width: 100%;
    color: inherit;
    font-size: inherit;
    height: auto;
    margin: 0;
}

.NewForm .matte-InputText:hover,
.NewForm .matte-Textarea:hover {
    background-color: hsla(0,0%,100%,1);
}

.NewForm .matte-InputText:focus,
.NewForm .matte-Textarea:focus {
    border-color: hsl(210,100%,70%);
    background-color: hsla(0,0%,100%,1);
}

.NewForm-error {
    font-size: .9em;
    color: hsl(10, 80%, 54%);
}



/* History --------------------------------- */

.History {
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-height: 174px;
}

.History-empty {
    margin: 1em 0;
    color: hsl(0, 0%, 72%);
}



/* History List ---------------------------- */

.History-list {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: scroll;
    -webkit-flex: 1 1 0;
    flex: 1 1 0;
    min-height: 0em;
    border: 1px solid hsla(0, 0%, 0%, 0.1);
    text-align: left;
}



/* Progress --------------------------------- */

.Projects-progress.matte-Progress {
    width: 100%;
    margin: -18px 0 0 0;
    border: 1px solid hsl(0, 0%, 80%);
    background-color: hsl(0, 0%, 84%);
    transition: height .3s;
    overflow: hidden;
    position: absolute;
    left: 0;
}

.Projects-progress.matte-Progress .matte-Progress-bar {
    height: 8px;
    background-color: hsl(0,0%,96%);
}

.Projects-progress.is-done {
    height: 0px;
    border: none;
}



/* Buttons --------------------------------- */

.Button.matte-Button {
    white-space: nowrap;
    font-family: inherit;
    font-size: inherit;
    height: auto;
    padding: 0.4em 1em;
    color: hsla(0,0%,0%,.7);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.5);
    border-color: hsl(0,0%,80%);
    background-image: linear-gradient( hsl(0,0%,98%), hsl(0,0%,94%) );
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.8), inset 0 -1px 1px hsla(0,0%,0%,.04), 0 1px 0 hsla(0,0%,100%,.6);
}

.Button.matte-Button:hover {
    background-image: linear-gradient( hsl(0,0%,100%), hsl(0,0%,92%) );
}

.Button.matte-Button.active {
    background-image: linear-gradient( hsl(0,0%,90%), hsl(0,0%,90%) );
    box-shadow: inset 0 -1px 1px hsla(0,0%,0%,.04), 0 1px 0 hsla(0,0%,100%,.6);
}

.Button.matte-Button:focus {
    border-color: inherit;
}

.Button.matte-Button.disabled {
    border-color: hsl(0,0%,87%);
    color: hsl(0,0%,70%);
    background: hsl(0,0%,94%);
    box-shadow: none;
    pointer-events: none;
}


/* Button Action */

.Button.Button--action {
    color: hsla(0,0%,100%,1);
    text-shadow: 0 1px 0 hsla(0,0%,0%,.1);
    border-color: hsl(210,100%,50%);
    background-color: hsl(210,100%,56%);
    background-image: linear-gradient( hsl(210,100%,66%), hsl(210,100%,56%) );
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.15), 0 1px 0 hsla(0,0%,100%,.6);
}

.Button.Button--action:hover {
    color: hsla(0,0%,100%,1);
    background-image: linear-gradient( hsl(210,100%,70%), hsl(210,100%,60%) );
}

.Button.Button--action.active {
    background-image: linear-gradient( hsl(210,100%,56%), hsl(210,100%,56%) );
    box-shadow: 0 1px 0 hsla(0,0%,100%,.6);
}

.Button.Button--action:focus {
    border-color: hsl(210,100%,20%);
}


/* Button New */

.NewProjectButton {
    position: relative;
    padding: .8rem .8rem .8rem 4em;
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 0;
    font-size: inherit;
    text-align: left;
    color: inherit;
    border: 1px solid hsla(0, 0%, 0%, 0.1);
    background-color: hsl(0, 0%, 96%);
}

.NewProjectButton:hover {
    background-color: hsl(0, 0%, 98%);
}

.NewProjectButton:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 3em;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    border-right: 1px solid hsla(0,0%,0%,.06);
    background: no-repeat center;
    background-image: url(../../assets/images/plus.svg);
}


/* Button Link ---------------------------- */

.ButtonLink,
.ButtonLink:active {
    border-radius: 0;
    border: none;
    background: transparent;
    font-size: 0.8em;
    color: hsl(0, 0%, 50%);
    padding: 0 0.5em;
}

.ButtonLink:hover {
    color: hsl(0, 0%, 26%);
    background: transparent;
}

.ButtonLink.disabled {
    opacity: .5;
    pointer-events: none;
}

.ButtonLink[data-icon]:before {
    content: "";
    background: no-repeat center center;
    width: 16px;
    height: 16px;
    line-height: 16px;
    display: inline-block;
    margin-right: .5em;
    vertical-align: top;
}

.ButtonLink[data-icon="signout"]:before { background-image: url(/assets/icons/sign-out.svg); }
.ButtonLink[data-icon="private"]:before { background-image: url(/assets/icons/private.svg); }
.ButtonLink[data-icon="delete"]:before { background-image: url(/assets/icons/delete.svg); }




/* Refresh Button ---------------------------- */

.Projects-refreshButton {
    position: absolute;
    top: 0;
    right: 0;
    width: 1em;
    min-width: 0;
    height: 1em;
    line-height: 1;
    margin: 0;
    padding: 0 0 0 2px;
    background: transparent;
    border: 0px;
    font-size: 1.4em;
    font-weight: 600;
    color: hsl(0, 0%, 72%);
    box-shadow: none;
    border-radius: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: -webkit-transform .4s cubic-bezier(.70, 0, .30, 1);
       -moz-transition:    -moz-transform .4s cubic-bezier(.70, 0, .30, 1);
        -ms-transition:     -ms-transform .4s cubic-bezier(.70, 0, .30, 1);
            transition:         transform .4s cubic-bezier(.70, 0, .30, 1);
}

.Projects-refreshButton:hover {
    color: hsl(0, 0%, 50%);
    background: transparent;
    -webkit-transform: rotate(405deg);
       -moz-transform: rotate(405deg);
        -ms-transform: rotate(405deg);
         -o-transform: rotate(405deg);
            transform: rotate(405deg);
}

.Projects-refreshButton:active {
    background: transparent;
}

.Projects-refreshButton:before {
    content: "\21BB";
}



/* Responsive --------------------------------- */

@media (max-width: 900px) {

    .Projects {
        position: relative;
        left: initial;
    }

    .Projects-content {
        display: block;
        height: auto;
    }
}
