
.Main {
    
}

/* Aside --------------------------------- */

.Aside-title {
    //text-align: left;
    font-size: 1.8em;
    font-weight: 200;
    color: #fff;
    margin: 0;
}

.Aside-list {
    list-style: none;
    text-align: left;
    padding: 0;
    font-size: 0.85em;
}

.Aside-list li {
    display: table-row;
}

.Aside-list span {
    display: table-cell;
    padding: 0.6em;
    vertical-align: middle;
}

.Aside-list a,
.Aside-list button,
.Aside-list button:active {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0 0.8em;
    line-height: 2;
    color: hsl(212, 60%, 72%);
    font-family: inherit;
    font-size: inherit;
    border: 1px solid;
    border-radius: 0.5em;
    white-space: nowrap;
    text-align: center;
    background: transparent;
}

.Aside-list button:hover {
    color: hsl(212, 60%, 80%);
    background: transparent;
}


.Aside-links a {
    display: inline-block;
    margin: 0 .5em;
}






/* Projects --------------------------------- */

.Projects {
    position: absolute;
    top: 0;
    left: 512px;
    right: 0;
    bottom: 0;
    color: hsl(0, 0%, 26%);
    background-color: #fff;
    overflow: auto;
}

.Projects-content {
    max-width: 480px;
    margin: 0 auto;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
}

.Projects-section {
    -webkit-flex: 0 0 auto;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    padding: 0.8rem 0;
}

.Projects-section:first-child {
    padding-top: 3rem;
}

.Projects-section:last-child {
    padding-bottom: 3rem;
}


/* User --------------------------------- */

.User {
    display: block;
    margin: 0 0 15px 0;
    text-align: center;
}

.User-avatar {
    width: 60px;
    height: 60px;
    border-radius: 30PX;
}

.User-name {
    font-size: 1.4em;
    color: hsl(0, 0%, 72%);
    display: block;
}



/* New Form --------------------------------- */

.NewForm {
    padding: 1rem;
    border: 1px solid hsla(0, 0%, 0%, 0.1);
    text-align: left;
    background: hsl(0, 0%, 96%);
}

.NewForm-fieldset {
    border: none;
    margin: 0 0 1rem 0;
    padding: 0;
}

.NewForm-label {
    display: block;
    font-size: .85em;
    line-height: 1;
    margin-bottom: .4em;
    color: hsl(0, 0%, 50%);
}

.NewForm-bar {
    text-align: right;
}

.NewForm-bar .Button:last-child {
    margin-right: 0;
}

.NewForm .matte-InputText,
.NewForm .matte-Textarea {
    font-family: inherit;
    border-color: hsl(0, 0%, 80%);
    background-color: hsla(0, 100%, 100%, 0.7);
    width: 100%;
    color: inherit;
    font-size: inherit;
    height: auto;
    margin: 0;
}

.NewForm .matte-InputText:hover,
.NewForm .matte-Textarea:hover {
    background-color: hsla(0,0%,100%,1);
}

.NewForm .matte-InputText:focus,
.NewForm .matte-Textarea:focus {
    border-color: hsl(210,100%,70%);
    background-color: hsla(0,0%,100%,1);
}

.NewForm-error {
    font-size: .9em;
    color: hsl(10, 80%, 54%);
}



/* List --------------------------------- */

.History {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 174px;
}

.History-filter {
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.History-filter-item {
    display: inline-block;
    margin: 0 5px;
    font-size: .9em;
}

.History-empty {
    margin-top: 1em;
    color: hsl(0, 0%, 70%);
    text-align: center;
    font-size: 14px;
}


/* List ---------------------------- */

.History-list {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: scroll;
    -webkit-flex: 1 1 0;
    -moz-flex: 1 1 0;
    -ms-flex: 1 1 0;
    flex: 1 1 0;
    min-height: 0em;
    border: 1px solid hsla(0, 0%, 0%, 0.1);
    text-align: left;
}



/* Progress --------------------------------- */

.Projects-progress.matte-Progress {
    width: 100%;
    margin: -20px 0 0 0;
    border: 1px solid hsl(0, 0%, 80%);
    background-color: hsl(0, 0%, 84%);
    transition: height .3s;
    overflow: hidden;
    position: absolute;
    left: 0;
}

.Projects-progress.matte-Progress .matte-Progress-bar {
    height: 8px;
    background-color: hsl(0,0%,96%);
}

.Projects-progress.is-done {
    height: 0px;
    border: none;
}




/* Buttons --------------------------------- */

.Button.matte-Button {    
    white-space: nowrap;
    font-family: inherit;
    font-size: inherit;
    height: auto;
    padding: 0.4em 1em;
    color: hsla(0,0%,0%,.7);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.5);
    border-color: hsl(0,0%,80%);
    background-image: linear-gradient( hsl(0,0%,98%), hsl(0,0%,94%) );
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.8), inset 0 -1px 1px hsla(0,0%,0%,.04), 0 1px 0 hsla(0,0%,100%,.6);
}

.Button.matte-Button:hover {
    background-image: linear-gradient( hsl(0,0%,100%), hsl(0,0%,92%) );
}

.Button.matte-Button.active {
    background-image: linear-gradient( hsl(0,0%,90%), hsl(0,0%,90%) );
    box-shadow: inset 0 -1px 1px hsla(0,0%,0%,.04), 0 1px 0 hsla(0,0%,100%,.6);
}

.Button.matte-Button:focus {
    border-color: inherit;
}

.Button.matte-Button.disabled {
    border-color: hsl(0,0%,87%);
    color: hsl(0,0%,70%);
    background: hsl(0,0%,94%);
    box-shadow: none;
    pointer-events: none;
}


/* Button Action */

.Button.Button--action {    
    color: hsla(0,0%,100%,1);
    text-shadow: 0 1px 0 hsla(0,0%,0%,.1);
    border-color: hsl(210,100%,50%);
    background-color: hsl(210,100%,56%);
    background-image: linear-gradient( hsl(210,100%,66%), hsl(210,100%,56%) );
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.15), 0 1px 0 hsla(0,0%,100%,.6);
}

.Button.Button--action:hover {
    color: hsla(0,0%,100%,1);
    background-image: linear-gradient( hsl(210,100%,70%), hsl(210,100%,60%) );
}

.Button.Button--action.active {
    background-image: linear-gradient( hsl(210,100%,56%), hsl(210,100%,56%) );
    box-shadow: 0 1px 0 hsla(0,0%,100%,.6);
}

.Button.Button--action:focus {
    border-color: hsl(210,100%,20%);
}


/* Button New */

.Button.Button--new {
    position: relative;
    padding-left: 3.5em;
    width: 100%;
    margin: 0;
}

.Button.Button--new:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 2.5em;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    border-right: 1px solid hsla(0,0%,0%,.06);
    background: hsla(0,0%,0%,.06) no-repeat center;
    background-image: url(../../assets/images/plus.svg);
}

.Button--private {
    width: 100%;
    margin: 0;
}



/* Refresh Button ---------------------------- */

.Projects-refreshButton {
    width: 1em;
    min-width: 0;
    height: 1em;
    line-height: 1;
    margin: 0 0.4em 0 0;
    padding: 0 0 0 2px;
    background: transparent;
    border: 0px;
    font-size: 1.6em;
    font-weight: 600;
    color: hsl(0, 0%, 72%);
    box-shadow: none;
    border-radius: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: -webkit-transform .4s cubic-bezier(.70, 0, .30, 1);
       -moz-transition:    -moz-transform .4s cubic-bezier(.70, 0, .30, 1);
        -ms-transition:     -ms-transform .4s cubic-bezier(.70, 0, .30, 1);
            transition:         transform .4s cubic-bezier(.70, 0, .30, 1);
}

.Projects-refreshButton:hover {
    color: hsl(0, 0%, 50%);
    background: transparent;
    -webkit-transform: rotate(405deg);
       -moz-transform: rotate(405deg);
        -ms-transform: rotate(405deg);
         -o-transform: rotate(405deg);
            transform: rotate(405deg);
}

.Projects-refreshButton:active {
    background: transparent;
}

.Projects-refreshButton:before {
    content: "\21BB";
}



/* Responsive --------------------------------- */

@media (max-width: 900px) {
    
    .Projects {
        position: relative;
        left: initial;
    }
    
    .Projects-content {
        display: block;
        height: auto;
    }
}

