
.Main {
    text-shadow: 0 1px 0 hsla(0,0%,100%,.5);
    -webkit-user-select: none;
    cursor: default;
}


/* Intro --------------------------------- */

.Intro {
    margin: 40px;
    color: hsl(0,0%,50%);
    text-align: center;
    -webkit-animation: Intro-fade .4s cubic-bezier(0, 0.7, 0.3, 1);
}

@-webkit-keyframes Intro-fade {
    0% {
        opacity: 0;
        -webkit-transform: translateX(60px);
    }
}

.Intro a,
.Intro a:active {
    text-decoration: none;
    color: hsl(212, 56%, 58%);
}

.Intro a:hover {
    color: hsl(212, 56%, 38%);
}

.Intro-logo {
    display: block;
    margin: auto;
}

.Intro-info {
    margin: 0.2em 0;
}

.Intro-version {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    -webkit-user-select: text;
    cursor: text;
    padding: 0.2em 0.4em;
    border-radius: 4px;
    border: 1px solid hsl(0, 0%, 75%);
    vertical-align: middle;
}

.Intro-support {
    margin-left: .5em;
    font-size: 12px;
}

.Intro-links,
.Intro-examples {
    padding: 0;
    list-style: none;
}

.Intro-meta {
    font-size: 11px;
    color: hsl(0, 0%, 70%);
    text-align: center;
}



/* Examples --------------------------------- */

.Intro-examples--featured {
    margin: 2em 0;
    text-align: left;
}

.Intro-examples--featured .Intro-examples-image {
    -webkit-box-shadow: 0 0 2px hsla(0,0%,30%,0.5);
    margin-bottom: 0.2em;
}

.Intro-examples--featured .Button {
    min-width: 10em;
}

.Intro-examples-description {
    margin: 0.2em 0 0.5em;
    text-align: left;
}

/* Launcher --------------------------------- */

.Launcher {
    margin: 40px;
    -webkit-animation: Launcher-fade .4s cubic-bezier(0, 0.7, 0.3, 1);
}

@-webkit-keyframes Launcher-fade {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-60px);
    }
}

.Launcher-section {
    -webkit-flex: 0 0 auto;
    margin: 10px 0;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid hsla(0, 0%, 0%, .1);
    background: hsla(0,0%,0%,.04);
    box-shadow: inset 0 1px 2px hsla(0,0%,0%,0.06), 0 1px 0 hsla(0,0%,100%,1);
}

.Launcher-title {
    margin: 0 0 10px 0;
    font-size: 20px;
    font-weight: normal;
    color: hsl(0, 0%, 50%);
    text-shadow: 0 1px 0 hsla(0, 0%, 100%, .3);
    text-align: center;
}

.History-progress {
    -webkit-transition: height .3s;
    -moz-transition: height .3s;
    -moz-transition: height .3s;
    transition: height .3s;
    overflow: hidden;
}

.History-progress.is-done {
    height: 0px;
    border: none !important;
}

/* Action --------------------------------- */

.Launcher-section .Action {
    display: -webkit-flex;
}

.Action-button {
    -webkit-flex: 1;
    position: relative;
    margin: 0;
    padding-left: 3.2em;
    font-size: 16px;
    color: hsla(0,0%,100%,1);
    text-shadow: 0 1px 0 hsla(0,0%,0%,.1);
    border-radius: 4px;
    background-color: hsl(210,100%,56%);
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.15), 0 1px 0 hsla(0,0%,100%,.6);
}

.Action-button:hover {
    color: hsla(0,0%,100%,1);
}

.Action-button.active {
    box-shadow: 0 1px 0 hsla(0,0%,100%,.6);
}

.Action-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 2.5em;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    border-right: 1px solid hsla(0,0%,0%,.06);
    background: hsla(0,0%,0%,.06) no-repeat center;
}


/* New */

.Action-button--new {
    border-color: hsl(210,100%,56%);
    background-image: -webkit-linear-gradient(top, hsl(210,100%,72%), hsl(210,100%,62%) );
}

.Action-button--new:hover {
    background-image: -webkit-linear-gradient(top, hsl(210,100%,76%), hsl(210,100%,64%) );
}

.Action-button--new.active {
    background-image: -webkit-linear-gradient(top, hsl(210,100%,66%), hsl(210,100%,56%) );
}

.Action-button--new:before {
    background-image: url(../../assets/images/plus.svg);
}


/* Open */

.Action-button--open {
    border-color: hsl(170,80%,40%);
    background-image: -webkit-linear-gradient(top, hsl(170,80%,48%), hsl(170,80%,42%) );
}

.Action-button--open:hover {
    background-image: -webkit-linear-gradient(top, hsl(170,80%,50%), hsl(170,80%,44%) );
}

.Action-button--open.active {
    background-image: -webkit-linear-gradient(top, hsl(170,80%,44%), hsl(170,80%,38%) );
}

.Action-button--open:before {
    background-image: url(../../assets/images/open.svg);
}

/* Form Fields --------------------------------- */

.NewForm {
    padding: 15px;
}

.NewForm-field {
    display: block;
    margin-bottom: 4px;
    line-height: 30px;
    font-size: .9em;
    text-align: right;
    vertical-align: top;
}

.NewForm-bar {
    text-align: right;
}

.NewForm .matte-InputText,
.NewForm .matte-Textarea {
    font-family: inherit;
    border-color: hsl(0, 0%, 70%);
    background-color: hsla(0, 100%, 100%, 0.7);
    box-shadow: inset 0 1px 2px hsla(0, 0%, 0%, 0.08), 0 1px 0 hsla(0, 100%, 100%, 0.6);
}

.NewForm .matte-InputText:hover,
.NewForm .matte-Textarea:hover {
    background-color: hsla(0,0%,100%,1);
}

.NewForm .matte-InputText:focus,
.NewForm .matte-Textarea:focus {
    border-color: hsl(210,100%,70%);
    background-color: hsla(0,0%,100%,1);
}

.NewForm-error {
    font-size: .9em;
    color: hsl(10, 80%, 54%);;
}

/* List --------------------------------- */

.History {
    -webkit-flex: 1;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    min-height: 166px;
}

.History-filter {
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.History-filter-item {
    display: inline-block;
    margin: 0 5px;
    font-size: .9em;
}


.History-progress.matte-Progress {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid hsl(0, 0%, 80%);
    background-color: hsl(0, 0%, 84%);
}

.History-progress.matte-Progress .matte-Progress-bar {
    height: 8px;
    background-color: hsl(0,0%,96%);
}

.History-empty {
    margin-top: 1em;
    color: hsl(0, 0%, 70%);
    text-align: center;
    font-size: 14px;
}

.History-list {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: scroll;
    -webkit-flex: 1 1 0;
    min-height: 0;
}

.History-list-item {
    padding: 8px 16px;
    font-size: 14px;
    line-height: 24px;
    border-top: 1px solid hsla(0, 0%, 100%, .5);
    border-bottom: 1px solid hsla(0, 0%, 0%, .1);
    background-color: hsla(0,0%,100%,.6);
    cursor: pointer;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.History-list-item:hover {
    background-color: hsla(0,0%,100%,.8);
}

.History-list-item:active {
    border-top: 1px solid hsla(0, 0%, 100%, .1);
    background-color: hsla(210,100%,50%,.1);
}

.History .matte-RadioButton {
    border-color: hsl(0, 0%, 70%);
    background-color: hsla(0, 100%, 100%, 0.7);
    box-shadow: inset 0 1px 2px hsla(0, 0%, 0%, 0.08), 0 1px 0 hsla(0, 100%, 100%, 0.6);
}

.History .matte-RadioButton:hover {
    background-color: hsla(0,0%,100%,1);
}

.History .matte-RadioButton:focus {
    border-color: hsl(210,100%,70%);
    background-color: hsla(0,0%,100%,1);
}

/* User --------------------------------- */

.User {
    display: block;
    margin: 0 0 15px 0;
    text-align: center;
}

.User-avatar {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    vertical-align: middle;
    border: 1px solid hsla(0, 0%, 0%, 0.15);
}

.User-name {
    margin-left: 10px;
    line-height: 40px;
    font-size: 20px;
    vertical-align: middle;
    color: hsl(0, 0%, 50%);
}




/* Respsonsive --------------------------------- */

@media (min-width:640px) {

    html,
    body {
        height: 100%;
    }

    .Main {
        display: -webkit-flex;
        justify-content: center;
        height: 100%;
    }

    .Intro {
        width: 320px;
        align-self: center;
    }

    .Launcher {
        width: 320px;
        display: -webkit-flex;
        -webkit-flex-direction: column;
        -webkit-justify-content: center;
    }
}

@media (min-width:640px) and (max-height:600px) {
    .Main {
        height: auto;
    }

    .Intro {
        align-self: flex-start;
    }
}
