.SceneGraph {
    background-color: #424242;
    flex-direction: column;
}

.SceneGraph .SceneGraphTree {
    overflow-y: auto;
    padding: 5px 5px 5px 10px;
}

.SceneGraph .TreeCell {
}

.SceneGraph .TreeCell:-webkit-drag {
    height: 19px;
    width: 21px;
}

.SceneGraph .TreeCell-label {
    color: hsl(0, 0%, 80%);
    font-size: 13px;
    margin-left: 4px;
    padding: 2px 4px; *;
}

.SceneGraph .TreeCell .TreeCell-label--selected {
    background-color: #1F1F1F;
}
