.PanelDependencyErrorsList {
    display: -webkit-flex;
    -webkit-flex: 5;
    display: flex;
    flex: 5;
    margin-left: 40px;
    padding: 0;
    list-style: none;
}

.PanelDependencyErrorsCell {
    display: -webkit-flex;
    -webkit-flex: 1;
    display: flex;
    flex: 1;
    line-height: 26px;
}

.PanelDependencyErrorsActions {
    display: -webkit-flex;
    -webkit-flex: 1;
    display: flex;
    flex: 1;
    justify-content: center;
    min-width: 96px;
}
