
.Firstrun {
    position: relative;
    -webkit-flex: 1;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    /-webkit-justify-content: center;
    -webkit-align-content: center;
    height: 100%;
}