.FunctionCell {
    display: flex;
    align-items: center;
}

.FunctionCell-icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 14px;
    background-image: url(/assets/icons/function.svg);
}

.FunctionCell--isDefault .montage-Text {
    font-style: italic;
}
