.PackageDependenciesGroup {
    margin-bottom: 10px;
}

.PackageDependenciesGroup.hidden {
    display: none;
}

.PackageDependenciesGroup-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
