.PackageDependenciesGroup {
}

.PackageDependenciesGroup.hidden {
    display: none;
}

.PackageDependenciesGroup.willAcceptDrop {
    border: 2px dashed #2E88CF;
    border-radius: 5px;
    padding: 4px;
}

.PackageDependenciesGroup-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.element-disablePointerEvents {
    pointer-events: none;
}
