
.main {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    height: 100%;
}

.workShop {
    -webkit-flex: 1 1 auto;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    position: relative;
}

.workShop .Workbench {
	-webkit-flex: 1;
	border: 10px solid hsl(0,0%,30%);
	border-bottom: none;
	box-sizing: border-box;
}


/* States */

.palettes-hidden .Library,
.palettes-hidden .Configurator {
    display: none;
}

.palettes-hidden .editorSlot {
    display: block;
    position: relative;
    width: 500px;
}
