/*
    ContextualMenu is basically a menuItem with only a repetition,
    it borrows classes from MenuItem to help duplicating CSS
*/

.MenuOverlay-menu.ContextualMenu-Overlay {
    border-radius: 6px;
    border-top: 1px solid hsla(0, 100%, 100%, 0.12);
    border-bottom: 1px solid hsl(0, 0%, 28%);
    background: hsl(0, 0%, 25%);
    cursor: pointer;
    font-size: 13px;
    overflow: hidden;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.3);
}