/* Tab --------------------------------- */

.DocumentTab:first-child {
    border-top-left-radius: 0;
    margin-left: 0;
}

.DocumentTab {
    -webkit-flex: 1 1 auto;
    min-width: 0;
    max-width: 180px;
    display: -webkit-flex;
    -webkit-align-items: center;
    height: 28px;
    padding: 0 3px 0 8px;
    margin: 0 0 0 1px;
    line-height: 26px;
    font-size: 11px;
    font-weight: normal;
    border-radius: 6px 6px 0 0;
    color: hsl(0,0%,70%);
    background-color: hsla(0,0%,100%,.1);
    cursor: pointer;
    -webkit-transition: background-color .1s;
}

.DocumentTab:hover {
    background-color: hsla(0,0%,100%,.15);
}

.DocumentTab:active,
.DocumentTab:focus {
    background-color: hsla(0,0%,100%,.06);
    -webkit-transition-duration: .1s;
}

.DocumentTab.selected {
    color: hsl(0,0%,30%);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.3);
    border-top: 1px solid hsla(0,0%,100%,1);
    background-color: hsl(0, 0%, 96%);
    cursor: default;
}

.DocumentTab.selected:first-child {
    border-left: 1px solid hsl(0, 0%, 75%);
}


.DocumentTab .DocumentTab-label {
    display: block;
    -webkit-flex: 1 1 auto;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.DocumentTab.document-error .DocumentTab-label {
    color: red;
}

.DocumentTab .DocumentTab-close {
    width: 20px;
    height: 20px;
    min-width: 20px;
    margin-left: 3px;
    line-height: 20px;
    padding: 0;
    border-radius: 10px;
    border: none;
    color: inherit;
    background: transparent;
    cursor: pointer;
    -webkit-appearance: none;
}

.DocumentTab .DocumentTab-close:hover {
    color: inherit;
    background: hsla(0,0%,0%,.1);
}

.DocumentTab .DocumentTab-close:active {
    background: hsla(0,0%,0%,.3);
}

.DocumentTab .DocumentTab-close:before {
    content: "×";
}

/* Dirty Document ----------------------- */

.DocumentTab.document-dirty .DocumentTab-close:before {
    content: "●";
}

.DocumentTab.document-dirty .DocumentTab-close:hover:before {
    content: "×";
}
